# Pandas Library & Functions - data analysis and manipulation

   # Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

#pandas DF are combination of panda Series..
#one column data is a Series of one datatype, DF can have multiple data types

In [28]:
from pydataset import data
mtcars = data('mtcars')
mtcarsDF = mtcars
mtcarsDF.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
## Help
pd?

In [19]:
# data types
mtcarsDF.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

##    Describe data
data.describe(include=[np.number])  
data.describe()  
data.describe(include='all')  
data.numeric.describe()  
data.describe(include=[np.number])  
data.describe(include=[np.object])  
data.describe(include=['category'])  
data.describe(exclude=[np.number])  
data.describe(exclude=[np.object])

In [20]:
mtcarsDF.describe(include='all')

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [26]:
#change data type of few columns
mtcarsDF[['am', 'vs', 'gear', 'cyl', 'carb']] = mtcarsDF[['am', 'vs', 'gear', 'cyl', 'carb']].astype('category')
#mtcarsDF.carb = pd.Categorical(mtcarsDF.carb).codes  #code used for linear regression
mtcarsDF.dtypes

mpg      float64
cyl     category
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs      category
am      category
gear    category
carb    category
dtype: object

In [27]:
mtcarsDF.describe(include='all') #all column types
#category - count, unique, top, freq
#numeric - count, mean, std, min, max, Qs

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.0,32.000000,32.000000,32.000000,32.000000,32.000000,32.0,32.0,32.0,32.0
unique,NaN,3.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,3.0,6.0
top,NaN,8.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,3.0,1.0
freq,NaN,14.0,NaN,NaN,NaN,NaN,NaN,18.0,19.0,15.0,10.0
mean,20.090625,NaN,230.721875,146.687500,3.596563,3.217250,17.848750,NaN,NaN,NaN,NaN
std,6.026948,NaN,123.938694,68.562868,0.534679,0.978457,1.786943,NaN,NaN,NaN,NaN
min,10.400000,NaN,71.100000,52.000000,2.760000,1.513000,14.500000,NaN,NaN,NaN,NaN
25%,15.425000,NaN,120.825000,96.500000,3.080000,2.581250,16.892500,NaN,NaN,NaN,NaN
50%,19.200000,NaN,196.300000,123.000000,3.695000,3.325000,17.710000,NaN,NaN,NaN,NaN
75%,22.800000,NaN,326.000000,180.000000,3.920000,3.610000,18.900000,NaN,NaN,NaN,NaN
max,33.900000,NaN,472.000000,335.000000,4.930000,5.424000,22.900000,NaN,NaN,NaN,NaN

## Display certain data types

In [9]:
mtcarsDF.select_dtypes(include=['int64']).head()

                   cyl   hp  vs  am  gear  carb
Mazda RX4            6  110   0   1     4     4
Mazda RX4 Wag        6  110   0   1     4     4
Datsun 710           4   93   1   1     4     1
Hornet 4 Drive       6  110   1   0     3     1
Hornet Sportabout    8  175   0   0     3     2

In [10]:
mtcarsDF.select_dtypes(exclude=['int64']).head()  #display data types excl int64 ie decimal

                    mpg   disp  drat     wt   qsec
Mazda RX4          21.0  160.0  3.90  2.620  16.46
Mazda RX4 Wag      21.0  160.0  3.90  2.875  17.02
Datsun 710         22.8  108.0  3.85  2.320  18.61
Hornet 4 Drive     21.4  258.0  3.08  3.215  19.44
Hornet Sportabout  18.7  360.0  3.15  3.440  17.02

## Missing Values

In [38]:
mtcarsDF.isna().head()  #missing values

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,False,False,False,False,False,False,False,False,False,False,False
Mazda RX4 Wag,False,False,False,False,False,False,False,False,False,False,False
Datsun 710,False,False,False,False,False,False,False,False,False,False,False
Hornet 4 Drive,False,False,False,False,False,False,False,False,False,False,False
Hornet Sportabout,False,False,False,False,False,False,False,False,False,False,False

In [36]:
mtcarsDF.notna().head() #check each cell value

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,True,True,True,True,True,True,True,True,True,True,True
Mazda RX4 Wag,True,True,True,True,True,True,True,True,True,True,True
Datsun 710,True,True,True,True,True,True,True,True,True,True,True
Hornet 4 Drive,True,True,True,True,True,True,True,True,True,True,True
Hornet Sportabout,True,True,True,True,True,True,True,True,True,True,True

In [39]:
id(mtcarsDF) #storage location of data in memory

3087741712656

In [40]:
mtcars.empty #is DF empty, False here

False

In [41]:
mtcars.size  #memory size

352

In [42]:
mtcars.ndim   #dimensions

2

In [43]:
mtcars.axes  #axis values   - rowname, column name

[Index(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
        'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230',
        'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC',
        'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial',
        'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona',
        'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird',
        'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L',
        'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
       dtype='object'),
 Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
        'carb'],
       dtype='object')]

In [46]:
mtcars.values  #just the data without axis values, np array

array([[ 21.   ,   6.   , 160.   , 110.   ,   3.9  ,   2.62 ,  16.46 ,
          0.   ,   1.   ,   4.   ,   4.   ],
       [ 21.   ,   6.   , 160.   , 110.   ,   3.9  ,   2.875,  17.02 ,
          0.   ,   1.   ,   4.   ,   4.   ],
       [ 22.8  ,   4.   , 108.   ,  93.   ,   3.85 ,   2.32 ,  18.61 ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 21.4  ,   6.   , 258.   , 110.   ,   3.08 ,   3.215,  19.44 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 18.7  ,   8.   , 360.   , 175.   ,   3.15 ,   3.44 ,  17.02 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 18.1  ,   6.   , 225.   , 105.   ,   2.76 ,   3.46 ,  20.22 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 14.3  ,   8.   , 360.   , 245.   ,   3.21 ,   3.57 ,  15.84 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 24.4  ,   4.   , 146.7  ,  62.   ,   3.69 ,   3.19 ,  20.   ,
          1.   ,   0.   ,   4.   ,   2.   ],
       [ 22.8  ,   4.   , 140.8  ,  95.   ,   3.92 ,   3.15 ,  22.9  ,
          1.   ,   0.   ,   4.   ,   2.   ],
       [ 19.2  ,   6.   , 167.6  , 123.   ,   3.92 ,   3.44 ,  18.3  ,
          1.   ,   0.   ,   4.   ,   4.   ],
       [ 17.8  ,   6.   , 167.6  , 123.   ,   3.92 ,   3.44 ,  18.9  ,
          1.   ,   0.   ,   4.   ,   4.   ],
       [ 16.4  ,   8.   , 275.8  , 180.   ,   3.07 ,   4.07 ,  17.4  ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 17.3  ,   8.   , 275.8  , 180.   ,   3.07 ,   3.73 ,  17.6  ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 15.2  ,   8.   , 275.8  , 180.   ,   3.07 ,   3.78 ,  18.   ,
          0.   ,   0.   ,   3.   ,   3.   ],
       [ 10.4  ,   8.   , 472.   , 205.   ,   2.93 ,   5.25 ,  17.98 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 10.4  ,   8.   , 460.   , 215.   ,   3.   ,   5.424,  17.82 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 14.7  ,   8.   , 440.   , 230.   ,   3.23 ,   5.345,  17.42 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 32.4  ,   4.   ,  78.7  ,  66.   ,   4.08 ,   2.2  ,  19.47 ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 30.4  ,   4.   ,  75.7  ,  52.   ,   4.93 ,   1.615,  18.52 ,
          1.   ,   1.   ,   4.   ,   2.   ],
       [ 33.9  ,   4.   ,  71.1  ,  65.   ,   4.22 ,   1.835,  19.9  ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 21.5  ,   4.   , 120.1  ,  97.   ,   3.7  ,   2.465,  20.01 ,
          1.   ,   0.   ,   3.   ,   1.   ],
       [ 15.5  ,   8.   , 318.   , 150.   ,   2.76 ,   3.52 ,  16.87 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 15.2  ,   8.   , 304.   , 150.   ,   3.15 ,   3.435,  17.3  ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 13.3  ,   8.   , 350.   , 245.   ,   3.73 ,   3.84 ,  15.41 ,
          0.   ,   0.   ,   3.   ,   4.   ],
       [ 19.2  ,   8.   , 400.   , 175.   ,   3.08 ,   3.845,  17.05 ,
          0.   ,   0.   ,   3.   ,   2.   ],
       [ 27.3  ,   4.   ,  79.   ,  66.   ,   4.08 ,   1.935,  18.9  ,
          1.   ,   1.   ,   4.   ,   1.   ],
       [ 26.   ,   4.   , 120.3  ,  91.   ,   4.43 ,   2.14 ,  16.7  ,
          0.   ,   1.   ,   5.   ,   2.   ],
       [ 30.4  ,   4.   ,  95.1  , 113.   ,   3.77 ,   1.513,  16.9  ,
          1.   ,   1.   ,   5.   ,   2.   ],
       [ 15.8  ,   8.   , 351.   , 264.   ,   4.22 ,   3.17 ,  14.5  ,
          0.   ,   1.   ,   5.   ,   4.   ],
       [ 19.7  ,   6.   , 145.   , 175.   ,   3.62 ,   2.77 ,  15.5  ,
          0.   ,   1.   ,   5.   ,   6.   ],
       [ 15.   ,   8.   , 301.   , 335.   ,   3.54 ,   3.57 ,  14.6  ,
          0.   ,   1.   ,   5.   ,   8.   ],
       [ 21.4  ,   4.   , 121.   , 109.   ,   4.11 ,   2.78 ,  18.6  ,
          1.   ,   1.   ,   4.   ,   2.   ]])

## Describe a Panda DF

In [47]:
mtcarsDF.shape  #dimensions of DF

(32, 11)

In [48]:
mtcarsDF.head(4) #first 4 rows of DF

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710      22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1

In [49]:
mtcarsDF.tail(3) #last 3 rows of DF

                mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
Ferrari Dino   19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
Volvo 142E     21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [50]:
mtcarsDF.describe()  #describe or summarise DF (default - numeric cols)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [51]:
mtcarsDF.columns   #column names

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [52]:
mtcarsDF.dtypes # data types

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [53]:
mtcarsDF.select_dtypes(include=['int64']).head()  #show only dtypes of int64 only first few rows

                   cyl   hp  vs  am  gear  carb
Mazda RX4            6  110   0   1     4     4
Mazda RX4 Wag        6  110   0   1     4     4
Datsun 710           4   93   1   1     4     1
Hornet 4 Drive       6  110   1   0     3     1
Hornet Sportabout    8  175   0   0     3     2

In [54]:
mtcarsDF.notna() #is there no missing value (not missing)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,True,True,True,True,True,True,True,True,True,True,True
Mazda RX4 Wag,True,True,True,True,True,True,True,True,True,True,True
Datsun 710,True,True,True,True,True,True,True,True,True,True,True
Hornet 4 Drive,True,True,True,True,True,True,True,True,True,True,True
Hornet Sportabout,True,True,True,True,True,True,True,True,True,True,True
Valiant,True,True,True,True,True,True,True,True,True,True,True
Duster 360,True,True,True,True,True,True,True,True,True,True,True
Merc 240D,True,True,True,True,True,True,True,True,True,True,True
Merc 230,True,True,True,True,True,True,True,True,True,True,True
Merc 280,True,True,True,True,True,True,True,True,True,True,True
Merc 280C,True,True,True,True,True,True,True,True,True,True,True
Merc 450SE,True,True,True,True,True,True,True,True,True,True,True
Merc 450SL,True,True,True,True,True,True,True,True,True,True,True
Merc 450SLC,True,True,True,True,True,True,True,True,True,True,True
Cadillac Fleetwood,True,True,True,True,True,True,True,True,True,True,True
Lincoln Continental,True,True,True,True,True,True,True,True,True,True,True
Chrysler Imperial,True,True,True,True,True,True,True,True,True,True,True
Fiat 128,True,True,True,True,True,True,True,True,True,True,True
Honda Civic,True,True,True,True,True,True,True,True,True,True,True
Toyota Corolla,True,True,True,True,True,True,True,True,True,True,True
Toyota Corona,True,True,True,True,True,True,True,True,True,True,True
Dodge Challenger,True,True,True,True,True,True,True,True,True,True,True
AMC Javelin,True,True,True,True,True,True,True,True,True,True,True
Camaro Z28,True,True,True,True,True,True,True,True,True,True,True
Pontiac Firebird,True,True,True,True,True,True,True,True,True,True,True
Fiat X1-9,True,True,True,True,True,True,True,True,True,True,True
Porsche 914-2,True,True,True,True,True,True,True,True,True,True,True
Lotus Europa,True,True,True,True,True,True,True,True,True,True,True
Ford Pantera L,True,True,True,True,True,True,True,True,True,True,True
Ferrari Dino,True,True,True,True,True,True,True,True,True,True,True
Maserati Bora,True,True,True,True,True,True,True,True,True,True,True
Volvo 142E,True,True,True,True,True,True,True,True,True,True,True

In [55]:
mtcarsDF.isnull().sum()  #count of missing values

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [ ]:
mtcarsDF.isna().sum(axis=1)  #rowwise count of missing values

In [ ]:
mtcarsDF.ndim  #no of dimensions 2 for DF,1 for list

In [ ]:
mtcarsDF.shape   #no of rows and column

In [ ]:
### Accessing DF

In [ ]:
mtcarsDF[0:5] # first 5 rows

In [ ]:
mtcarsDF.iloc[0:5, 0:3]  #first 5 rows and first 3 columns - integer locations

In [ ]:
mtcarsDF.at['Mazda RX4', 'mpg']  #particular cell (single value access) by name

In [ ]:
mtcarsDF.iat[0,0]  #single value using iat  - integer; first row, first col

In [ ]:
mtcarsDF.index  #row or index names

In [ ]:
mtcarsDF.loc[['Mazda RX4']] #row details with rowname or index

In [ ]:
mtcarsDF.loc[['Mazda RX4','Datsun 710'],['mpg', 'wt']]  #particular locations

In [ ]:
mtcarsDF.loc['Mazda RX4':'Datsun 710']   #particular sequence of locations

#### iloc - integer location

In [ ]:
mtcarsDF.iloc[1:10, 1:5]  #select rows and columns by integer value

In [ ]:
mtcarsDF.iloc[1:10:3, 1:5:2]  #alternate rows or columns within a range

In [ ]:
mtcarsDF.iloc[[1,5,7], [6,2]]  #alternate rows or columns within a range # no or name ?

In [ ]:
mtcarsDF.iloc[0]  #first row

In [ ]:
mtcarsDF.iloc[::,0]  #first column

In [ ]:
mtcarsDF.iloc[1::5, 1::2]  #every fifth row, every alternate column

In [ ]:
mtcarsDF.iloc[1, 5]  # 1st row and 5th column (all rows & col start at 0)

In [ ]:
mtcarsDF.iloc[-1]  #last row

In [ ]:
mtcarsDF.iloc[:,-1]  #last Column

In [ ]:
mtcarsDF[::2]  #alternate rows

In [ ]:
mtcarsDF.iloc[:,::2].head()  #alternate columns

In [ ]:
mtcarsDF.iloc[::-1]  #reverse order of rows

In [ ]:
mtcarsDF.iloc[:,::-1].head()  #reverse order of columns

In [ ]:
mtcarsDF.iloc[::2].iloc[::2]  #alternate rows, then again alternate row

In [ ]:
mtcarsDF.iloc[5:0:-2, 4:1:-1]  # 5th to 1st row, alternate; 4th to 1st column, alternating

In [ ]:
mtcarsDF.tail() #check tail rows

In [ ]:
### Filter rows based on column/ row values

In [ ]:
#select columns

In [ ]:
mtcarsDF.gear.head()  #one column only gear

In [ ]:
mtcarsDF['gear'].head()  #one column

In [ ]:
mtcarsDF[['gear','cyl']].head()  #two columns

In [ ]:
mtcarsDF.filter(['gear']).head()  #selected col using filter

In [ ]:
mtcarsDF.filter(items=['gear', 'cyl']).head()  #selected cols using filter

In [ ]:
mtcarsDF.filter(regex = '[gGa]').head()  #selected cols using filter by characters - g G a

In [ ]:
mtcarsDF.filter(regex = 'Toyota', axis=0).head()  #selected rows(axis=0) using filter by characters - Toyota

In [ ]:
mtcarsDF.filter(regex = 'am', axis=1).head()  #selected cols(axis=1) using filter by characters - am

## Conditions with filter

In [ ]:
mtcarsDF['gear'] == 3  # True or False depending upon condition

In [ ]:
mtcarsDF[mtcarsDF['gear'] == 3]  # rows which match the condition

In [ ]:
mtcarsDF.loc[(mtcarsDF['gear'] != 3) & (mtcarsDF['mpg'] > 25), ['gear','mpg','am']] # rows which match the condition

In [ ]:
mtcarsDF[mtcarsDF.gear.eq(3)].head()  #chaining method

In [ ]:
mtcarsDF.gear.unique()  #unique values of gears

In [ ]:
mtcarsDF.carb.unique() #unique value of carb

In [ ]:
gears = [4, 5]  #list of gears
mtcarsDF[mtcarsDF.gear.isin(gears)]  #is there a car from the list [4,5]

In [ ]:
mtcarsDF[~ mtcarsDF.gear.isin(gears)].head()  #is there a car not from the list ~ tilde symbol

In [ ]:
carbs = [1,3]  #list of carburators
mtcarsDF[mtcarsDF.gear.isin(gears) & mtcarsDF.carb.isin(carbs)] #multiple conditions with isin

In [ ]:
mtcarsDF[~mtcarsDF.gear.isin(gears) & mtcarsDF.carb.isin(carbs)] #not with gear, yes with carbs

In [ ]:
mtcarsDF[mtcarsDF.mpg > mtcarsDF.qsec].head()  #comparing columns

##  Query function

In [ ]:
mtcarsDF.query('gear==4')

In [ ]:
mtcarsDF.query('gear=="4"')  #if a column is string

In [ ]:
#mtcarsDF.query('index=="4"')  #if a column is string - not working here

In [ ]:
mtcarsDF.query('gear==4 & am==0')  #twin conditions

In [ ]:
mtcarsDF.query('gear in [3,7]').head()  #twin conditions

## Sort

#DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

In [ ]:
mtcarsDF.sort_values(by='mpg', axis=0).head()  #sort DF by mpg - ascending order

In [ ]:
mtcarsDF.sort_values(by=['carb','mpg'], axis=0).head(10)  #sort DF by carb, mpg - ascending order

In [ ]:
mtcarsDF.sort_values(by=['carb','mpg'], ascending =[False, True] , axis=0).head(10) #asc-carb, desc mpg

In [ ]:
## Group By

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

#df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True)

In [ ]:
mtcarsDF.groupby('gear')  #nothing will happen unless we ask for something

In [ ]:
mtcarsDF.groupby(['gear','cyl'])  #nothing will happen unless we ask for something

In [ ]:
mtcarsDF.groupby(['gear']).groups.keys() #grouping values , ie how groups will be created

In [ ]:
mtcarsDF.groupby(['gear']).groups[3] #select rows with gear 3

In [ ]:
mtcarsDF.groupby(['gear']).first() #first row of each group, default order

In [ ]:
mtcarsDF.groupby(['gear']).last() #last 1 row of each group, default order

In [ ]:
mtcarsDF.groupby(['gear','am']).first() #first row of each group and subgroup if there are default order

In [ ]:
mtcarsDF.groupby(['gear'])['mpg'].mean()  #mean mpg of each group

In [ ]:
mtcarsDF.groupby(['gear']).agg('mean')  #mean of all cols of each group

In [ ]:
mtcarsDF.groupby(['gear']).agg('mean').add_prefix('MEAN_')  #mean of all cols of each group with name change

In [ ]:
mtcarsDF.groupby(['gear','am']).agg(['mean','max'])  #mean & max of all cols of each groups

In [ ]:
mtcarsDF.groupby(['gear','am'])[['mpg','hp']].agg(['mean','max']).reindex()  #mean & max of 2 cols of each groups

In [ ]:
mtcarsDF.groupby(['gear','am'])[['mpg','hp']].apply(sum) #apply a function to grouping

In [ ]:
#mtcarsDF.groupby(['gear','am'])[['mpg','hp']].apply([sum, mean]) #apply a function to grouping/ not working

### size/ counts

In [ ]:
mtcarsDF.groupby(['gear']).size()  #count of each category

In [ ]:
mtcarsDF.groupby(['gear']).count()  #count of each category from all columns(not good)

In [ ]:
mtcarsDF.groupby(['gear'])['mpg'].count()  #count of each category from all columns(slightly better good)

In [ ]:
mtcarsDF['gear'].value_counts()  #count of each category

In [ ]:
mtcarsDF.gear.value_counts()  #count of each category - this is for only 1 column

### More aggregate functions

In [ ]:
mtcarsDF.groupby(['gear'])[['mpg','wt']].agg([np.mean, np.median, 'count'])  #np functions are faster

In [ ]:
mtcarsDF.groupby('gear')['mpg'].agg([np.mean, np.sum, 'count']).rename(columns={'mean':'MEAN','sum' : 'SUM', 'count':'TOTAL'})

### Nth item

In [ ]:
mtcarsDF.groupby(['gear']).nth(1) #nth item withing the group similar to first

In [ ]:
mtcarsDF.groupby(['gear']).nth(3) #nth item withing the group similar to first

In [ ]:
mtcarsDF.sort_values(by='mpg', ascending=False).groupby(['gear']).head(3)  #top 3 by mpg from each gp

In [ ]:
mtcarsDF.sort_values(by='mpg', ascending=False).groupby(['gear']).nth(2)  # 3rd by mpg from each gp

In [ ]:
mtcarsDF.sort_values(by='mpg', ascending=False).groupby(['gear']).nth([0,2])  # 1 & 3rd by mpg from each gp

In [ ]:
mtcarsDF.groupby(["gear"])["mpg"].nlargest(3) #within each gp top 3 by mpg, index values

In [ ]:
mtcarsDF.groupby(["gear"]).apply(lambda x: x.sort_values(['cyl','mpg'], ascending = [False,True])).reset_index(drop=True)
#group by gear, sort by cyl, mpg and display , no aggregation

In [ ]:
### Crosstab

#https://pbpython.com/pandas-crosstab.html https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html

#pd.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)[source]

In [ ]:
pd.crosstab(index=mtcarsDF.cyl, columns=mtcarsDF.gear)  #cyl vs gear : count of values

In [ ]:
pd.crosstab(index=mtcarsDF.cyl, columns=[mtcarsDF.gear, mtcarsDF.am])  #cyl vs gear & am : count of values

In [ ]:
pd.crosstab(mtcarsDF.cyl, mtcarsDF.gear, margins=True, margins_name='TotalCars')  #cyl vs gear : count of values

In [ ]:
pd.crosstab(index=[mtcarsDF.cyl, mtcars.vs], columns=[mtcarsDF.gear, mtcarsDF.am], rownames=['Cylinder','EngineShape'], colnames =['Gear','AutoManual'])  #cyl & vs - gear & am : count of values, names changed

In [ ]:
pd.crosstab(index=mtcarsDF.cyl, columns=[mtcarsDF.gear, mtcarsDF.am]).reindex() #??

In [ ]:
pd.crosstab(mtcarsDF.cyl, mtcarsDF.gear, values=mtcarsDF.mpg, aggfunc='mean').round(0)

In [ ]:
pd.crosstab(mtcarsDF.cyl, mtcarsDF.gear)

#above is the count of cars #now we can find %

In [ ]:
pd.crosstab(mtcarsDF.cyl, mtcarsDF.gear, normalize=True)  #% of cars

In [ ]:
pd.crosstab(mtcarsDF.cyl, mtcarsDF.gear, normalize='columns').round(1) #column sums=1

In [ ]:
pd.crosstab(mtcarsDF.cyl, mtcarsDF.gear, normalize='index').round(1) #rows sum =1

In [ ]:
sns.heatmap(pd.crosstab(mtcarsDF.cyl, mtcarsDF.gear), cmap="YlGnBu", annot=True, cbar=False)

In [ ]:
mtcarsDF.groupby(['gear', 'cyl'])['am'].count().unstack().fillna(0)  #using grouby

In [ ]:
mtcarsDF.pivot_table(index='gear', columns='cyl', aggfunc={'am':len}, fill_value=0)

it can be tough to remember all the steps to make this happen on your own. The simple crosstab API is the quickest route to the solution and provides some useful shortcuts for certain types of analysis.In my experience, it is important to know about the options and use the one that flows most naturally from the analysis. I have had experiences where I struggled trying to make a pivot_table solution and then quickly got what I wanted by using a crosstab. The great thing about pandas is that once the data is in a dataframe all these manipulations are 1 line of code so you are free to experiment. https://pbpython.com/images/crosstab_cheatsheet.png

### Pivot

#pd.pivot(index=None, columns=None, values=None) : This function does not support data aggregation,: Changes shape of data

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

In [ ]:
#mtcarsDF.pivot(index='cyl', columns='gear', values='am')  #needs unique columns

In [ ]:
df = pd.DataFrame({'course': ['BBA', 'BBA', 'MBA', 'MBA','PHD','PHD'],'gender': ['M', 'F', 'M', 'F', 'M', 'F'], 'count': [10, 12, 23, 14, 15, 6]})

In [ ]:
df

In [ ]:
df.pivot(index='course', columns='gender', values='count')

### Pivot Table with pivot_table

#pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)

In [ ]:
pd.pivot_table(data=mtcarsDF, columns=['gear'], values='mpg', index=['am', 'cyl'], aggfunc=np.sum)
#group by am & cyl, find mean mpg of each gear type

In [ ]:
mtcarsDF.groupby(['gear']).agg({'mpg':'mean','hp':'max'})  #mean mpg & max hp of each group

# Statistics

In [ ]:
mtcarsDF.mean(axis=0)  #mean col wise, g. mean marks, subject wise

In [ ]:
mtcarsDF.mean(axis=1)  #mean row wise , not relevant here. eg Mean marks of each student

In [ ]:
mtcarsDF.kurt(axis=0) # kurtosis - col

In [ ]:
mtcarsDF.skew(axis=0) # skewness - row

In [ ]:
mtcarsDF.max(axis=0) # max - col

In [ ]:
mtcarsDF.min(axis=0) # min - col

In [ ]:
mtcarsDF.rank(axis=0).head() # rank of row within the column

In [ ]:
mtcarsDF.median(axis=0) # median - col

In [ ]:
mtcarsDF.quantile([.25,.5,.75,1]) # quantile - col

In [ ]:
mtcarsDF.describe() # range & other values - col

In [ ]:
mtcarsDF['gear'].count()  #count of col values

In [ ]:
mtcarsDF['gear'].value_counts()  #count of each distinct col values (esp when col are category)

In [ ]:
mtcarsDF['wt'][mtcarsDF['gear']==4]  #wt of gear 4 cars

In [ ]:
mtcarsDF['wt'][mtcarsDF['gear']==4].sum() # sum of wt of gear 4 cars

In [ ]:
mtcars[mtcars['hp'] > 150].gear.value_counts()  # cars with hp> 150, their gear type and counts

In [ ]:
mtcars['mpg'].unique()   #unique values of mileage

In [ ]:
len(mtcars['mpg'].unique())  #count unique values of mileage

In [ ]:
mtcars['mpg'].nunique()   #non null & unique values of mileage, sometimes null can be counted as unique

In [ ]:
mtcarsDF

In [ ]:
type(mtcarsDF)  #type of structure

In [ ]:
mtcarsDF.index #index key (normally rownames)

## Class Intervals

In [58]:
pd.cut(x=mtcarsDF.mpg, bins=5)
#pandas.cut(x, bins, right=True, labels=None, precision=3, include_lowest=False, duplicates='raise', ordered=True)

Mazda RX4                (19.8, 24.5]
Mazda RX4 Wag            (19.8, 24.5]
Datsun 710               (19.8, 24.5]
Hornet 4 Drive           (19.8, 24.5]
Hornet Sportabout        (15.1, 19.8]
Valiant                  (15.1, 19.8]
Duster 360             (10.376, 15.1]
Merc 240D                (19.8, 24.5]
Merc 230                 (19.8, 24.5]
Merc 280                 (15.1, 19.8]
Merc 280C                (15.1, 19.8]
Merc 450SE               (15.1, 19.8]
Merc 450SL               (15.1, 19.8]
Merc 450SLC              (15.1, 19.8]
Cadillac Fleetwood     (10.376, 15.1]
Lincoln Continental    (10.376, 15.1]
Chrysler Imperial      (10.376, 15.1]
Fiat 128                 (29.2, 33.9]
Honda Civic              (29.2, 33.9]
Toyota Corolla           (29.2, 33.9]
Toyota Corona            (19.8, 24.5]
Dodge Challenger         (15.1, 19.8]
AMC Javelin              (15.1, 19.8]
Camaro Z28             (10.376, 15.1]
Pontiac Firebird         (15.1, 19.8]
Fiat X1-9                (24.5, 29.2]
Porsche 914-2            (24.5, 29.2]
Lotus Europa             (29.2, 33.9]
Ford Pantera L           (15.1, 19.8]
Ferrari Dino             (15.1, 19.8]
Maserati Bora          (10.376, 15.1]
Volvo 142E               (19.8, 24.5]
Name: mpg, dtype: category
Categories (5, interval[float64, right]): [(10.376, 15.1] < (15.1, 19.8] < (19.8, 24.5] < (24.5, 29.2] < (29.2, 33.9]]

In [64]:
pd.cut(x=mtcarsDF.mpg, bins=[10,15,20,30,40], labels=None)

Mazda RX4              (20, 30]
Mazda RX4 Wag          (20, 30]
Datsun 710             (20, 30]
Hornet 4 Drive         (20, 30]
Hornet Sportabout      (15, 20]
Valiant                (15, 20]
Duster 360             (10, 15]
Merc 240D              (20, 30]
Merc 230               (20, 30]
Merc 280               (15, 20]
Merc 280C              (15, 20]
Merc 450SE             (15, 20]
Merc 450SL             (15, 20]
Merc 450SLC            (15, 20]
Cadillac Fleetwood     (10, 15]
Lincoln Continental    (10, 15]
Chrysler Imperial      (10, 15]
Fiat 128               (30, 40]
Honda Civic            (30, 40]
Toyota Corolla         (30, 40]
Toyota Corona          (20, 30]
Dodge Challenger       (15, 20]
AMC Javelin            (15, 20]
Camaro Z28             (10, 15]
Pontiac Firebird       (15, 20]
Fiat X1-9              (20, 30]
Porsche 914-2          (20, 30]
Lotus Europa           (30, 40]
Ford Pantera L         (15, 20]
Ferrari Dino           (15, 20]
Maserati Bora          (10, 15]
Volvo 142E             (20, 30]
Name: mpg, dtype: category
Categories (4, interval[int64, right]): [(10, 15] < (15, 20] < (20, 30] < (30, 40]]

In [68]:
#quartiles or partition numbers 
pd.qcut(x=mtcarsDF.mpg, q=4, precision=2)

Mazda RX4                (19.2, 22.8]
Mazda RX4 Wag            (19.2, 22.8]
Datsun 710               (19.2, 22.8]
Hornet 4 Drive           (19.2, 22.8]
Hornet Sportabout       (15.42, 19.2]
Valiant                 (15.42, 19.2]
Duster 360             (10.39, 15.42]
Merc 240D                (22.8, 33.9]
Merc 230                 (19.2, 22.8]
Merc 280                (15.42, 19.2]
Merc 280C               (15.42, 19.2]
Merc 450SE              (15.42, 19.2]
Merc 450SL              (15.42, 19.2]
Merc 450SLC            (10.39, 15.42]
Cadillac Fleetwood     (10.39, 15.42]
Lincoln Continental    (10.39, 15.42]
Chrysler Imperial      (10.39, 15.42]
Fiat 128                 (22.8, 33.9]
Honda Civic              (22.8, 33.9]
Toyota Corolla           (22.8, 33.9]
Toyota Corona            (19.2, 22.8]
Dodge Challenger        (15.42, 19.2]
AMC Javelin            (10.39, 15.42]
Camaro Z28             (10.39, 15.42]
Pontiac Firebird        (15.42, 19.2]
Fiat X1-9                (22.8, 33.9]
Porsche 914-2            (22.8, 33.9]
Lotus Europa             (22.8, 33.9]
Ford Pantera L          (15.42, 19.2]
Ferrari Dino             (19.2, 22.8]
Maserati Bora          (10.39, 15.42]
Volvo 142E               (19.2, 22.8]
Name: mpg, dtype: category
Categories (4, interval[float64, right]): [(10.39, 15.42] < (15.42, 19.2] < (19.2, 22.8] < (22.8, 33.9]]

In [69]:
pd.qcut(x=mtcarsDF.mpg, q=10, precision=2)

Mazda RX4                (19.2, 21.0]
Mazda RX4 Wag            (19.2, 21.0]
Datsun 710             (21.47, 24.08]
Hornet 4 Drive          (21.0, 21.47]
Hornet Sportabout       (17.92, 19.2]
Valiant                 (17.92, 19.2]
Duster 360             (10.39, 14.34]
Merc 240D              (24.08, 30.09]
Merc 230               (21.47, 24.08]
Merc 280                (17.92, 19.2]
Merc 280C              (15.98, 17.92]
Merc 450SE             (15.98, 17.92]
Merc 450SL             (15.98, 17.92]
Merc 450SLC             (14.34, 15.2]
Cadillac Fleetwood     (10.39, 14.34]
Lincoln Continental    (10.39, 14.34]
Chrysler Imperial       (14.34, 15.2]
Fiat 128                (30.09, 33.9]
Honda Civic             (30.09, 33.9]
Toyota Corolla          (30.09, 33.9]
Toyota Corona          (21.47, 24.08]
Dodge Challenger        (15.2, 15.98]
AMC Javelin             (14.34, 15.2]
Camaro Z28             (10.39, 14.34]
Pontiac Firebird        (17.92, 19.2]
Fiat X1-9              (24.08, 30.09]
Porsche 914-2          (24.08, 30.09]
Lotus Europa            (30.09, 33.9]
Ford Pantera L          (15.2, 15.98]
Ferrari Dino             (19.2, 21.0]
Maserati Bora           (14.34, 15.2]
Volvo 142E              (21.0, 21.47]
Name: mpg, dtype: category
Categories (10, interval[float64, right]): [(10.39, 14.34] < (14.34, 15.2] < (15.2, 15.98] < (15.98, 17.92] ... (21.0, 21.47] < (21.47, 24.08] < (24.08, 30.09] < (30.09, 33.9]]

In [71]:
pd.qcut(x=mtcarsDF.mpg, q=10, precision=2).value_counts()

(10.39, 14.34]    4
(14.34, 15.2]     4
(17.92, 19.2]     4
(30.09, 33.9]     4
(15.98, 17.92]    3
(19.2, 21.0]      3
(21.47, 24.08]    3
(24.08, 30.09]    3
(15.2, 15.98]     2
(21.0, 21.47]     2
Name: mpg, dtype: int64

## Other Functions
melt
pivot
pivot_table
crosstab
cut
qcut
merge
merge_ordered
merg_asof
concat
get_dummies
factorize
unique
wide_to_long
isna
isnull
notna
notnull
to_numeric
to_datetime
to_timedelta
date_range
bdate_range
period_range
timedelta_range
infer_freq
interval_range
eval
util.hash_array
api.interchange.from_dataframe

### End of Code