# Library human-learn
https://towardsdatascience.com/human-learn-rule-based-learning-as-an-alternative-to-machine-learning-baf1899ecb3a
human-learn is a Python package to create rule-based systems that are easy to construct and are compatible with scikit-learn.

You are given a labeled dataset and assigned to predict a new one. What would you do?

The first approach that you probably try is to train a machine learning model to find rules for labeling new data.
This is convenient, but it is challenging to know why the machine learning model comes up with a particular prediction. You also canâ€™t incorporate your domain knowledge into the model.

Instead of depending on a machine learning model to make predictions, is there a way to set the rules for data labeling based on your knowledge

In [2]:
#pip install human-learn

In [6]:
#libraries
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

#data
dLink = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00357/'
https://archive.ics.uci.edu/ml/machine-learning-databases/00357/occupancy_data.zip

In [7]:
# Get train and test data
train = pd.read_csv("E:/analytics/data/occupancy_data/datatraining.txt").drop(columns="date")
test = pd.read_csv("E:/analytics/data/occupancy_data/datatest.txt").drop(columns="date")
print(train.shape)
print(train.shape)

(8143, 6)
(8143, 6)

In [8]:
# Get X and y
target = "Occupancy"
train_X, train_y = train.drop(columns=target), train[target]
val_X, val_y = test.drop(columns=target), test[target]

In [9]:
train.head()

   Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy
1        23.18   27.2720  426.0  721.25       0.004793          1
2        23.15   27.2675  429.5  714.00       0.004783          1
3        23.15   27.2450  426.0  713.50       0.004779          1
4        23.15   27.2000  426.0  708.25       0.004772          1
5        23.10   27.2000  426.0  704.50       0.004757          1

In [10]:
# Train
forest_model = RandomForestClassifier(random_state=1)

# Preduct
forest_model.fit(train_X, train_y)
machine_preds = forest_model.predict(val_X)

# Evalute
print(classification_report(val_y, machine_preds))

              precision    recall  f1-score   support

           0       0.96      0.97      0.96      1693
           1       0.95      0.92      0.93       972

    accuracy                           0.95      2665
   macro avg       0.95      0.95      0.95      2665
weighted avg       0.95      0.95      0.95      2665

In [11]:
#

In [ ]:
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
feature = "Light"
px.box(data_frame=train, x=target, y=feature)