In [ ]:
# dataTable 2

## fread
This function is capable of reading data from a variety of input formats (text files, plain text, files embedded in archives, excel files, â€¦), producing a Frame as the result. You can even read in data from the command line.
https://datatable.readthedocs.io/en/latest/api/dt/fread.html
fread( anysource=None, *, file=None, text=None, cmd=None, url=None, columns=None, sep=None, dec=".", max_nrows=None, header=None, na_strings=None, verbose=False, fill=False, encoding=None, skip_to_string=None, skip_to_line=0, skip_blank_lines=False, strip_whitespace=True, quotechar='"', tempdir=None, nthreads=None, logger=None, multiple_sources="warn", memory_limit=None)

In [2]:
from datatable import dt, fread
#fread('iris.csv')

In [3]:
#directly
data = ('col1,col2,col3\n'
        'a,b,1\n'
        'a,b,2\n'
        'c,d,3')
fread(data)

In [4]:
#url
url = "https://raw.githubusercontent.com/Rdatatable/data.table/master/vignettes/flights14.csv"
fread(url)

In [ ]:
# zip
fread("data.zip/mtcars.csv")
#Read from an archive (if there are multiple files, only the first will be read; you can specify the path to the specific file you are interested in

In [ ]:
#xls
fread("excel.xlsx")
fread("excel.xlsx/Sheet1")   #one sheet

In [9]:
#delimeter
data = """
       1:2:3:4
       5:6:7:8
       9:10:11:12
       """
fread(data, sep=":")

In [8]:
#missing values
data = """
       ID|Charges|Payment_Method
       634-VHG|28|Cheque
       365-DQC|33.5|Credit card
       264-PPR|631|--
       845-AJO|42.3|
       789-KPO|56.9|Bank Transfer
       """

fread(data, na_strings=['--', ''])

In [10]:
#For rows with less values than in other rows, you can set fill=True; fread will fill with NA:
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11')

fread(data, fill=True)

In [11]:
#You can skip empty lines
data = ('a,b,c,d\n'
        '\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '\n'
        '9,10,11,12')

fread(data, skip_blank_lines=True)

In [12]:
#column names
data = ('1,2\n'
        '3,4\n')
fread(data)

In [13]:
fread(data, columns=['A','B'])

In [16]:
#change col names
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12')

data

'a,b,c,d\n1,2,3,4\n5,6,7,8\n9,10,11,12'

In [ ]:
fread(data, columns=["A","B","C","D"])

In [15]:
fread(data, columns={"a":"A", "b":"B"})

In [17]:
#header row
fread(data,  header=False)

In [18]:
fread(data,  header=False, columns=["A","B","C","D"])
# new list

In [19]:
#row selection
data = ('skip this line\n'
        'a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12')

fread(data, skip_to_line=2)

In [20]:
data = ('skip this line\n'
        'a,b,c,d\n'
        'first, second, third, last\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12')

fread(data, skip_to_string='first')
#skip_to_string and skip_to_line cannot be combined; you can only use one:

In [21]:
#max rows
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12')

fread(data, max_nrows=2)

In [22]:
data = ('skip this line\n'
        'a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12')

fread(data, skip_to_line=2, max_nrows=2)

In [23]:
#col type
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12')

# this is useful when you are interested in only a subset of the columns
fread(data, columns={"a":dt.float32, "b":dt.str32})

In [24]:
#position
fread(data, columns = [dt.int32, dt.str32, None, dt.float32])

In [25]:
#all
fread(data, columns = dt.float32)

In [26]:
# this changes the data type to float for the first three columns
fread(data, columns={float:slice(3)})

## Selecting Cols

In [28]:
#dictionary
data = ('a,b,c,d\n'
        '1,2,3,4\n'
        '5,6,7,8\n'
        '9,10,11,12')

# pass ``Ellipsis : None`` or ``... : None``,
# to discard any columns that are not needed
fread(data, columns={"a":"a", ... : None})
#Selecting via a dictionary makes more sense when selecting and renaming columns at the same time.

In [29]:
#set
fread(data, columns={"a","b"})

In [30]:
#slice
# select the second and third column
fread(data, columns=slice(1,3))

In [31]:
# select the first column
# jump two hoops and
# select the third column
fread(data, columns = slice(None,3,2))

In [32]:
fread(data, columns = range(1,3))

In [33]:
fread(data, columns=[False, False, True, True])

In [34]:
fread(data, columns=lambda cols:[col.name in ("a","c") for col in cols])

In [35]:
#Exclude columns with None:

fread(data, columns = ['a',None,None,'d'])

In [36]:
data = ("A,B,C,D\n"
        "1,3,5,7\n"
        "2,4,6,8\n")

fread(data, columns={"B":None,"D":None})

In [37]:
#Drop a column and change data type:

fread(data, columns={"B":None, "C":str})

In [38]:
#Change column name and type, and drop a column:
# pass a tuple, where the first item in the tuple is the new column name,
# and the other item is the new data type.
fread(data, columns={"A":("first", float), "B":None,"D":None})

## Selecting Data
Column selection is via the j section in the DT[i, j, ...] syntax. First, letâ€™s construct a simple Frame:

In [39]:
from datatable import dt, f
from datetime import date

source = {"dates" : [date(2000, 1, 5), date(2010, 11, 23), date(2020, 2, 29), None],
          "integers" : range(1, 5),
          "floats" : [10.0, 11.5, 12.3, -13],
          "strings" : ['A', 'B', None, 'D']
          }
DT = dt.Frame(source)
DT

In [40]:
#by col name
DT[:, 'dates']
#When selecting all rows, the i section can also be ....

In [41]:
#position
DT[..., 2]  # 3rd column

In [42]:
DT[:, -2]

In [43]:
#For a single column, it is possible to skip the : in the i section and pass the column name or position only

DT['dates']

In [44]:
DT[0]

In [45]:
#When selecting via column name or position, an error is returned if the name or position does not exist:

DT[:, 5]

ValueError: Column index 5 is invalid for a Frame with 4 columns

In [47]:
#By data type
#Column selection is possible by using pythonâ€™s built-in types that correspond to one of the datatableâ€™s types:

DT[:, int]

In [48]:
DT[:, dt.Type.float64]

In [49]:
DT[:, dt.Type.date32]

In [50]:
DT[:, [date, str]]

In [51]:
#by List
DT[:, ['integers', 'strings']]

In [52]:
#A tuple of selectors is also allowed, although not recommended from stylistic perspective:

DT[:, (-3, 2, 3)]

In [53]:
#
DT[:, [num for num in range(DT.ncols) if num % 2 == 0]]

In [54]:
#Selecting columns via a mix of column names and positions (integers) is not allowed:

DT[:, ['dates', 2]]

TypeError: Mixed selector types are not allowed. Element 1 is of type integer, whereas the previous element(s) were of type string

In [55]:
#Via slicing When slicing with strings, both the start and end column names are included in the returned frame:
DT[:, 'dates':'strings']

In [56]:
DT[:, 1:3]

In [57]:
DT[:, ::-1]

In [58]:
DT[:, 3:10]  # there are only four columns in the Frame

In [59]:
DT[:, slice('integers', 'strings')]

In [60]:
DT[:, [slice(1, 3), 0]]

In [61]:
DT[:, [True, True, False, False]]

## Selecting Data â€“ Rows
There are a number of ways to select rows of data via the i section.

The index labels in a Frame are just for aesthetics; they serve no actual purpose during selection.

In [62]:
DT[0, :]

In [63]:
DT[-1, :]  # last row

In [64]:
# Sequence of Positions
#List (tuple):

DT[[1, 2, 3], :]

In [65]:
DT[dt.Frame([1, 2, 3]), :]

In [66]:
#Slicing works similarly to slicing a python list:

DT[1:3, :]

## Select rows and columns
Specific selections can occur in rows and columns simultaneously:

In [67]:
DT[0, slice(1, 3)]

## Transforming Data
Column Transformation
Operations on columns occur in the j section of DT[i, j, by/sort/...], and involve the use of f-expressions:

In [68]:
from datatable import dt, f, update, ifelse
from datetime import date

source = {"dates" : [date(2000, 1, 5), date(2010, 11, 23), date(2020, 2, 29), None],
          "integers" : range(1, 5),
          "floats" : [10.0, 11.5, 12.3, -13],
          "strings" : ['A', 'B', None, 'D']
          }
DT = dt.Frame(source)
DT

In [69]:
DT[:, f.integers * 2]

In [70]:
DT[:, 'pre_' + f.strings]

In [71]:
DT[:, f.integers + f.floats]

In [72]:
DT[:, f.integers +'_' + f.strings]

In [73]:
DT[:, dt.math.pow(f.floats, 3)]

In [74]:
DT[:, dt.time.year(f.dates)]

In [75]:
DT[:, dt.sum(f['integers':'floats'])]

In [76]:
DT[:, dt.rowsum(f['integers':'floats'])]

In [77]:
DT[:, ifelse(f.integers % 2 == 0, 'even', 'odd')]

In [78]:
DT[f.dates < dt.time.ymd(2020,1,1), f.integers ** 4]

In [79]:
DT[:, dt.as_type(f.integers, str)]

In [80]:
DT[:, dt.as_type(f.integers, dt.Type.str32)]

In [81]:
DT[:, dt.as_type(f['integers', 'floats'], str)]

#Values across multiple columns can be replaced with the dt.Frame.replace() method; this works on the entire frame, and is an in-place operation.

In [82]:
DT.replace(1, -1)
DT

## Grouping with by()
https://datatable.readthedocs.io/en/latest/manual/groupby_examples.html
The by() modifier splits a dataframe into groups, either via the provided column(s) or f-expressions, and then applies i and j within each group. This split-apply-combine strategy allows for a number of operations:

Aggregations per group,

Transformation of a column or columns, where the shape of the dataframe is maintained,

Filtration, where some data are kept and the others discarded, based on a condition or conditions.

Aggregation
The aggregate function is applied in the j section.

In [83]:
from datatable import (dt, f, by, ifelse, update, sort,
                       count, min, max, mean, sum, rowsum)

df =  dt.Frame("""Fruit   Date       Name  Number
                  Apples  10/6/2016  Bob     7
                  Apples  10/6/2016  Bob     8
                  Apples  10/6/2016  Mike    9
                  Apples  10/7/2016  Steve  10
                  Apples  10/7/2016  Bob     1
                  Oranges 10/7/2016  Bob     2
                  Oranges 10/6/2016  Tom    15
                  Oranges 10/6/2016  Mike   57
                  Oranges 10/6/2016  Bob    65
                  Oranges 10/7/2016  Tony    1
                  Grapes  10/7/2016  Bob     1
                  Grapes  10/7/2016  Tom    87
                  Grapes  10/7/2016  Bob    22
                  Grapes  10/7/2016  Bob    12
                  Grapes  10/7/2016  Tony   15""")
df

In [84]:
df[:, sum(f.Number), by('Fruit')]

In [85]:
df[:, sum(f.Number), by('Fruit', 'Name')]

In [86]:
df[:, sum(f.Number), by(f[0])]
#col position - fruit=0

In [87]:
df[:, sum(f.Number), by(f.Fruit == "Apples")]

In [88]:
#Combination of column and boolean expression:

df[:, sum(f.Number), by(f.Name, f.Fruit == "Apples")]

In [89]:
df[:, sum(f.Number), by('Fruit', add_columns=False)]

In [90]:
df[:, {"min": min(f.Number),       "max": max(f.Number)},   by('Fruit','Date')]

In [91]:
#Functions can be applied across a columnset. Task : Get sum of col3 and col4, grouped by col1 and col2:

df = dt.Frame(""" col1   col2   col3   col4   col5
                  a      c      1      2      f
                  a      c      1      2      f
                  a      d      1      2      f
                  b      d      1      2      g
                  b      e      1      2      g
                  b      e      1      2      g""")

df[:, sum(f["col3":"col4"]), by('col1', 'col2')]

In [92]:
#Apply different aggregate functions to different columns:

df[:, [max(f.col3), min(f.col4)], by('col1', 'col2')]

In [93]:
#Nested aggregations in j. Task : Group by column idx and get the row sum of A and B, C and D:

df = dt.Frame(""" idx  A   B   C   D   cat
                   J   1   2   3   1   x
                   K   4   5   6   2   x
                   L   7   8   9   3   y
                   M   1   2   3   4   y
                   N   4   5   6   5   z
                   O   7   8   9   6   z""")

df[:,
    {"AB" : sum(rowsum(f['A':'B'])),
     "CD" : sum(rowsum(f['C':'D']))},
   by('cat')
   ]