- https://github.com/Anexen/pyxirr
-PyXIRR stands for "Python XIRR" (for historical reasons), but contains many other financial functions such as IRR, FV, NPV, etc. Features:
- correct
-  supports different day count conventions (e.g. ACT/360, 30E/360, etc.)
-  works with different input data types (iterators, numpy arrays, pandas DataFrames)
-  no external dependencies
-  type annotations
-  blazingly fast

In [2]:
#!pip install pyxirr

In [3]:
from datetime import date
from pyxirr import xirr

In [4]:
dates = [date(2020, 1, 1), date(2021, 1, 1), date(2022, 1, 1)]
amounts = [-1000, 750, 500]

In [5]:
# feed columnar data
xirr(dates, amounts)

0.1750092646154511

In [6]:
# feed iterators
xirr(iter(dates), (x / 2 for x in amounts))

0.1750092646154511

In [7]:
# feed an iterable of tuples
xirr(zip(dates, amounts))

0.1750092646154511

In [8]:
# feed a dictionary
xirr(dict(zip(dates, amounts)))

0.1750092646154511

In [9]:
# dates as strings
xirr(['2020-01-01', '2021-01-01'], [-1000, 1200])

0.19940237326909385

# Day Counts

In [10]:
from pyxirr import DayCount
xirr(dates, amounts, day_count=DayCount.ACT_360)

0.17241622820639427

In [11]:
# parse day count from string
xirr(dates, amounts, day_count="30E/360")

0.17539052967910615

# Future Value

In [14]:
import pyxirr

In [15]:
# Future Value
pyxirr.fv(0.05/12, 10*12, -100, -100)

15692.92889433575

In [16]:
# Net Present Value
pyxirr.npv(0, [-40_000, 5_000, 8_000, 12_000, 30_000])

15000.0

In [17]:
# IRR
pyxirr.irr([-100, 39, 59, 55, 20])

0.2809484211599615

# Numpy / Pandas

In [19]:
import numpy as np
import pandas as pd

In [20]:
# feed numpy array
xirr(np.array([dates, amounts]))

0.1750092646154511

In [21]:
xirr(np.array(dates), np.array(amounts))

0.1750092646154511

In [22]:
# feed DataFrame (columns names doesn't matter; ordering matters)
xirr(pd.DataFrame({"a": dates, "b": amounts}))

0.1750092646154511

In [23]:
# feed Series with DatetimeIndex
xirr(pd.Series(amounts, index=pd.to_datetime(dates)))

0.1750092646154511

In [25]:
# bonus: apply xirr to a DataFrame with DatetimeIndex:
df = pd.DataFrame(   index=pd.date_range("2021", "2022", freq="MS", inclusive="left"),
    data={ "one": [-100] + [20] * 11,  "two": [-80] + [19] * 11, },)
df

            one  two
2021-01-01 -100  -80
2021-02-01   20   19
2021-03-01   20   19
2021-04-01   20   19
2021-05-01   20   19
2021-06-01   20   19
2021-07-01   20   19
2021-08-01   20   19
2021-09-01   20   19
2021-10-01   20   19
2021-11-01   20   19
2021-12-01   20   19

In [26]:
df.apply(xirr)  # Series(index=["one", "two"], data=[5.09623547168478, 8.780801977141174])

one    5.096235
two    8.780802
dtype: float64

## Links
https://ryanwingate.com/other-interests/business/calculate_irr/