In [ ]:
# Duplicates

In [1]:
# Libraries

In [2]:
import numpy as np
import pandas as pd

### Find Duplicates
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [3]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

Return boolean Series denoting duplicate rows.
DataFrame.duplicated(subset=None, keep='first')

In [8]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [4]:
df[df.duplicated()]

     brand style  rating
1  Yum Yum   cup     4.0

In [11]:
df[df.duplicated() == True]
# this shows rows which are duplicated, 1 row per set of duplicates

     brand style  rating
1  Yum Yum   cup     4.0

In [12]:
df[df.duplicated(keep=False) == True]
# this shows all rows which are duplicated

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0

In [8]:
df[df.duplicated() == False]
# this shows 1 unique row once, in case of duplicates, first row displayed from them

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [9]:
df[df.duplicated(keep=False) == False]
# this show only unique values

     brand style  rating
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [20]:
#duplicates in brand column
df.duplicated(['brand'])

0    False
1     True
2    False
3     True
4     True
dtype: bool

### Remove Duplicates
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html
DataFrame.drop_duplicates(subset=None, *, keep='first', inplace=False, ignore_index=False)
Return DataFrame with duplicate rows removed.
Considering certain columns is optional. Indexes, including time indexes are ignored.
keep{‘first’, ‘last’, False}, default ‘first’
Determines which duplicates (if any) to keep. - first : Drop duplicates except for the first occurrence. - last : Drop duplicates except for the last occurrence. - False : Drop all duplicates.

In [10]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [11]:
df.drop_duplicates(subset=['brand'])
#To remove duplicates on specific column(s), use subset

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

In [12]:
df.drop_duplicates(subset=['brand', 'style'], keep='last')
#To remove duplicates and keep last occurrences, use keep.

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0

#end here
df.duplicated(subset=['brand'])