# Data Summary with Date Columns

In [ ]:
## Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
### Time Series Libraries
import datetime

In [ ]:
## Create Dataframe with Date Columns
dates = pd.date_range(start='1/1/2022', end='12/31/2022', freq='D')
#freq, periods are other options
print(dates.size, dates)
students = np.random.randint(50, 100, dates.size)
print(students.size, students)

In [18]:
attendance = pd.DataFrame({'classDate':dates, 'students': students})
attendance.head()

   classDate  students
0 2022-01-01        97
1 2022-01-02        53
2 2022-01-03        73
3 2022-01-04        99
4 2022-01-05        82

In [21]:
#month wise average students present
attendance.groupby(attendance.classDate.dt.month)['students'].mean()

classDate
1     72.548387
2     75.571429
3     69.870968
4     75.333333
5     77.387097
6     76.266667
7     73.709677
8     74.580645
9     72.866667
10    78.000000
11    75.200000
12    71.225806
Name: students, dtype: float64

In [ ]:
## group by
#attendance.groupby(pd.Grouper(freq='M')).mean()

In [22]:
attendance.groupby(pd.Grouper(key='classDate', axis=0,  freq='M')).sum()

            students
classDate
2022-01-31      2249
2022-02-28      2116
2022-03-31      2166
2022-04-30      2260
2022-05-31      2399
2022-06-30      2288
2022-07-31      2285
2022-08-31      2312
2022-09-30      2186
2022-10-31      2418
2022-11-30      2256
2022-12-31      2208