# Pandas Group By
Pandas groupby is used for grouping the data according to the categories and apply a function to the categories. It also helps to aggregate data efficiently.
dataframe.groupby() function is used to split the data into groups based on some criteria. pandas objects can be split on any of their axes. The abstract definition of grouping is to provide a mapping of labels to group names.
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
by : mapping, function, str, or iterable
axis : int, default 0
level : If the axis is a MultiIndex (hierarchical), group by a particular level or levels
as_index : For aggregated output, return object with group labels as the index. Only relevant for DataFrame input. as_index=False is effectively “SQL-style” grouped output
sort : Sort group keys. Get better performance by turning this off. Note this does not influence the order of observations within each group. groupby preserves the order of rows within each group.
group_keys : When calling apply, add group keys to index to identify pieces
squeeze : Reduce the dimensionality of the return type if possible, otherwise return a consistent type

Returns : GroupBy object

In [1]:
# Libraries
import numpy as np
import pandas as pd

In [3]:
from pydataset import data
mtcars = data('mtcars')
mtcarsDF = mtcars
mtcarsDF.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [13]:
# mean values from pandas and numpy
# np.mean, np.min  - are from numpy https://numpy.org/doc/stable/reference/generated/numpy.std.html
# min, max, std - are from pandas https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.std.html
mtcarsDF.groupby(['gear']).aggregate({'mpg':[np.mean, 'mean',np.min, 'min',np.max,'max', np.std, 'std']})

            mpg
           mean       mean  amin   min  amax   max       std       std
gear
3     16.106667  16.106667  10.4  10.4  21.5  21.5  3.371618  3.371618
4     24.533333  24.533333  17.8  17.8  33.9  33.9  5.276764  5.276764
5     21.380000  21.380000  15.0  15.0  30.4  30.4  6.658979  6.658979