# RPY2 R objects
https://pypi.org/project/rpy2/

In [15]:
#!pip install rpy2
import pandas as pd
from rpy2.robjects.packages import importr, data
data = importr('datasets')
#mtcars = data(datasets).fetch('mtcars')['mtcars']
https://pypi.org/project/rpy2/

SyntaxError: invalid syntax (399135575.py, line 6)

In [11]:
from rpy2.robjects.packages import importr, data
datasets = importr('datasets')
mtcars_env = data(datasets).fetch('mtcars')
mtcars = mtcars_env['mtcars']
mtcars

<rpy2.robjects.vectors.DataFrame object at 0x0000019D368CCE80> [RTYPES.VECSXP]
R classes: ('data.frame',)
[FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  mpg: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000019D369701C0> [RTYPES.REALSXP]
R classes: ('numeric',)
[21.000000, 21.000000, 22.800000, 21.400000, ..., 15.800000, 19.700000, 15.000000, 21.400000]
  cyl: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000019D36970600> [RTYPES.REALSXP]
R classes: ('numeric',)
[6.000000, 6.000000, 4.000000, 6.000000, ..., 8.000000, 6.000000, 8.000000, 4.000000]
  disp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000019D36970980> [RTYPES.REALSXP]
R classes: ('numeric',)
[160.000000, 160.000000, 108.000000, 258.000000, ..., 351.000000, 145.000000, 301.000000, 121.000000]
  hp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000019D36970A00> [RTYPES.REALSXP]
R classes: ('numeric',)
[110.000000, 110.000000, 93.000000, 110.000000, ..., 264.000000, 175.000000, 335.000000, 109.000000]
...
  wt: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000019D36970C40> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.000000, 0.000000, 1.000000, 1.000000, ..., 0.000000, 0.000000, 0.000000, 1.000000]
  qsec: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000019D3695D140> [RTYPES.REALSXP]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 0.000000, ..., 1.000000, 1.000000, 1.000000, 1.000000]
  vs: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000019D3695DE40> [RTYPES.REALSXP]
R classes: ('numeric',)
[4.000000, 4.000000, 4.000000, 3.000000, ..., 5.000000, 5.000000, 5.000000, 4.000000]
  am: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000019D3695DC40> [RTYPES.REALSXP]
R classes: ('numeric',)
[4.000000, 4.000000, 1.000000, 1.000000, ..., 4.000000, 6.000000, 8.000000, 2.000000]

In [14]:
type(mtcars)

rpy2.robjects.vectors.DataFrame

In [21]:
import pandas as pd
mtcarsDF = pd.DataFrame(mtcars)
mtcarsDF # reverse rows and columns

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,21.00,21.000,22.80,21.400,18.70,18.10,14.30,24.40,22.80,19.20,...,15.200,13.30,19.200,27.300,26.00,30.400,15.80,19.70,15.00,21.40
1,6.00,6.000,4.00,6.000,8.00,6.00,8.00,4.00,4.00,6.00,...,8.000,8.00,8.000,4.000,4.00,4.000,8.00,6.00,8.00,4.00
2,160.00,160.000,108.00,258.000,360.00,225.00,360.00,146.70,140.80,167.60,...,304.000,350.00,400.000,79.000,120.30,95.100,351.00,145.00,301.00,121.00
3,110.00,110.000,93.00,110.000,175.00,105.00,245.00,62.00,95.00,123.00,...,150.000,245.00,175.000,66.000,91.00,113.000,264.00,175.00,335.00,109.00
4,3.90,3.900,3.85,3.080,3.15,2.76,3.21,3.69,3.92,3.92,...,3.150,3.73,3.080,4.080,4.43,3.770,4.22,3.62,3.54,4.11
5,2.62,2.875,2.32,3.215,3.44,3.46,3.57,3.19,3.15,3.44,...,3.435,3.84,3.845,1.935,2.14,1.513,3.17,2.77,3.57,2.78
6,16.46,17.020,18.61,19.440,17.02,20.22,15.84,20.00,22.90,18.30,...,17.300,15.41,17.050,18.900,16.70,16.900,14.50,15.50,14.60,18.60
7,0.00,0.000,1.00,1.000,0.00,1.00,0.00,1.00,1.00,1.00,...,0.000,0.00,0.000,1.000,0.00,1.000,0.00,0.00,0.00,1.00
8,1.00,1.000,1.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.000,1.000,1.00,1.000,1.00,1.00,1.00,1.00
9,4.00,4.000,4.00,3.000,3.00,3.00,3.00,4.00,4.00,4.00,...,3.000,3.00,3.000,4.000,5.00,5.000,5.00,5.00,5.00,4.00
10,4.00,4.000,1.00,1.000,2.00,1.00,4.00,2.00,2.00,4.00,...,2.000,4.00,2.000,1.000,2.00,2.000,4.00,6.00,8.00,2.00

In [23]:
stats = importr('stats')
base = importr('base')
base

rpy2.robjects.packages.Package as a <module 'base'>