# DataSets from sm library
#https://vincentarelbundock.github.io/Rdatasets/datasets.html

In [1]:
import statsmodels.api as sm

In [3]:
iris = sm.datasets.get_rdataset(dataname='iris', package='datasets')
iris.data
iris.data.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
mtcars = sm.datasets.get_rdataset(dataname='mtcars', package='datasets')
mtcars.data
print(mtcars.data.head())
type(mtcars.data)

                    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
Mazda RX4          21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
Mazda RX4 Wag      21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
Datsun 710         22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
Hornet 4 Drive     21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

                   carb
Mazda RX4             4
Mazda RX4 Wag         4
Datsun 710            1
Hornet 4 Drive        1
Hornet Sportabout     2

pandas.core.frame.DataFrame