# Library xlrd
https://www.educba.com/python-xlrd/
https://github.com/DUanalytics/datasets/blob/master/excel/Excel_data
https://github.com/DUanalytics/datasets/blob/master/excel/clustering-vanilla.xls
Only older files xls version
https://www.python-excel.org/

In [1]:
#!pip install xlrd

In [3]:
import pandas as pd
import xlrd

In [8]:
py_file = ('E:/analytics/data/student1.xls')
py_xlrd = xlrd.open_workbook(py_file)

In [9]:
py_sheet = py_xlrd.sheet_by_index(0)

In [11]:
py_sheet.cell_value (0, 0)

'rollno'

In [13]:
for i in range (py_sheet.ncols):
    print (py_sheet.cell_value(0, i), end='\t')

rollno	sname	feepaid	gender	cat	dob	age	class10	class12	sem1	sem2	attnd	batch	batchyr	br	city	java	dbms	dwm	vlsi	cpp	cbnst	btechmarks	finalgrade	btechfinal	cgpa

In [14]:
print("{0} {1} {2}".format(py_sheet.name, py_sheet.nrows, py_sheet.ncols))

Sample Data and Excel - student 51 26

In [15]:
print("Cell D30 is {0}".format(py_sheet.cell_value(rowx=29, colx=3)))

Cell D30 is M

In [16]:
for rx in range(py_sheet.nrows):    print(py_sheet.row(rx))

[text:'rollno', text:'sname', text:'feepaid', text:'gender', text:'cat', text:'dob', text:'age', text:'class10', text:'class12', text:'sem1', text:'sem2', text:'attnd', text:'batch', text:'batchyr', text:'br', text:'city', text:'java', text:'dbms', text:'dwm', text:'vlsi', text:'cpp', text:'cbnst', text:'btechmarks', text:'finalgrade', text:'btechfinal', text:'cgpa']
[number:102052.0, text:'student49', number:35800.0, text:'M', text:'GEN', xldate:33333.0, number:21.0, number:71.0, text:'First', number:56.0, number:55.0, number:0.94, xldate:41913.0, number:2010.0, text:'EC ', text:'Haldwani', number:85.0, number:72.0, number:67.0, number:40.0, number:72.0, number:56.0, number:68.0, text:'A', text:'Pass', number:9.0]
[number:102035.0, text:'student31', number:35800.0, text:'M', text:'OBC', xldate:33957.0, number:20.0, number:57.0, text:'First', number:77.0, number:60.0, number:0.81, xldate:41913.0, number:2010.0, text:'EC ', text:'Delhi', number:76.0, number:58.0, number:50.0, number:65.0, number:50.0, number:64.0, number:63.0, text:'A', text:'Pass', number:9.0]
[number:102049.0, text:'student44', number:35800.0, text:'M', text:'SC', xldate:34100.0, number:19.0, number:50.0, text:'Third', number:61.0, number:55.0, number:0.09, xldate:42705.0, number:2012.0, text:'EC ', text:'Noida', number:65.0, number:65.0, number:48.0, number:35.0, number:45.0, number:35.0, number:35.0, text:'C', text:'Fail', number:3.0]
[number:102002.0, text:'student2', number:35800.0, text:'M', text:'GEN', xldate:34174.0, number:19.0, number:78.0, text:'First', number:67.0, number:73.0, number:0.71, xldate:42705.0, number:2012.0, text:'CS', text:'Gurgaon', number:92.0, number:45.0, number:63.0, number:63.0, number:62.0, number:40.0, number:69.0, text:'A', text:'Pass', number:9.0]
[number:102036.0, text:'student32', number:35800.0, text:'F', text:'GEN', xldate:34231.0, number:19.0, number:68.0, text:'First', number:61.0, number:75.0, number:0.73, xldate:42705.0, number:2012.0, text:'CS', text:'Delhi', number:89.0, number:58.0, number:63.0, number:70.0, number:83.0, number:41.0, number:68.0, text:'A', text:'Pass', number:9.0]
[number:102048.0, text:'student43', number:35800.0, text:'M', text:'GEN', xldate:34288.0, number:19.0, number:77.0, text:'Third', number:54.0, number:66.0, number:0.08, xldate:42705.0, number:2012.0, text:'EC ', text:'Noida', number:42.0, number:47.0, number:65.0, number:35.0, number:41.0, number:49.0, number:35.0, text:'C', text:'Fail', number:3.0]
[number:102027.0, text:'student23', number:35800.0, text:'F', text:'GEN', xldate:34325.0, number:19.0, number:73.0, text:'First', number:74.0, number:58.0, number:0.79, xldate:42705.0, number:2012.0, text:'EC ', text:'Delhi', number:70.0, number:61.0, number:68.0, number:58.0, number:76.0, number:50.0, number:62.0, text:'A', text:'Pass', number:9.0]
[number:102039.0, text:'student35', number:35800.0, text:'F', text:'GEN', xldate:34390.0, number:18.0, number:61.0, text:'First', number:58.0, number:55.0, number:0.73, xldate:42705.0, number:2012.0, text:'CS', text:'Dehra Dun', number:82.0, number:64.0, number:72.0, number:83.0, number:73.0, number:43.0, number:75.0, text:'B', text:'Pass', number:7.0]
[number:102031.0, text:'student27', number:35800.0, text:'M', text:'GEN', xldate:34432.0, number:18.0, number:65.0, text:'Second', number:76.0, number:75.0, number:0.58, xldate:42705.0, number:2012.0, text:'CS', text:'Haldwani', number:49.0, number:46.0, number:49.0, number:54.0, number:56.0, number:62.0, number:54.0, text:'B', text:'Pass', number:7.0]
[number:102008.0, text:'student6', number:35800.0, text:'M', text:'GEN', xldate:34462.0, number:18.0, number:67.0, text:'First', number:51.0, number:78.0, number:0.64, xldate:42705.0, number:2012.0, text:'EC ', text:'Haldwani', number:67.0, number:54.0, number:47.0, number:65.0, number:50.0, number:58.0, number:62.0, text:'A', text:'Pass', number:9.0]
[number:102015.0, text:'student11', number:35800.0, text:'F', text:'GEN', xldate:34493.0, number:18.0, number:68.0, text:'Second', number:73.0, number:79.0, number:0.56, xldate:42705.0, number:2012.0, text:'CS', text:'Dehra Dun', number:55.0, number:46.0, number:49.0, number:54.0, number:56.0, number:46.0, number:57.0, text:'B', text:'Pass', number:8.0]
[number:102011.0, text:'student8', number:35800.0, text:'M', text:'GEN', xldate:34561.0, number:18.0, number:66.0, text:'Second', number:52.0, number:77.0, number:0.63, xldate:42705.0, number:2012.0, text:'CS', text:'Haldwani', number:84.0, number:65.0, number:58.0, number:51.0, number:64.0, number:50.0, number:64.0, text:'B', text:'Pass', number:8.0]
[number:102020.0, text:'student16', number:26200.0, text:'F', text:'OBC', xldate:34602.0, number:18.0, number:54.0, text:'First', number:68.0, number:78.0, number:0.81, xldate:42705.0, number:2012.0, text:'EC ', text:'Haldwani', number:42.0, number:65.0, number:64.0, number:43.0, number:60.0, number:63.0, number:69.0, text:'A', text:'Pass', number:9.0]
[number:102001.0, text:'student1', number:35800.0, text:'F', text:'GEN', xldate:34646.0, number:18.0, number:57.0, text:'First', number:61.0, number:63.0, number:0.8, xldate:42705.0, number:2012.0, text:'EC ', text:'Gurgaon', number:77.0, number:56.0, number:62.0, number:42.0, number:64.0, number:56.0, number:66.0, text:'A', text:'Pass', number:9.0]
[number:102028.0, text:'student24', number:35800.0, text:'F', text:'GEN', xldate:34736.0, number:17.0, number:69.0, text:'First', number:51.0, number:64.0, number:0.74, xldate:42705.0, number:2012.0, text:'CS', text:'Noida', number:65.0, number:50.0, number:53.0, number:50.0, number:61.0, number:58.0, number:64.0, text:'A', text:'Pass', number:9.0]
[number:102043.0, text:'student39', number:35800.0, text:'M', text:'GEN', xldate:34748.0, number:17.0, number:71.0, text:'First', number:66.0, number:63.0, number:0.64, xldate:42705.0, number:2012.0, text:'EC ', text:'Delhi', number:47.0, number:49.0, number:63.0, number:45.0, number:56.0, number:62.0, number:67.0, text:'A', text:'Pass', number:9.0]
[number:102044.0, text:'student40', number:35800.0, text:'M', text:'SC', xldate:34761.0, number:17.0, number:63.0, text:'Second', number:63.0, number:53.0, number:0.33, xldate:42705.0, number:2012.0, text:'CS', text:'Haldwani', number:55.0, number:46.0, number:49.0, number:65.0, number:58.0, number:56.0, number:57.0, text:'B', text:'Pass', number:7.0]
[number:102058.0, text:'student45', number:35800.0, text:'F', text:'GEN', xldate:34791.0, number:17.0, number:67.0, text:'First', number:75.0, number:68.0, number:0.83, xldate:42705.0, number:2012.0, text:'EC ', text:'Haldwani', number:62.0, number:86.0, number:79.0, number:40.0, number:76.0, number:47.0, number:71.0, text:'A', text:'Pass', number:9.0]
[number:102007.0, text:'student5', number:35800.0, text:'M', text:'GEN', xldate:34870.0, number:17.0, number:68.0, text:'First', number:53.0, number:68.0, number:0.64, xldate:42705.0, number:2012.0, text:'EC ', text:'Almora', number:65.0, number:50.0, number:53.0, number:50.0, number:61.0, number:58.0, number:65.0, text:'A', text:'Pass', number:9.0]
[number:102016.0, text:'student12', number:35800.0, text:'M', text:'GEN', xldate:34874.0, number:17.0, number:80.0, text:'Second', number:69.0, number:52.0, number:0.34, xldate:42705.0, number:2012.0, text:'EC ', text:'Rudrapur', number:49.0, number:46.0, number:49.0, number:55.0, number:49.0, number:50.0, number:45.0, text:'B', text:'Pass', number:8.0]
[number:102022.0, text:'student18', number:35800.0, text:'M', text:'GEN', xldate:34874.0, number:17.0, number:75.0, text:'Second', number:55.0, number:75.0, number:0.27, xldate:42705.0, number:2012.0, text:'CS', text:'Haldwani', number:44.0, number:49.0, number:34.0, number:47.0, number:55.0, number:48.0, number:36.0, text:'C', text:'Fail', number:5.0]
[number:102063.0, text:'student29', number:35800.0, text:'F', text:'GEN', xldate:34883.0, number:17.0, number:74.0, text:'First', number:53.0, number:65.0, number:0.9, xldate:42705.0, number:2012.0, text:'EC ', text:'Haldwani', number:40.0, number:67.0, number:47.0, number:40.0, number:61.0, number:62.0, number:72.0, text:'A', text:'Pass', number:9.0]
[number:102041.0, text:'student37', number:35800.0, text:'M', text:'SC', xldate:34907.0, number:17.0, number:66.0, text:'Second', number:79.0, number:67.0, number:0.25, xldate:42705.0, number:2012.0, text:'EC ', text:'Haldwani', number:49.0, number:42.0, number:46.0, number:49.0, number:46.0, number:50.0, number:42.0, text:'B', text:'Pass', number:7.0]
[number:102026.0, text:'student22', number:35800.0, text:'F', text:'OBC', xldate:35009.0, number:17.0, number:53.0, text:'First', number:63.0, number:65.0, number:0.8, xldate:42705.0, number:2012.0, text:'CS', text:'Haldwani', number:68.0, number:65.0, number:71.0, number:44.0, number:71.0, number:50.0, number:63.0, text:'A', text:'Pass', number:9.0]
[number:102040.0, text:'student36', number:35800.0, text:'M', text:'GEN', xldate:35076.0, number:16.0, number:66.0, text:'Second', number:56.0, number:61.0, number:0.6, xldate:42705.0, number:2012.0, text:'CS', text:'Haldwani', number:89.0, number:77.0, number:54.0, number:56.0, number:62.0, number:45.0, number:56.0, text:'A', text:'Pass', number:9.0]
[number:102019.0, text:'student15', number:3800.0, text:'F', text:'GEN', xldate:35246.0, number:16.0, number:63.0, text:'First', number:69.0, number:65.0, number:0.85, xldate:42705.0, number:2012.0, text:'EC ', text:'Haldwani', number:77.0, number:75.0, number:88.0, number:81.0, number:83.0, number:42.0, number:67.0, text:'A', text:'Pass', number:9.0]
[number:102024.0, text:'student20', number:35800.0, text:'F', text:'GEN', xldate:35246.0, number:16.0, number:57.0, text:'First', number:62.0, number:77.0, number:0.81, xldate:42705.0, number:2012.0, text:'CS', text:'Haldwani', number:71.0, number:68.0, number:75.0, number:50.0, number:66.0, number:50.0, number:64.0, text:'A', text:'Pass', number:9.0]
[number:102050.0, text:'student47', number:500.0, text:'F', text:'GEN', xldate:35247.0, number:16.0, number:51.0, text:'Third', number:52.0, number:58.0, number:0.04, xldate:42705.0, number:2012.0, text:'EC ', text:'Haldwani', number:39.0, number:65.0, number:43.0, number:65.0, number:50.0, number:36.0, number:33.0, text:'C', text:'Fail', number:3.0]
[number:102051.0, text:'student48', number:500.0, text:'M', text:'ST', xldate:35278.0, number:16.0, number:60.0, text:'Third', number:76.0, number:59.0, number:0.04, xldate:42705.0, number:2012.0, text:'EC ', text:'Haldwani', number:30.0, number:46.0, number:34.0, number:65.0, number:32.0, number:35.0, number:32.0, text:'C', text:'Fail', number:3.0]
[number:102034.0, text:'student30', number:35800.0, text:'F', text:'GEN', xldate:33979.0, number:20.0, number:52.0, text:'First', number:77.0, number:60.0, number:0.81, text:'13-17', number:2013.0, text:'CS', text:'Haldwani', number:74.0, number:74.0, number:83.0, number:56.0, number:62.0, number:56.0, number:68.0, text:'A', text:'Pass', number:9.0]
[number:102033.0, text:'student50', number:35800.0, text:'M', text:'GEN', xldate:34228.0, number:20.0, number:72.0, text:'Third', number:62.0, number:69.0, number:0.13, text:'13-17', number:2013.0, text:'CS', text:'Dehra Dun', number:44.0, number:45.0, number:55.0, number:35.0, number:42.0, number:43.0, number:36.0, text:'C', text:'Fail', number:3.0]
[number:102025.0, text:'student21', number:35800.0, text:'M', text:'GEN', xldate:34314.0, number:20.0, number:73.0, text:'First', number:75.0, number:72.0, number:0.9, text:'13-17', number:2013.0, text:'CS', text:'Haldwani', number:88.0, number:89.0, number:95.0, number:91.0, number:87.0, number:47.0, number:79.0, text:'A', text:'Pass', number:9.0]
[number:102023.0, text:'student19', number:35800.0, text:'M', text:'GEN', xldate:34314.0, number:20.0, number:76.0, text:'Second', number:67.0, number:51.0, number:0.3, text:'13-17', number:2013.0, text:'EC ', text:'Haldwani', number:49.0, number:46.0, number:49.0, number:49.0, number:50.0, number:55.0, number:45.0, text:'B', text:'Pass', number:8.0]
[number:102030.0, text:'student26', number:35800.0, text:'M', text:'GEN', xldate:34336.0, number:19.0, number:62.0, text:'First', number:66.0, number:76.0, number:0.64, text:'13-17', number:2013.0, text:'EC ', text:'Haldwani', number:65.0, number:77.0, number:71.0, number:58.0, number:72.0, number:43.0, number:61.0, text:'A', text:'Pass', number:9.0]
[number:102038.0, text:'student34', number:35800.0, text:'F', text:'GEN', xldate:34355.0, number:19.0, number:63.0, text:'First', number:60.0, number:53.0, number:0.92, text:'13-17', number:2013.0, text:'CS', text:'Noida', number:87.0, number:94.0, number:78.0, number:85.0, number:76.0, number:45.0, number:76.0, text:'A', text:'Pass', number:9.0]
[number:102014.0, text:'student10', number:35800.0, text:'M', text:'GEN', xldate:34359.0, number:19.0, number:60.0, text:'Second', number:63.0, number:68.0, number:0.54, text:'13-17', number:2013.0, text:'EC ', text:'Gurgaon', number:77.0, number:65.0, number:58.0, number:44.0, number:65.0, number:50.0, number:58.0, text:'B', text:'Pass', number:8.0]
[number:102004.0, text:'student4', number:35800.0, text:'M', text:'GEN', xldate:34397.0, number:19.0, number:59.0, text:'Third', number:67.0, number:58.0, number:0.15, text:'13-17', number:2013.0, text:'CS', text:'Delhi', number:47.0, number:31.0, number:55.0, number:49.0, number:46.0, number:50.0, number:36.0, text:'C', text:'Fail', number:5.0]
[number:103023.0, text:'student46', number:35800.0, text:'F', text:'GEN', xldate:34408.0, number:19.0, number:65.0, text:'First', number:77.0, number:62.0, number:0.9, text:'13-17', number:2013.0, text:'EC ', text:'Noida', number:93.0, number:74.0, number:81.0, number:73.0, number:80.0, number:43.0, number:70.0, text:'A', text:'Pass', number:9.0]
[number:102009.0, text:'student7', number:35800.0, text:'M', text:'ST', xldate:34461.0, number:19.0, number:70.0, text:'Second', number:75.0, number:66.0, number:0.33, text:'13-17', number:2013.0, text:'CS', text:'Delhi', number:65.0, number:40.0, number:31.0, number:65.0, number:42.0, number:49.0, number:35.0, text:'C', text:'Fail', number:5.0]
[number:102021.0, text:'student17', number:35800.0, text:'F', text:'GEN', xldate:34470.0, number:19.0, number:53.0, text:'First', number:75.0, number:65.0, number:0.76, text:'13-17', number:2013.0, text:'CS', text:'Noida', number:93.0, number:84.0, number:94.0, number:70.0, number:86.0, number:40.0, number:78.0, text:'A', text:'Pass', number:9.0]
[number:102029.0, text:'student25', number:35800.0, text:'M', text:'SC', xldate:34491.0, number:19.0, number:71.0, text:'Second', number:80.0, number:75.0, number:0.32, text:'13-17', number:2013.0, text:'EC ', text:'Gurgaon', number:49.0, number:46.0, number:49.0, number:46.0, number:50.0, number:55.0, number:48.0, text:'B', text:'Pass', number:8.0]
[number:102045.0, text:'student41', number:35800.0, text:'F', text:'GEN', xldate:34515.0, number:19.0, number:51.0, text:'First', number:60.0, number:60.0, number:0.87, text:'13-17', number:2013.0, text:'CS', text:'Delhi', number:96.0, number:96.0, number:98.0, number:76.0, number:81.0, number:47.0, number:80.0, text:'A', text:'Pass', number:9.0]
[number:102037.0, text:'student33', number:35800.0, text:'M', text:'GEN', xldate:34559.0, number:19.0, number:55.0, text:'Third', number:74.0, number:75.0, number:0.22, text:'13-17', number:2013.0, text:'CS', text:'Noida', number:49.0, number:46.0, number:49.0, number:23.0, number:46.0, number:50.0, number:38.0, text:'C', text:'Fail', number:5.0]
[number:102047.0, text:'student42', number:35800.0, text:'M', text:'GEN', xldate:34630.0, number:19.0, number:80.0, text:'Second', number:54.0, number:53.0, number:0.52, text:'13-17', number:2013.0, text:'CS', text:'Haldwani', number:49.0, number:55.0, number:46.0, number:54.0, number:64.0, number:50.0, number:54.0, text:'A', text:'Pass', number:9.0]
[number:102017.0, text:'student13', number:35800.0, text:'M', text:'OBC', xldate:34638.0, number:19.0, number:62.0, text:'First', number:76.0, number:54.0, number:0.72, text:'13-17', number:2013.0, text:'EC ', text:'Noida', number:98.0, number:78.0, number:88.0, number:42.0, number:81.0, number:41.0, number:70.0, text:'A', text:'Pass', number:9.0]
[number:102032.0, text:'student28', number:35800.0, text:'F', text:'GEN', xldate:34656.0, number:19.0, number:70.0, text:'First', number:58.0, number:51.0, number:0.72, text:'13-17', number:2013.0, text:'CS', text:'Delhi', number:62.0, number:62.0, number:69.0, number:63.0, number:63.0, number:42.0, number:68.0, text:'A', text:'Pass', number:9.0]
[number:102013.0, text:'student9', number:30800.0, text:'M', text:'GEN', xldate:34662.0, number:19.0, number:61.0, text:'First', number:67.0, number:66.0, number:0.66, text:'13-17', number:2013.0, text:'CS', text:'Haldwani', number:71.0, number:64.0, number:42.0, number:53.0, number:40.0, number:56.0, number:68.0, text:'A', text:'Pass', number:9.0]
[number:102003.0, text:'student3', number:35800.0, text:'M', text:'GEN', xldate:34747.0, number:18.0, number:77.0, text:'Third', number:50.0, number:72.0, number:0.11, text:'13-17', number:2013.0, text:'EC ', text:'Dehra Dun', number:48.0, number:42.0, number:43.0, number:47.0, number:32.0, number:48.0, number:34.0, text:'C', text:'Fail', number:5.0]
[number:102018.0, text:'student14', number:3800.0, text:'M', text:'GEN', xldate:34993.0, number:18.0, number:60.0, text:'First', number:75.0, number:66.0, number:0.69, text:'13-17', number:2013.0, text:'CS', text:'Almora', number:58.0, number:54.0, number:50.0, number:65.0, number:43.0, number:64.0, number:64.0, text:'A', text:'Pass', number:9.0]
[number:102042.0, text:'student38', number:35800.0, text:'M', text:'GEN', xldate:35076.0, number:17.0, number:58.0, text:'Second', number:65.0, number:80.0, number:0.22, text:'13-17', number:2013.0, text:'EC ', text:'Kashipur', number:33.0, number:55.0, number:45.0, number:46.0, number:55.0, number:31.0, number:39.0, text:'C', text:'Fail', number:3.0]

## openpyxl
https://openpyxl.readthedocs.io/en/stable/usage.html#read-an-existing-workbook
https://openpyxl.readthedocs.io/en/stable/usage.html

!pip install openpyxl

In [24]:
from openpyxl import load_workbook

In [33]:
wb = load_workbook(filename = 'E:/analytics/data/student1.xlsx')

In [34]:
#sheet_ranges = wb['range names']
#print(sheet_ranges['D18'].value)

In [35]:
wb.get_sheet_names()

C:\Users\du\AppData\Local\Temp\ipykernel_12852\1212622292.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  wb.get_sheet_names()

['student1data']

In [36]:
wb.create_sheet()

In [39]:
#wb.save()

ws = wb['student1data']

In [43]:
ws

In [44]:
from openpyxl.utils.dataframe import dataframe_to_rows
for r in dataframe_to_rows(df, index=True, header=True):
    ws.append(r)

NameError: name 'df' is not defined