# Pivot Table Drag and Drop
https://github.com/nicolaskruchten/jupyter_pivottablejs

In [1]:
#libraries
import numpy as np
import pandas as pd
from pydataset import data

In [2]:
df = data('mtcars')
df.shape

(32, 11)

In [6]:
#!pip install pivottablejs
from pivottablejs import pivot_ui

In [8]:
pivot_ui(df)

In [9]:
pivot_ui(df, rows=['gear'], cols=['cyl'])

In [13]:
link1='https://raw.githubusercontent.com/nicolaskruchten/jupyter_pivottablejs/master/example/mps.csv'
df2 = pd.read_csv(link1)
df2.head()

               Name           Party          Province   Age  Gender
0       Liu, Laurin             NDP            Quebec  22.0  Female
1    Mourani, Maria  Bloc Quebecois            Quebec  43.0  Female
2  Sellah, Djaouida             NDP            Quebec   NaN  Female
3    St-Denis, Lise             NDP            Quebec  72.0  Female
4         Fry, Hedy         Liberal  British Columbia  71.0  Female

In [14]:
pivot_ui(df2)