# datatable
Datatable is a python library for manipulating tabular data. It supports out-of-memory datasets, multi-threaded data processing and has a flexible API
https://towardsdatascience.com/introducing-datatableton-python-datatable-tutorials-exercises-a0887f4323b0

In [2]:
#!pip install datatable

Collecting datatable
  Downloading datatable-1.0.0-cp39-cp39-win_amd64.whl (4.0 MB)
     ---------------------------------------- 4.0/4.0 MB 14.0 MB/s eta 0:00:00
Installing collected packages: datatable
Successfully installed datatable-1.0.0

WARNING: Ignoring invalid distribution -istune (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -istune (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -istune (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -istune (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -istune (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -istune (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -istune (c:\programdata\anaconda3\lib\site-packages)

In [6]:
import datatable as dt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#sample data
data = dt.Frame(v1=range(10), v2=['Y', 'O', 'U', 'C', 'A', 'N', 'D', 'O', 'I', 'T'])

In [5]:
data

In [8]:
#Pandas to/fro DT
dframe = pd.DataFrame({'v1': range(11), 'v2': ['N', 'E', 'V', 'E', 'R', 'G', 'I', 'V', 'E', 'U', 'P']})
dframe

    v1 v2
0    0  N
1    1  E
2    2  V
3    3  E
4    4  R
5    5  G
6    6  I
7    7  V
8    8  E
9    9  U
10  10  P

In [9]:
data_pd = dt.Frame(dframe)
data_pd

In [10]:
pd_data = data_pd.to_pandas()
pd_data

    v1 v2
0    0  N
1    1  E
2    2  V
3    3  E
4    4  R
5    5  G
6    6  I
7    7  V
8    8  E
9    9  U
10  10  P

## select rows, filter, Missing values

In [ ]:
data = dt.fread('datatableton_sample.csv')

data_upq = data[:, ['user', 'product', 'quantity']]

## Aggregate

In [12]:
from sklearn.datasets import load_wine
from seaborn import load_dataset

In [13]:
data = dt.Frame(load_wine(as_frame=True).frame)
data.mean()

## Grouping
Aggregating metrics grouped by features
Comparing column statistics grouped by features
Combining groupings with filtering and sorting

In [14]:
data = dt.Frame(load_dataset('penguins'))
data.replace('NA', None)
data[:, dt.median(dt.f.body_mass_g), dt.by([dt.f.species, dt.f.sex])]

## Multiple Frames
Read, rbind, cbind multiple frames
Join frames using single or multiple keys
Union, intersection, difference of frames

In [ ]:
data = list(dt.iread('datatableton_sample.zip'))

orders_jan = data[1]
orders_feb = data[0]
orders_mar = data[2]
orders_all = dt.rbind(orders_jan, orders_feb, orders_mar)
returns = data[3]

orders_all.key = 'Order ID'
sales = returns[:, :, dt.join(orders_all)]

## Time Series
Extracting and creating date/time features
Creating lag and lead variables within/without groups
Calculating difference of dates/timestamps

In [ ]:
data = dt.fread('datatableton_sample.csv')
data['previous_timestamp'] = dt.shift(dt.f.timestamp, n=1)

## FTRL
Initialization and hyperparameters of FTRL model
Training and scoring a FTRL model
Perform k-fold cross validation

In [ ]:
from datatable.models import Ftrl

data = dt.fread('kdd_ctr.csv', fill=True)[1:,:]
target = data['click']
del data['click']

model_ftrl = Ftrl()
model_ftrl.fit(data, target)