# D07
Overfitting happens when the machine learning model memorizes the pattern in the training data to such an extent that it fails to classify unseen data. The noise or fluctuations in the training data is seen as features and learned by the model. This leads to the model outperforming in the training set but poor performance in the validation and testing sets.
Train & Test Set
- training set—a subset to train a model.
- test set—a subset to test accuracy of the trained model. Never train on test data. 
- Generall 75% for training, and 25% for testing.
sampling
random numbers

In [1]:
# libraries
import pandas as pd
import numpy as np
from pydataset import data

In [26]:
import random
print(random.random())

0.22540933105962413

In [2]:
from sklearn.model_selection import train_test_split
# options
# test _size, train_size, random_state = int value, shuffle, stratify

### Types of Data
IV as features (X)
DV as labels (y)
Data gets divided in X_train, y_train, X_test, y_test

In [6]:
df = data('mtcars')
print('Few Rows ', df.head(4))
print('Shape of Data ', df.shape)
print('Info ', df.info())

Few Rows                   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710      22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
Shape of Data  (32, 11)
<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 3.0+ KB
Info  None

In [8]:
df1 = df[['mpg','wt', 'hp','gear']]
df1.head()

                    mpg     wt   hp  gear
Mazda RX4          21.0  2.620  110     4
Mazda RX4 Wag      21.0  2.875  110     4
Datsun 710         22.8  2.320   93     4
Hornet 4 Drive     21.4  3.215  110     3
Hornet Sportabout  18.7  3.440  175     3

In [11]:
X = df1[['wt','hp','gear']]
y = df1['mpg']
print(pd.concat([X.head(), y.head()], axis=1))

                      wt   hp  gear   mpg
Mazda RX4          2.620  110     4  21.0
Mazda RX4 Wag      2.875  110     4  21.0
Datsun 710         2.320   93     4  22.8
Hornet 4 Drive     3.215  110     3  21.4
Hornet Sportabout  3.440  175     3  18.7

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y , random_state=104,  test_size=0.25, shuffle=True)

In [13]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(24, 3) (24,)
(8, 3) (8,)

# Sampling
Population to Sample

In [14]:
df.sample(5)   #sample rows

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4

In [ ]:
## numpy samples

In [15]:
np.random.rand(10)
#10 values between 0 and 1

array([0.73237097, 0.73825165, 0.18556446, 0.55592224, 0.81106165,
       0.73761965, 0.80122643, 0.12640391, 0.80733064, 0.40797795])

In [17]:
np.random.randint(0,100,20)
#20 random integers between 0 and 100

array([ 4, 80, 44, 59, 88, 70, 41, 98, 73,  5, 62, 59, 13, 78,  8, 37, 49,
       10,  4, 45])

In [22]:
np.random.normal(loc=25, scale=2, size=20)
#normally distributed numbers : mean = 25, std 2, n=2

array([25.1381216 , 24.93297976, 26.02044571, 23.41513263, 21.10426334,
       25.55949869, 23.29364369, 25.4551703 , 25.81424839, 24.6287773 ,
       22.97848025, 25.59279787, 25.55140309, 24.89438153, 23.88817548,
       22.25329392, 24.78360883, 26.58044527, 23.51286614, 24.49521429])

In [25]:
# random choices
courses = ['BBA','BA','BCom', 'MBA', 'MTech', 'Phd']
np.random.choice(courses, size=20, replace=True, p = [.2, .1, .2, .3, .1,.1])

array(['BBA', 'BBA', 'BA', 'MBA', 'BA', 'BA', 'Phd', 'BBA', 'MBA', 'BBA',
       'BBA', 'Phd', 'MBA', 'Phd', 'MBA', 'MTech', 'BCom', 'BBA', 'MTech',
       'BCom'], dtype='<U5')

In [36]:
random.choice(courses)

'Phd'

In [39]:
random.shuffle(courses)
courses

['Phd', 'BA', 'MTech', 'BCom', 'BBA', 'MBA']

In [41]:
random.randrange(20, 50)
#random number between 20 & 50

27

In [46]:
random.sample(courses,2)

['BCom', 'MTech']

In [35]:
# using seed() to seed a random number
random.seed(5)
random.random() #always fixed no  with seet

0.6229016948897019

In [47]:
#Generate 5 random numbers between 10 and 30
random.sample(range(10, 30), 5)

[15, 22, 29, 12, 14]