## Interval Check
Create random Dates of DOJ and DOL
Then compare who were present during the interval
Find out how many were present during the interval and for how many days

In [384]:
import pandas as pd
import datetime as dt
import numpy as np
import random as rd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
np.set_printoptions(edgeitems=30, linewidth=100000,  formatter=dict(float=lambda x: "%.3g" % x))
pd.options.display.float_format = '{:.2f}'.format

In [385]:
# Initialize
start = '2015-01-01' # Specify start date
end = '2022-12-31' # Specify end date
n = 100 # Specify number of dates needed

In [386]:
# Get random dates
xDOJ = np.random.randint(low=pd.Timestamp(start).value, high= pd.Timestamp(end).value, size= n, dtype='int64')
print(xDOJ[1:5])

[1614420080705447724 1561032823794253406 1475246700068977949 1586638608548564778]

In [387]:
#int to date : 
DOJ = [pd.to_datetime((i/10**9)/(60*60)/24, unit='D').strftime('%Y-%m-%d')  for i in xDOJ]
print(DOJ)

['2016-09-19', '2021-02-27', '2019-06-20', '2016-09-30', '2020-04-11', '2022-08-27', '2017-06-30', '2020-08-16', '2020-10-29', '2019-05-03', '2019-07-03', '2020-08-03', '2015-02-06', '2015-01-01', '2016-03-18', '2021-08-27', '2018-09-05', '2020-05-27', '2019-07-07', '2016-04-16', '2018-03-15', '2020-03-15', '2021-07-31', '2019-04-12', '2021-01-03', '2017-05-15', '2019-04-19', '2017-02-14', '2019-10-06', '2020-09-19', '2017-02-06', '2017-12-18', '2019-12-03', '2016-08-25', '2015-01-23', '2020-05-02', '2020-01-19', '2022-03-15', '2019-01-17', '2022-02-19', '2016-06-21', '2020-10-04', '2020-08-04', '2018-11-19', '2018-07-18', '2022-03-31', '2020-11-23', '2017-06-22', '2020-03-11', '2016-07-23', '2018-01-27', '2019-09-08', '2018-04-13', '2021-09-02', '2015-04-28', '2019-02-19', '2021-08-28', '2016-07-19', '2022-07-19', '2015-07-18', '2017-04-22', '2018-07-22', '2018-05-27', '2022-03-12', '2022-09-25', '2017-08-22', '2018-03-08', '2017-11-24', '2016-09-13', '2020-09-14', '2021-01-30', '2020-01-16', '2018-06-11', '2015-09-27', '2022-06-16', '2017-12-17', '2016-03-08', '2016-06-07', '2022-10-12', '2020-03-21', '2015-09-24', '2021-03-02', '2015-12-15', '2019-09-23', '2020-02-05', '2017-12-11', '2020-10-25', '2020-09-09', '2019-08-07', '2022-10-23', '2020-08-24', '2022-12-19', '2018-11-18', '2022-08-05', '2017-09-04', '2021-07-04', '2015-02-09', '2017-01-08', '2020-12-15', '2022-07-07']

### add fixed days to  date

In [388]:
dt.datetime.now() + dt.timedelta(days=10)

datetime.datetime(2023, 3, 25, 15, 50, 55, 935702)

In [389]:
dt.datetime.now() + pd.DateOffset(days=10)

Timestamp('2023-03-25 15:50:56.284147')

In [390]:
(dt.datetime.now() + dt.timedelta(days=10)).strftime('%Y-%m-%d')

'2023-03-25'

In [391]:
from dateutil.relativedelta import relativedelta
dt.datetime.now() + relativedelta(days=10)

datetime.datetime(2023, 3, 25, 15, 50, 56, 677489)

In [392]:
from pandas.tseries.offsets import Day
dt.datetime.now() + Day(10)

Timestamp('2023-03-25 15:50:56.886783')

## Add random Date

In [393]:
d1= rd.randint(1,10)
d1

1

In [394]:
dt.datetime.now() + pd.DateOffset(days=d1)

Timestamp('2023-03-16 15:50:57.713348')

In [395]:
d2 = rd.sample(range(60, 2000), n)
d2a = np.asarray(d2, dtype='int')
d2a

array([ 398,  426,  845, 1081, 1381, 1387,  726, 1059, 1545, 1506, 1802, 1765,  856, 1079,  627,  794, 1786,  859,  660, 1002,  807,  642, 1307,  448,  941, 1251,  182,  475,  248, 1755,  332, 1211, 1641, 1546,  791,  190,  578,  862, 1317,  901, 1025, 1220, 1975,  699,  208,  238,  305, 1803,  189,   75, 1669,  581,  589, 1446,  680, 1647,  970,  497, 1813, 1124,  975, 1101, 1653, 1900, 1089,  963, 1445,  275, 1233,  593,  770,  943,  750,  535, 1856,  314, 1903,  237,  917,  339,  375, 1270,  690,  502, 1923, 1125,  682,  787, 1877, 1991,  933, 1236, 1973, 1118,  730, 1470,  816, 1853, 1828,  350])

In [396]:
np.asarray(DOJ)

array(['2016-09-19', '2021-02-27', '2019-06-20', '2016-09-30', '2020-04-11', '2022-08-27', '2017-06-30', '2020-08-16', '2020-10-29', '2019-05-03', '2019-07-03', '2020-08-03', '2015-02-06', '2015-01-01', '2016-03-18', '2021-08-27', '2018-09-05', '2020-05-27', '2019-07-07', '2016-04-16', '2018-03-15', '2020-03-15', '2021-07-31', '2019-04-12', '2021-01-03', '2017-05-15', '2019-04-19', '2017-02-14', '2019-10-06', '2020-09-19', '2017-02-06', '2017-12-18', '2019-12-03', '2016-08-25', '2015-01-23', '2020-05-02', '2020-01-19', '2022-03-15', '2019-01-17', '2022-02-19', '2016-06-21', '2020-10-04', '2020-08-04', '2018-11-19', '2018-07-18', '2022-03-31', '2020-11-23', '2017-06-22', '2020-03-11', '2016-07-23', '2018-01-27', '2019-09-08', '2018-04-13', '2021-09-02', '2015-04-28', '2019-02-19', '2021-08-28', '2016-07-19', '2022-07-19', '2015-07-18', '2017-04-22', '2018-07-22', '2018-05-27', '2022-03-12', '2022-09-25', '2017-08-22', '2018-03-08', '2017-11-24', '2016-09-13', '2020-09-14', '2021-01-30', '2020-01-16', '2018-06-11', '2015-09-27', '2022-06-16', '2017-12-17', '2016-03-08', '2016-06-07', '2022-10-12', '2020-03-21', '2015-09-24', '2021-03-02', '2015-12-15', '2019-09-23', '2020-02-05', '2017-12-11', '2020-10-25', '2020-09-09', '2019-08-07', '2022-10-23', '2020-08-24', '2022-12-19', '2018-11-18', '2022-08-05', '2017-09-04', '2021-07-04', '2015-02-09', '2017-01-08', '2020-12-15', '2022-07-07'], dtype='<U10')

In [397]:
df1 = pd.DataFrame({'DOJ':pd.to_datetime(DOJ), 'SD':d2a})
print('\t',df1.head(), '\n', df1.dtypes)

	          DOJ    SD
0 2016-09-19   398
1 2021-02-27   426
2 2019-06-20   845
3 2016-09-30  1081
4 2020-04-11  1381
 DOJ    datetime64[ns]
SD              int32
dtype: object

In [398]:
df1['DOL'] = df1['DOJ'] +  pd.Timedelta(days=10)
df1.head()

         DOJ    SD        DOL
0 2016-09-19   398 2016-09-29
1 2021-02-27   426 2021-03-09
2 2019-06-20   845 2019-06-30
3 2016-09-30  1081 2016-10-10
4 2020-04-11  1381 2020-04-21

In [399]:
# convert to date , integer col
df1['DOL'] = df1['DOJ'] +  pd.to_timedelta(df1['SD'], unit='D')
df1.head()

         DOJ    SD        DOL
0 2016-09-19   398 2017-10-22
1 2021-02-27   426 2022-04-29
2 2019-06-20   845 2021-10-12
3 2016-09-30  1081 2019-09-16
4 2020-04-11  1381 2024-01-22

### add few columns : campus, gender, cadre, 
random values

In [400]:
cList = ['C1','C2','C3','C4','C5','C6']
gList = ['M','F']
tList = ['Prof','AssocProf', 'AsstProf']
#age between 30,50

In [401]:
rd.choice(cList)

'C1'

In [402]:
rd.shuffle(cList)   #updates original list
cList

['C6', 'C1', 'C2', 'C3', 'C4', 'C5']

In [403]:
rd.randrange(30,50,1)

45

In [404]:
rd.choice(range(30,50))

35

In [405]:
rd.choice((20,30,40))

30

In [406]:
rd.sample(cList, k=1)  #no repetitions allowed

['C6']

In [407]:
#rd.sample(cList, k=7)  #error

In [408]:
rd.sample(gList, counts=[10,5], k=15)  # M-10, F-5 expand

['F', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M']

In [409]:
gListData = rd.choices(population=gList, weights=[.7,.5], k=n)
np.array(gListData)

array(['F', 'F', 'M', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'M'], dtype='<U1')

In [410]:
wts= [.08, .22, .2, .14, .16, .20]
cListData = rd.choices(population=cList, weights=wts, k=n)
np.array(cListData)

array(['C1', 'C4', 'C1', 'C3', 'C5', 'C2', 'C5', 'C4', 'C2', 'C5', 'C5', 'C4', 'C5', 'C3', 'C5', 'C4', 'C5', 'C1', 'C6', 'C2', 'C4', 'C5', 'C2', 'C2', 'C3', 'C1', 'C2', 'C4', 'C5', 'C4', 'C5', 'C5', 'C4', 'C3', 'C5', 'C6', 'C1', 'C4', 'C3', 'C3', 'C3', 'C2', 'C2', 'C2', 'C2', 'C5', 'C5', 'C4', 'C5', 'C5', 'C2', 'C5', 'C2', 'C2', 'C2', 'C1', 'C2', 'C2', 'C1', 'C5', 'C2', 'C1', 'C6', 'C2', 'C4', 'C5', 'C3', 'C3', 'C2', 'C4', 'C5', 'C1', 'C3', 'C2', 'C2', 'C1', 'C5', 'C5', 'C1', 'C2', 'C2', 'C1', 'C1', 'C1', 'C3', 'C4', 'C2', 'C1', 'C2', 'C4', 'C5', 'C2', 'C3', 'C2', 'C4', 'C1', 'C5', 'C1', 'C1', 'C6'], dtype='<U2')

In [411]:
import collections as cl
clCampus= cl.Counter(np.array(cListData))
clCampus

Counter({'C1': 18, 'C4': 15, 'C3': 12, 'C5': 24, 'C2': 27, 'C6': 4})

In [412]:
for i in clCampus.items():    print(i)

('C1', 18)
('C4', 15)
('C3', 12)
('C5', 24)
('C2', 27)
('C6', 4)

In [413]:
wts= [1/9, 2/9,6/9]
tListData = rd.choices(population=tList, weights=wts, k=n)
np.array(tListData)

array(['AsstProf', 'AssocProf', 'Prof', 'AsstProf', 'AsstProf', 'AsstProf', 'Prof', 'AsstProf', 'AssocProf', 'AssocProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AsstProf', 'AsstProf', 'Prof', 'AsstProf', 'AssocProf', 'AssocProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AsstProf', 'Prof', 'Prof', 'AsstProf', 'AsstProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AsstProf', 'Prof', 'AsstProf', 'AsstProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AsstProf', 'Prof', 'AssocProf', 'AssocProf', 'AsstProf', 'AsstProf', 'Prof', 'AssocProf', 'AssocProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AsstProf', 'Prof', 'AsstProf', 'AssocProf', 'AsstProf', 'AssocProf', 'AssocProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AssocProf', 'AssocProf', 'Prof', 'AssocProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AsstProf', 'AsstProf', 'AsstProf', 'Prof', 'AsstProf', 'AsstProf', 'AssocProf', 'AsstProf', 'AsstProf', 'AssocProf', 'AssocProf', 'AsstProf', 'Prof', 'AsstProf', 'AssocProf'], dtype='<U9')

In [414]:
clTeacher= cl.Counter(np.array(tListData))
for i in clTeacher.items():    print(i)

('AsstProf', 59)
('AssocProf', 29)
('Prof', 12)

In [415]:
age = rd.choices(range(30, 55), k=n)
np.asarray(age, dtype='int')

array([53, 51, 32, 51, 45, 30, 43, 43, 30, 30, 40, 37, 54, 43, 48, 51, 44, 52, 51, 49, 48, 30, 49, 48, 40, 49, 48, 39, 50, 34, 30, 52, 41, 45, 35, 51, 35, 33, 40, 52, 33, 43, 34, 40, 41, 45, 47, 40, 51, 39, 54, 46, 47, 44, 43, 47, 41, 31, 34, 30, 40, 51, 44, 35, 33, 44, 40, 47, 47, 36, 39, 30, 52, 44, 51, 41, 33, 43, 37, 49, 39, 35, 40, 34, 51, 41, 43, 42, 53, 32, 46, 32, 32, 31, 34, 32, 51, 39, 40, 42])

In [416]:
#recreate DF
df1['cadre']  = np.array(tListData)
df1['gender'] = np.array(gListData)
df1['campus'] = np.array(cListData)
df1['age']    = np.array(age)

In [417]:
df1.dtypes

DOJ       datetime64[ns]
SD                 int32
DOL       datetime64[ns]
cadre             object
gender            object
campus            object
age                int32
dtype: object

In [418]:
df2 = df1.drop('SD', axis=1)
df2.head()

         DOJ        DOL      cadre gender campus  age
0 2016-09-19 2017-10-22   AsstProf      F     C1   53
1 2021-02-27 2022-04-29  AssocProf      F     C4   51
2 2019-06-20 2021-10-12       Prof      M     C1   32
3 2016-09-30 2019-09-16   AsstProf      F     C3   51
4 2020-04-11 2024-01-22   AsstProf      F     C5   45

In [419]:
#pd.Interval(left=df2['DOJ'], right=df2['DOL'])  #error as only numeric and Timestamp endpoints are allowed
dt.datetime.timestamp(df2.DOJ[0])  #it takes only 1 value

1474223400.0

In [420]:
#df2['DOJ'].apply(pd.Timestamp)
DOJtstamp = df2['DOJ'].apply(dt.datetime.timestamp)
DOLtstamp = df2['DOL'].apply(dt.datetime.timestamp)
#print(pd.DataFrame(DOJtsamp, DOLtstamp))

In [421]:
DOJDOL = pd.Interval(left=DOJtstamp[0], right=DOLtstamp[0], closed='both')
DOJDOL

Interval(1474223400.0, 1508610600.0, closed='both')

In [422]:
len(df2)
type(df2)
df2.head()

         DOJ        DOL      cadre gender campus  age
0 2016-09-19 2017-10-22   AsstProf      F     C1   53
1 2021-02-27 2022-04-29  AssocProf      F     C4   51
2 2019-06-20 2021-10-12       Prof      M     C1   32
3 2016-09-30 2019-09-16   AsstProf      F     C3   51
4 2020-04-11 2024-01-22   AsstProf      F     C5   45

In [423]:
df2.iloc[[1]]

         DOJ        DOL      cadre gender campus  age
1 2021-02-27 2022-04-29  AssocProf      F     C4   51

In [424]:
for i in range(len(df2)):
    df2.loc[i, ['tenure']] = pd.Interval(df2['DOJ'].apply(dt.datetime.timestamp)[i], df2['DOL'].apply(dt.datetime.timestamp)[i])

In [425]:
df2.head()

         DOJ        DOL      cadre gender campus  age                        tenure
0 2016-09-19 2017-10-22   AsstProf      F     C1   53  (1474223400.0, 1508610600.0]
1 2021-02-27 2022-04-29  AssocProf      F     C4   51  (1614364200.0, 1651170600.0]
2 2019-06-20 2021-10-12       Prof      M     C1   32  (1560969000.0, 1633977000.0]
3 2016-09-30 2019-09-16   AsstProf      F     C3   51  (1475173800.0, 1568572200.0]
4 2020-04-11 2024-01-22   AsstProf      F     C5   45  (1586543400.0, 1705861800.0]

In [426]:
# now check if the person present between
M0122S = dt.datetime(2022, 1, 1).timestamp()
M0122E = dt.datetime(2023, 1, 31).timestamp()
M0122 = pd.Interval(left=M0122S, right=M0122E, closed='both')
M0122

Interval(1640975400.0, 1675103400.0, closed='both')

In [427]:
df2.loc[0, 'tenure']

Interval(1474223400.0, 1508610600.0, closed='right')

In [428]:
M0122.overlaps(df2.loc[0, 'tenure'])

False

In [429]:
for i in range(len(df2)):
    df2.loc[i, ['M0122']] = M0122.overlaps(df2.loc[i, 'tenure'])

In [430]:
df2.head()

         DOJ        DOL      cadre gender campus  age                        tenure  M0122
0 2016-09-19 2017-10-22   AsstProf      F     C1   53  (1474223400.0, 1508610600.0]  False
1 2021-02-27 2022-04-29  AssocProf      F     C4   51  (1614364200.0, 1651170600.0]   True
2 2019-06-20 2021-10-12       Prof      M     C1   32  (1560969000.0, 1633977000.0]  False
3 2016-09-30 2019-09-16   AsstProf      F     C3   51  (1475173800.0, 1568572200.0]  False
4 2020-04-11 2024-01-22   AsstProf      F     C5   45  (1586543400.0, 1705861800.0]   True

In [431]:
df2.groupby(['campus','M0122']).agg({'age':'count'}).reset_index()

   campus  M0122  age
0      C1  False    8
1      C1   True   10
2      C2  False   13
3      C2   True   14
4      C3  False    6
5      C3   True    6
6      C4  False    4
7      C4   True   11
8      C5  False   17
9      C5   True    7
10     C6  False    2
11     C6   True    2

In [432]:
df2.where(df2['M0122'] == True).groupby(['campus','M0122']).value_counts()

campus  M0122  DOJ         DOL         cadre      gender  age    tenure
C1      True   2017-01-08  2022-02-04  Prof       M       39.00  (1483813800.0, 1643913000.0]    1
               2019-02-19  2023-08-24  AsstProf   M       47.00  (1550514600.0, 1692815400.0]    1
               2020-01-16  2022-08-16  AssocProf  F       30.00  (1579113000.0, 1660588200.0]    1
               2020-05-27  2022-10-03  Prof       F       52.00  (1590517800.0, 1664735400.0]    1
               2020-09-09  2022-11-05  AsstProf   M       42.00  (1599589800.0, 1667586600.0]    1
               2020-12-15  2025-12-17  AsstProf   M       40.00  (1607970600.0, 1765909800.0]    1
               2021-03-02  2024-08-23  AssocProf  F       35.00  (1614623400.0, 1724351400.0]    1
               2021-07-04  2025-07-13  AssocProf  M       32.00  (1625337000.0, 1752345000.0]    1
               2022-07-19  2027-07-06  AsstProf   M       34.00  (1658169000.0, 1814812200.0]    1
               2022-10-12  2025-04-16  AsstProf   F       37.00  (1665513000.0, 1744741800.0]    1
C2      True   2022-12-19  2026-05-08  AssocProf  M       32.00  (1671388200.0, 1778178600.0]    1
               2018-01-27  2022-08-23  AssocProf  M       54.00  (1516991400.0, 1661193000.0]    1
               2019-08-07  2024-09-26  Prof       M       53.00  (1565116200.0, 1727289000.0]    1
               2020-08-04  2025-12-31  AsstProf   M       34.00  (1596479400.0, 1767119400.0]    1
               2020-10-04  2024-02-06  AsstProf   F       43.00  (1601749800.0, 1707157800.0]    1
               2020-10-25  2022-09-07  AsstProf   F       43.00  (1603564200.0, 1662489000.0]    1
               2020-10-29  2025-01-21  AssocProf  M       30.00  (1603909800.0, 1737397800.0]    1
               2021-07-31  2025-02-27  AsstProf   M       49.00  (1627669800.0, 1740594600.0]    1
               2021-08-28  2024-04-24  AsstProf   F       41.00  (1630089000.0, 1713897000.0]    1
               2021-09-02  2025-08-18  AsstProf   F       44.00  (1630521000.0, 1755455400.0]    1
               2022-03-12  2027-05-25  AsstProf   F       35.00  (1647023400.0, 1811183400.0]    1
               2022-06-16  2027-07-16  AsstProf   M       51.00  (1655317800.0, 1815676200.0]    1
               2022-08-05  2025-08-27  AsstProf   M       31.00  (1659637800.0, 1756233000.0]    1
               2022-08-27  2026-06-14  AsstProf   F       30.00  (1661538600.0, 1781375400.0]    1
C3      True   2020-02-05  2025-05-12  AsstProf   M       51.00  (1580841000.0, 1746988200.0]    1
               2021-01-03  2023-08-02  AsstProf   F       40.00  (1609612200.0, 1690914600.0]    1
               2022-02-19  2024-08-08  AsstProf   M       52.00  (1645209000.0, 1723055400.0]    1
               2019-01-17  2022-08-26  AsstProf   M       40.00  (1547663400.0, 1661452200.0]    1
               2018-11-18  2024-04-13  AsstProf   F       32.00  (1542479400.0, 1712946600.0]    1
               2018-03-08  2022-02-20  AssocProf  M       40.00  (1520447400.0, 1645295400.0]    1
C4      True   2021-08-27  2023-10-30  AsstProf   M       51.00  (1630002600.0, 1698604200.0]    1
               2017-06-22  2022-05-30  AsstProf   F       40.00  (1498069800.0, 1653849000.0]    1
               2019-12-03  2024-05-31  AsstProf   M       41.00  (1575311400.0, 1717093800.0]    1
               2020-08-03  2025-06-03  AssocProf  F       37.00  (1596393000.0, 1748889000.0]    1
               2020-08-16  2023-07-11  AsstProf   M       43.00  (1597516200.0, 1689013800.0]    1
               2020-09-14  2022-04-30  AssocProf  M       36.00  (1600021800.0, 1651257000.0]    1
               2020-09-19  2025-07-10  AsstProf   M       34.00  (1600453800.0, 1752085800.0]    1
               2021-02-27  2022-04-29  AssocProf  F       51.00  (1614364200.0, 1651170600.0]    1
               2022-03-15  2024-07-24  AsstProf   M       33.00  (1647282600.0, 1721759400.0]    1
               2022-09-25  2025-09-18  AssocProf  F       33.00  (1664044200.0, 1758133800.0]    1
               2022-10-23  2028-04-05  AsstProf   M       32.00  (1666463400.0, 1838485800.0]    1
C5      True   2018-09-05  2023-07-27  AsstProf   F       44.00  (1536085800.0, 1690396200.0]    1
               2019-05-03  2023-06-17  AssocProf  M       30.00  (1556821800.0, 1686940200.0]    1
               2019-07-03  2024-06-08  AsstProf   M       40.00  (1562092200.0, 1717785000.0]    1
               2020-04-11  2024-01-22  AsstProf   F       45.00  (1586543400.0, 1705861800.0]    1
               2020-08-24  2023-03-15  AsstProf   F       46.00  (1598207400.0, 1678818600.0]    1
               2021-01-30  2023-03-11  AsstProf   M       39.00  (1611945000.0, 1678473000.0]    1
               2022-03-31  2022-11-24  AssocProf  M       45.00  (1648665000.0, 1669228200.0]    1
C6      True   2018-05-27  2022-12-05  AssocProf  M       44.00  (1527359400.0, 1670178600.0]    1
               2022-07-07  2023-06-22  AssocProf  M       42.00  (1657132200.0, 1687372200.0]    1
dtype: int64

In [433]:
df2.where(df2['M0122'] == True).groupby(['campus','M0122']).size().reset_index()

  campus  M0122   0
0     C1   True  10
1     C2   True  14
2     C3   True   6
3     C4   True  11
4     C5   True   7
5     C6   True   2

In [434]:
df2.where(df2['M0122'] == True).groupby(['campus','M0122']).count().reset_index()

  campus  M0122  DOJ  DOL  cadre  gender  age  tenure
0     C1   True   10   10     10      10   10      10
1     C2   True   14   14     14      14   14      14
2     C3   True    6    6      6       6    6       6
3     C4   True   11   11     11      11   11      11
4     C5   True    7    7      7       7    7       7
5     C6   True    2    2      2       2    2       2

In [435]:
# begin of month
MB = pd.Series(pd.date_range("1/1/2022", freq="MS", periods=12))
ME = pd.Series(pd.date_range("1/1/2022", freq="M", periods=12))
pd.concat([MB, ME], axis=1)

            0          1
0  2022-01-01 2022-01-31
1  2022-02-01 2022-02-28
2  2022-03-01 2022-03-31
3  2022-04-01 2022-04-30
4  2022-05-01 2022-05-31
5  2022-06-01 2022-06-30
6  2022-07-01 2022-07-31
7  2022-08-01 2022-08-31
8  2022-09-01 2022-09-30
9  2022-10-01 2022-10-31
10 2022-11-01 2022-11-30
11 2022-12-01 2022-12-31

In [436]:
periods = pd.DataFrame({'MB':MB, 'ME': ME})

In [437]:
for i in range(len(periods)):
    periods.loc[i, ['pdInterval']] = pd.Interval(periods['MB'].apply(dt.datetime.timestamp)[i], periods['ME'].apply(dt.datetime.timestamp)[i])

In [438]:
periods

           MB         ME                    pdInterval
0  2022-01-01 2022-01-31  (1640975400.0, 1643567400.0]
1  2022-02-01 2022-02-28  (1643653800.0, 1645986600.0]
2  2022-03-01 2022-03-31  (1646073000.0, 1648665000.0]
3  2022-04-01 2022-04-30  (1648751400.0, 1651257000.0]
4  2022-05-01 2022-05-31  (1651343400.0, 1653935400.0]
5  2022-06-01 2022-06-30  (1654021800.0, 1656527400.0]
6  2022-07-01 2022-07-31  (1656613800.0, 1659205800.0]
7  2022-08-01 2022-08-31  (1659292200.0, 1661884200.0]
8  2022-09-01 2022-09-30  (1661970600.0, 1664476200.0]
9  2022-10-01 2022-10-31  (1664562600.0, 1667154600.0]
10 2022-11-01 2022-11-30  (1667241000.0, 1669746600.0]
11 2022-12-01 2022-12-31  (1669833000.0, 1672425000.0]

In [439]:
nos1 = [1,2,3,4,5,6,7,8,9,10,11,12]
nos2 = [str(item).zfill(2) for item in nos1]
print(type(nos1), '\n',nos2)
prefix = 'M'
suffix = '22'
monthID = [prefix + str(i) + suffix for i in nos2]
print(monthID)

<class 'list'>
 ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
['M0122', 'M0222', 'M0322', 'M0422', 'M0522', 'M0622', 'M0722', 'M0822', 'M0922', 'M1022', 'M1122', 'M1222']

In [440]:
periods['monthID'] = monthID
periods

           MB         ME                    pdInterval monthID
0  2022-01-01 2022-01-31  (1640975400.0, 1643567400.0]   M0122
1  2022-02-01 2022-02-28  (1643653800.0, 1645986600.0]   M0222
2  2022-03-01 2022-03-31  (1646073000.0, 1648665000.0]   M0322
3  2022-04-01 2022-04-30  (1648751400.0, 1651257000.0]   M0422
4  2022-05-01 2022-05-31  (1651343400.0, 1653935400.0]   M0522
5  2022-06-01 2022-06-30  (1654021800.0, 1656527400.0]   M0622
6  2022-07-01 2022-07-31  (1656613800.0, 1659205800.0]   M0722
7  2022-08-01 2022-08-31  (1659292200.0, 1661884200.0]   M0822
8  2022-09-01 2022-09-30  (1661970600.0, 1664476200.0]   M0922
9  2022-10-01 2022-10-31  (1664562600.0, 1667154600.0]   M1022
10 2022-11-01 2022-11-30  (1667241000.0, 1669746600.0]   M1122
11 2022-12-01 2022-12-31  (1669833000.0, 1672425000.0]   M1222

In [449]:
periods[periods['monthID'] == 'M0222'].pdInterval
#.overlaps(df2.loc[0, 'tenure'])

1    (1643653800.0, 1645986600.0]
Name: pdInterval, dtype: object

In [450]:
periods.at[1, 'pdInterval'].overlaps(df2.loc[0, 'tenure'])

False

In [451]:
periods.columns

Index(['MB', 'ME', 'pdInterval', 'monthID'], dtype='object')

In [452]:
mv='M0122'
PDI = periods.at[0, 'pdInterval']
for i in range(len(df2)):    df2.loc[i, [mv]] = PDI.overlaps(df2.loc[i, 'tenure'])

mv='M0722'
PDI = periods.at[6, 'pdInterval']
for i in range(len(df2)):    df2.loc[i, [mv]] = PDI.overlaps(df2.loc[i, 'tenure'])

In [453]:
for i in range(0,12): 
    PDI = periods.at[i, 'pdInterval']
    mn =  periods.at[i, 'monthID']
    for j in range(len(df2)):
        #print(i, pd, mn, j)
        df2.loc[j, [mn]] = PDI.overlaps(df2.loc[j, 'tenure'])

In [454]:
df2.head(8)

         DOJ        DOL      cadre gender campus  age                        tenure  M0122  M0222  M0322  M0422  M0522  M0622  M0722  M0822  M0922  M1022  M1122  M1222
0 2016-09-19 2017-10-22   AsstProf      F     C1   53  (1474223400.0, 1508610600.0]  False  False  False  False  False  False  False  False  False  False  False  False
1 2021-02-27 2022-04-29  AssocProf      F     C4   51  (1614364200.0, 1651170600.0]   True   True   True   True  False  False  False  False  False  False  False  False
2 2019-06-20 2021-10-12       Prof      M     C1   32  (1560969000.0, 1633977000.0]  False  False  False  False  False  False  False  False  False  False  False  False
3 2016-09-30 2019-09-16   AsstProf      F     C3   51  (1475173800.0, 1568572200.0]  False  False  False  False  False  False  False  False  False  False  False  False
4 2020-04-11 2024-01-22   AsstProf      F     C5   45  (1586543400.0, 1705861800.0]   True   True   True   True   True   True   True   True   True   True   True   True
5 2022-08-27 2026-06-14   AsstProf      F     C2   30  (1661538600.0, 1781375400.0]  False  False  False  False  False  False  False   True   True   True   True   True
6 2017-06-30 2019-06-26       Prof      F     C5   43  (1498761000.0, 1561487400.0]  False  False  False  False  False  False  False  False  False  False  False  False
7 2020-08-16 2023-07-11   AsstProf      M     C4   43  (1597516200.0, 1689013800.0]   True   True   True   True   True   True   True   True   True   True   True   True

In [455]:
print(time_range1)

2015-01-01T00:00:00 - 2015-01-04T00:00:00

In [457]:
import datetimerange

In [458]:
# now check if the person present between
M_01 = DateTimeRange(dt.datetime(2022, 1, 1), dt.datetime(2022, 1, 31))
M_01

2022-01-01T00:00:00 - 2022-01-31T00:00:00

In [459]:
#2022-03-24	2026-05-10
R1 = DateTimeRange(df2.at[1,'DOJ'], df2.at[1,'DOL'])
print(R1, '\t', M_01)

2021-02-27T00:00:00 - 2022-04-29T00:00:00 	 2022-01-01T00:00:00 - 2022-01-31T00:00:00

In [460]:
T1 =  M_01.intersection(R1)
print(T1.timedelta.total_seconds()/(86400))

30.0

In [461]:
periods
#for i in len(periods):   print(i)

           MB         ME                    pdInterval monthID
0  2022-01-01 2022-01-31  (1640975400.0, 1643567400.0]   M0122
1  2022-02-01 2022-02-28  (1643653800.0, 1645986600.0]   M0222
2  2022-03-01 2022-03-31  (1646073000.0, 1648665000.0]   M0322
3  2022-04-01 2022-04-30  (1648751400.0, 1651257000.0]   M0422
4  2022-05-01 2022-05-31  (1651343400.0, 1653935400.0]   M0522
5  2022-06-01 2022-06-30  (1654021800.0, 1656527400.0]   M0622
6  2022-07-01 2022-07-31  (1656613800.0, 1659205800.0]   M0722
7  2022-08-01 2022-08-31  (1659292200.0, 1661884200.0]   M0822
8  2022-09-01 2022-09-30  (1661970600.0, 1664476200.0]   M0922
9  2022-10-01 2022-10-31  (1664562600.0, 1667154600.0]   M1022
10 2022-11-01 2022-11-30  (1667241000.0, 1669746600.0]   M1122
11 2022-12-01 2022-12-31  (1669833000.0, 1672425000.0]   M1222

In [462]:
def get_overlap(r1,r2):
    latest_start=max(r1[0],r2[0])
    earliest_end=min(r1[1],r2[1])
    delta=(earliest_end-latest_start).days
    if delta>0:
        return delta+1
    else:
        return 0

In [463]:
for i in range(len(periods)): 
    sp = periods.at[i, 'MB']
    ep = periods.at[i, 'ME']
    r1 = [sp, ep]
    mn = periods.at[i, 'monthID']
    for j in range(len(df2)):
        SP1 = df2.at[j, 'DOJ']
        SP2 = df2.at[j, 'DOL']
        r2 = [SP1, SP2]
        #print(r1[0],r1[1],r2[0], r2[1])
        OD = get_overlap(r1,r2)
        df2.loc[j, 'D' + str(mn)] = OD   
        #print(OD)

In [465]:
df2.head()

         DOJ        DOL      cadre gender campus  age                        tenure  M0122  M0222  M0322  M0422  M0522  M0622  M0722  M0822  M0922  M1022  M1122  M1222  DM0122  DM0222  DM0322  DM0422  DM0522  DM0622  DM0722  DM0822  DM0922  DM1022  DM1122  DM1222
0 2016-09-19 2017-10-22   AsstProf      F     C1   53  (1474223400.0, 1508610600.0]  False  False  False  False  False  False  False  False  False  False  False  False    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00
1 2021-02-27 2022-04-29  AssocProf      F     C4   51  (1614364200.0, 1651170600.0]   True   True   True   True  False  False  False  False  False  False  False  False   31.00   28.00   31.00   29.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00
2 2019-06-20 2021-10-12       Prof      M     C1   32  (1560969000.0, 1633977000.0]  False  False  False  False  False  False  False  False  False  False  False  False    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00
3 2016-09-30 2019-09-16   AsstProf      F     C3   51  (1475173800.0, 1568572200.0]  False  False  False  False  False  False  False  False  False  False  False  False    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00
4 2020-04-11 2024-01-22   AsstProf      F     C5   45  (1586543400.0, 1705861800.0]   True   True   True   True   True   True   True   True   True   True   True   True   31.00   28.00   31.00   30.00   31.00   30.00   31.00   31.00   30.00   31.00   30.00   31.00

In [472]:
#employee ID
nos1 = range(1,101)
#print(type(nos1), '\n', nos1)
nos2 = [str(item).zfill(3) for item in nos1]
#print(type(nos1), '\n',nos2)
prefix = 'A'
empID = [prefix + str(i) for i in nos2]
print(empID)

['A001', 'A002', 'A003', 'A004', 'A005', 'A006', 'A007', 'A008', 'A009', 'A010', 'A011', 'A012', 'A013', 'A014', 'A015', 'A016', 'A017', 'A018', 'A019', 'A020', 'A021', 'A022', 'A023', 'A024', 'A025', 'A026', 'A027', 'A028', 'A029', 'A030', 'A031', 'A032', 'A033', 'A034', 'A035', 'A036', 'A037', 'A038', 'A039', 'A040', 'A041', 'A042', 'A043', 'A044', 'A045', 'A046', 'A047', 'A048', 'A049', 'A050', 'A051', 'A052', 'A053', 'A054', 'A055', 'A056', 'A057', 'A058', 'A059', 'A060', 'A061', 'A062', 'A063', 'A064', 'A065', 'A066', 'A067', 'A068', 'A069', 'A070', 'A071', 'A072', 'A073', 'A074', 'A075', 'A076', 'A077', 'A078', 'A079', 'A080', 'A081', 'A082', 'A083', 'A084', 'A085', 'A086', 'A087', 'A088', 'A089', 'A090', 'A091', 'A092', 'A093', 'A094', 'A095', 'A096', 'A097', 'A098', 'A099', 'A100']

In [473]:
df2['empID'] = empID

In [474]:
df2.columns

Index(['DOJ', 'DOL', 'cadre', 'gender', 'campus', 'age', 'tenure', 'M0122', 'M0222', 'M0322', 'M0422', 'M0522', 'M0622', 'M0722', 'M0822', 'M0922', 'M1022', 'M1122', 'M1222', 'DM0122', 'DM0222', 'DM0322', 'DM0422', 'DM0522', 'DM0622', 'DM0722', 'DM0822', 'DM0922', 'DM1022', 'DM1122', 'DM1222', 'empID'], dtype='object')

In [477]:
pd.melt(frame=df2, id_vars=['empID','cadre','gender', 'age', 'campus', 'DOJ','DOL','tenure'], var_name='period', value_name ='value')

     empID      cadre gender  age campus        DOJ        DOL                        tenure  period  value
0     A001   AsstProf      F   53     C1 2016-09-19 2017-10-22  (1474223400.0, 1508610600.0]   M0122  False
1     A002  AssocProf      F   51     C4 2021-02-27 2022-04-29  (1614364200.0, 1651170600.0]   M0122   True
2     A003       Prof      M   32     C1 2019-06-20 2021-10-12  (1560969000.0, 1633977000.0]   M0122  False
3     A004   AsstProf      F   51     C3 2016-09-30 2019-09-16  (1475173800.0, 1568572200.0]   M0122  False
4     A005   AsstProf      F   45     C5 2020-04-11 2024-01-22  (1586543400.0, 1705861800.0]   M0122   True
...    ...        ...    ...  ...    ...        ...        ...                           ...     ...    ...
2395  A096  AssocProf      M   32     C1 2021-07-04 2025-07-13  (1625337000.0, 1752345000.0]  DM1222  31.00
2396  A097   AsstProf      F   51     C5 2015-02-09 2017-05-05  (1423420200.0, 1493922600.0]  DM1222   0.00
2397  A098       Prof      M   39     C1 2017-01-08 2022-02-04  (1483813800.0, 1643913000.0]  DM1222   0.00
2398  A099   AsstProf      M   40     C1 2020-12-15 2025-12-17  (1607970600.0, 1765909800.0]  DM1222  31.00
2399  A100  AssocProf      M   42     C6 2022-07-07 2023-06-22  (1657132200.0, 1687372200.0]  DM1222  31.00

[2400 rows x 10 columns]

#!pip install datetimerange
from datetimerange import DateTimeRange
time_range1 = DateTimeRange("2015-01-01", "2015-01-04") 
time_range2 = DateTimeRange("2015-01-03", "2016-01-05")
tem3 = time_range1.intersection(time_range2)
print(tem3.timedelta.total_seconds()/(60 * 60 * 24))
#if tem3.NOT_A_TIME_STR != 'NaT':  # No overlap
 S_Time = 0
#else: # Output the overlap seconds
    S_Time = tem3.timedelta.total_seconds()