# Time Series Data
https://pandas.pydata.org/docs/user_guide/timeseries.html

In [61]:
import pandas as pd
import numpy as np
import random
import datetime as dt
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
# periods : pd.Timestamp, pd.Timedelta, pd.date_range, parsing
#periods - D, M,

pandas._libs.tslibs.timedeltas.Timedelta

In [10]:
nts1 = pd.to_datetime(['2023-1-1', np.datetime64('2023-01-02'), dt.date(2023,1,3)])
nts1   #no freq, not a time series

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq=None)

In [11]:
tsM = pd.date_range('2023-1-1', periods=3, freq='M')
tsM

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31'], dtype='datetime64[ns]', freq='M')

In [16]:
#time zone
#https://www.geeksforgeeks.org/get-current-time-in-different-timezone-using-python/
import pytz
pytz.timezone('Asia/Kolkata')

In [15]:
tsZ = tsM.tz_localize('Asia/Kolkata')
tsZ

DatetimeIndex(['2023-01-31 00:00:00+05:30', '2023-02-28 00:00:00+05:30',
               '2023-03-31 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq=None)

In [17]:
# Times Series as column 
pd.Series(pd.date_range("2023", freq="D", periods=10))

0   2023-01-01
1   2023-01-02
2   2023-01-03
3   2023-01-04
4   2023-01-05
5   2023-01-06
6   2023-01-07
7   2023-01-08
8   2023-01-09
9   2023-01-10
dtype: datetime64[ns]

In [23]:
pd.Series(pd.date_range("1/1/2023", freq="M", periods=3))

0   2023-01-31
1   2023-02-28
2   2023-03-31
dtype: datetime64[ns]

In [19]:
# Periods
pd.Series(pd.period_range("1/1/2023", freq="M", periods=3))

0    2023-01
1    2023-02
2    2023-03
dtype: period[M]

In [22]:
# Offset
pd.Series([pd.DateOffset(1), pd.DateOffset(2)])

0         <DateOffset>
1    <2 * DateOffsets>
dtype: object

In [18]:
# Time series as index with additional column data
pd.Series(range(10), index=pd.date_range("2023", freq="D", periods=10))

2023-01-01    0
2023-01-02    1
2023-01-03    2
2023-01-04    3
2023-01-05    4
2023-01-06    5
2023-01-07    6
2023-01-08    7
2023-01-09    8
2023-01-10    9
Freq: D, dtype: int64

### null values for dates
-pandas represents null date times, time deltas, and time spans as NaT which is useful for representing missing or null date like values and behaves similar as np.nan does for float data.

In [25]:
print(pd.Timestamp(pd.NaT), pd.Timedelta(pd.NaT), pd.Period(pd.NaT))

NaT NaT NaT

In [ ]:
# Timestamp

In [27]:
pd.Timestamp(dt.datetime(2023, 5, 1))

Timestamp('2023-05-01 00:00:00')

In [28]:
pd.Timestamp("2023-01-01")

Timestamp('2023-01-01 00:00:00')

In [29]:
pd.Timestamp(2023, 1, 1)

Timestamp('2023-01-01 00:00:00')

In [ ]:
#The span represented by Period can be specified explicitly, or inferred from datetime string format.

In [30]:
pd.Period("2023-01")

Period('2023-01', 'M')

In [31]:
pd.Period("2023-01", freq="D")

Period('2023-01-01', 'D')

- Timestamp and Period can serve as an index. Lists of Timestamp and Period are automatically coerced to DatetimeIndex and PeriodIndex respectively.

## range of dates

In [55]:
# daily
start = dt.datetime(2023, 1, 1)
end = dt.datetime(2024, 1, 1)
index = pd.date_range(start, end)
index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10',
               ...
               '2023-12-23', '2023-12-24', '2023-12-25', '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29', '2023-12-30', '2023-12-31', '2024-01-01'], dtype='datetime64[ns]', length=366, freq='D')

In [56]:
## business days
index = pd.bdate_range(start, end)
index

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13',
               ...
               '2023-12-19', '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-25', '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29', '2024-01-01'], dtype='datetime64[ns]', length=261, freq='B')

In [57]:
pd.date_range(start, periods=1000, freq="M")

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31',
               ...
               '2105-07-31', '2105-08-31', '2105-09-30', '2105-10-31', '2105-11-30', '2105-12-31', '2106-01-31', '2106-02-28', '2106-03-31', '2106-04-30'], dtype='datetime64[ns]', length=1000, freq='M')

date_range and bdate_range make it easy to generate a range of dates using various combinations of parameters like start, end, periods, and freq. The start and end dates are strictly inclusive, so dates outside of those specified will not be generated:

In [59]:
pd.date_range(start, end, freq="BM")
# 28 & 29 Apr 2023 are holidays - sat, sun

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-29', '2023-10-31', '2023-11-30', '2023-12-29'], dtype='datetime64[ns]', freq='BM')

In [66]:
pd.date_range(start, end, freq="BM").dayofweek

Int64Index([1, 1, 4, 4, 2, 4, 0, 3, 4, 1, 3, 4], dtype='int64')

In [68]:
pd.date_range(start, end, freq="BM").day_name().value_counts()

Friday       5
Tuesday      3
Thursday     2
Wednesday    1
Monday       1
dtype: int64

In [73]:
# custom freq
weekmask = "Mon Tue Fri"  #week on days, holidays off
holidays = [dt.datetime(2023, 1, 26), dt.datetime(2023, 1, 23)]
pd.bdate_range(start=dt.datetime(2023,1,1), end=dt.datetime(2023,1,31), freq="C", weekmask=weekmask, holidays=holidays)

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-20', '2023-01-24', '2023-01-27', '2023-01-30', '2023-01-31'], dtype='datetime64[ns]', freq='C')

In [75]:
pd.bdate_range(start=dt.datetime(2023,1,1), end=dt.datetime(2023,1,31), freq="CBMS", weekmask=weekmask)
#CBMS     custom business month start frequency

DatetimeIndex(['2023-01-02'], dtype='datetime64[ns]', freq='CBMS')

Alias    Description
B        business day frequency
C        custom business day frequency
D        calendar day frequency
W        weekly frequency
M        month end frequency
SM       semi-month end frequency (15th and end of month)
BM       business month end frequency
CBM      custom business month end frequency
MS       month start frequency
SMS      semi-month start frequency (1st and 15th)
BMS      business month start frequency
CBMS     custom business month start frequency
Q        quarter end frequency
BQ       business quarter end frequency
QS       quarter start frequency
BQS      business quarter start frequency
A, Y     year end frequency
BA, BY   business year end frequency
AS, YS   year start frequency
BAS, BYS business year start frequency
BH       business hour frequency
H        hourly frequency
T, min   minutely frequency
S        secondly frequency
L, ms    milliseconds
U, us    microseconds
N        nanoseconds

# selection

In [82]:
start=dt.datetime(2023,1,1)
end=dt.datetime(2024,1,31)
rng = pd.date_range(start, end, freq="BM")
ts = pd.Series(np.random.randn(len(rng)), index=rng)
print(len(rng), '\n', ts.index)

13
 DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-29', '2023-10-31', '2023-11-30', '2023-12-29', '2024-01-31'], dtype='datetime64[ns]', freq='BM')

In [79]:
ts[:5]

2023-01-31    0.913120
2023-02-28    0.185306
2023-03-31   -0.662426
2023-04-28    2.068668
2023-05-31    2.638103
Freq: BM, dtype: float64

In [83]:
ts[:2]  #first 2

2023-01-31    2.388587
2023-02-28   -0.016936
Freq: BM, dtype: float64

In [86]:
ts['2024']

2024-01-31    0.72422
Freq: BM, dtype: float64

In [87]:
ts['2023-03':'2023-10']

2023-03-31    0.524506
2023-04-28    1.850963
2023-05-31    0.329114
2023-06-30   -1.569880
2023-07-31   -0.194278
2023-08-31   -0.170847
2023-09-29   -1.137731
2023-10-31    0.025695
Freq: BM, dtype: float64

In [88]:
ts['2023-03-31']

0.5245055949813252

In [89]:
ts.index.resolution

'day'

In [91]:
ts.truncate(before='2023-04', after='2023-11')

2023-04-28    1.850963
2023-05-31    0.329114
2023-06-30   -1.569880
2023-07-31   -0.194278
2023-08-31   -0.170847
2023-09-29   -1.137731
2023-10-31    0.025695
Freq: BM, dtype: float64

In [94]:
ts['2023-04':'2023-11']

2023-04-28    1.850963
2023-05-31    0.329114
2023-06-30   -1.569880
2023-07-31   -0.194278
2023-08-31   -0.170847
2023-09-29   -1.137731
2023-10-31    0.025695
2023-11-30   -0.617899
Freq: BM, dtype: float64

year The year of the datetime
month The month of the datetime
day The days of the datetime
hour The hour of the datetime
minute The minutes of the datetime
second The seconds of the datetime
microsecond The microseconds of the datetime
nanosecond The nanoseconds of the datetime
date Returns datetime.date (does not contain timezone information)
time Returns datetime.time (does not contain timezone information)
timetz Returns datetime.time as local time with timezone information
dayofyear The ordinal day of year
day_of_year The ordinal day of year
weekofyear The week ordinal of the year
week The week ordinal of the year
dayofweek The number of the day of the week with Monday=0, Sunday=6
day_of_week The number of the day of the week with Monday=0, Sunday=6
weekday The number of the day of the week with Monday=0, Sunday=6
quarter Quarter of the date: Jan-Mar = 1, Apr-Jun = 2, etc.
days_in_month The number of days in the month of the datetime
is_month_start Logical indicating if first day of month (defined by frequency)
is_month_end Logical indicating if last day of month (defined by frequency)
is_quarter_start Logical indicating if first day of quarter (defined by frequency)
is_quarter_end Logical indicating if last day of quarter (defined by frequency)
is_year_start Logical indicating if first day of year (defined by frequency)
is_year_end Logical indicating if last day of year (defined by frequency)
is_leap_year Logical indicating if the date belongs to a leap year

In [95]:
idx = pd.date_range(start="2023-01-01", freq="D", periods=4)
idx.isocalendar()

            year  week  day
2023-01-01  2022    52    7
2023-01-02  2023     1    1
2023-01-03  2023     1    2
2023-01-04  2023     1    3

In [ ]:
Date Offset Frequency String Description
DateOffset None
Generic offset class, defaults to absolute 24 hours
BDay or BusinessDay 'B' business day (weekday)
CDay or CustomBusinessDay
'C'
custom business day
Week
'W'
one week, optionally anchored on a day of the week
WeekOfMonth
'WOM'
the x-th day of the y-th week of each month

LastWeekOfMonth

'LWOM'

the x-th day of the last week of each month

MonthEnd

'M'

calendar month end

MonthBegin

'MS'

calendar month begin

BMonthEnd or BusinessMonthEnd

'BM'

business month end

BMonthBegin or BusinessMonthBegin

'BMS'

business month begin

CBMonthEnd or CustomBusinessMonthEnd

'CBM'

custom business month end

CBMonthBegin or CustomBusinessMonthBegin

'CBMS'

custom business month begin

SemiMonthEnd

'SM'

15th (or other day_of_month) and calendar month end

SemiMonthBegin

'SMS'

15th (or other day_of_month) and calendar month begin

QuarterEnd

'Q'

calendar quarter end

QuarterBegin

'QS'

calendar quarter begin

BQuarterEnd

'BQ

business quarter end

BQuarterBegin

'BQS'

business quarter begin

FY5253Quarter

'REQ'

retail (aka 52-53 week) quarter

YearEnd

'A'

calendar year end

YearBegin

'AS' or 'BYS'

calendar year begin

BYearEnd

'BA'

business year end

BYearBegin

'BAS'

business year begin

FY5253

'RE'

retail (aka 52-53 week) year

Easter

None

Easter holiday

BusinessHour

'BH'

business hour

CustomBusinessHour

'CBH'

custom business hour

Day

'D'

one absolute day

Hour

'H'

one hour

Minute

'T' or 'min'

one minute

Second

'S'

one second

Milli

'L' or 'ms'

one millisecond

Micro

'U' or 'us'

one microsecond

Nano

'N'

one nanosecond

# Time Series-1

In [96]:
date3= [pd.Timestamp("2023-05-01"),   pd.Timestamp("2023-05-02"),    pd.Timestamp("2023-05-03")]
print(date3)

[Timestamp('2023-05-01 00:00:00'), Timestamp('2023-05-02 00:00:00'), Timestamp('2023-05-03 00:00:00')]

In [97]:
ts3 = pd.Series(np.random.randn(3), date3)
ts3

2023-05-01    1.150453
2023-05-02    0.050610
2023-05-03    0.587440
dtype: float64

In [98]:
type(ts3)

pandas.core.series.Series

In [99]:
ts3.index  # freq None

DatetimeIndex(['2023-05-01', '2023-05-02', '2023-05-03'], dtype='datetime64[ns]', freq=None)

In [100]:
periods3 = [pd.Period("2023-01"), pd.Period("2023-02"), pd.Period("2023-03")]
print(periods3)

[Period('2023-01', 'M'), Period('2023-02', 'M'), Period('2023-03', 'M')]

In [101]:
ts3B = pd.Series(np.random.randn(3), periods3)
print(ts3B)  # freq <

2023-01   -1.151005
2023-02   -0.563536
2023-03    1.009479
Freq: M, dtype: float64

In [102]:
print(ts3B.index, '\n' ,type(ts3B.index))

PeriodIndex(['2023-01', '2023-02', '2023-03'], dtype='period[M]')
 <class 'pandas.core.indexes.period.PeriodIndex'>

For regular time spans, pandas uses Period objects for scalar values and PeriodIndex for sequences of spans. Better support for irregular intervals with arbitrary start and end points are forth-coming in future releases.

In [103]:
# Shifting
ts3

2023-05-01    1.150453
2023-05-02    0.050610
2023-05-03    0.587440
dtype: float64

In [104]:
ts3.shift(1)

2023-05-01         NaN
2023-05-02    1.150453
2023-05-03    0.050610
dtype: float64

In [105]:
ts3.shift(-1)

2023-05-01    0.05061
2023-05-02    0.58744
2023-05-03        NaN
dtype: float64

In [109]:
# longer series
start=dt.datetime(2023,1,1)
end=dt.datetime(2023,3,31)
rng = pd.date_range(start, end, freq="B")
ts4 = pd.Series(np.random.randint(10, 100,len(rng)), index=rng)
print(len(rng), '\n', ts4.index)

65
 DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-30', '2023-03-31'], dtype='datetime64[ns]', freq='B')

In [117]:
ts4.head()

2023-01-02    24
2023-01-03    27
2023-01-04    22
2023-01-05    45
2023-01-06    58
Freq: B, dtype: int32

In [124]:
ts4.shift(1).head(7)

2023-01-02     NaN
2023-01-03    24.0
2023-01-04    27.0
2023-01-05    22.0
2023-01-06    45.0
2023-01-09    58.0
2023-01-10    86.0
Freq: B, dtype: float64

In [123]:
ts4.shift(5, freq='D').head() #remove first 5 days

2023-01-07    24
2023-01-08    27
2023-01-09    22
2023-01-10    45
2023-01-11    58
dtype: int32

In [125]:
ts4.shift(5, freq='B').head() #remove first 5 business days

2023-01-09    24
2023-01-10    27
2023-01-11    22
2023-01-12    45
2023-01-13    58
Freq: B, dtype: int32

In [126]:
ts4.shift(5, freq='BM').head() #remove first 5 business months

2023-05-31    24
2023-05-31    27
2023-05-31    22
2023-05-31    45
2023-05-31    58
dtype: int32

In [136]:
ts4.index

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-30', '2023-03-31'], dtype='datetime64[ns]', freq='B')

In [138]:
ts4.asfreq(3 * pd.offsets.BDay())

2023-01-02    24
2023-01-05    45
2023-01-10    90
2023-01-13    57
2023-01-18    22
2023-01-23    52
2023-01-26    83
2023-01-31    83
2023-02-03    56
2023-02-08    34
2023-02-13    77
2023-02-16    93
2023-02-21    35
2023-02-24    43
2023-03-01    17
2023-03-06    61
2023-03-09    27
2023-03-14    39
2023-03-17    96
2023-03-22    99
2023-03-27    96
2023-03-30    21
Freq: 3B, dtype: int32

In [140]:
ts4.resample('M').sum()  #aggreate on freq

2023-01-31    1111
2023-02-28     989
2023-03-31    1388
Freq: M, dtype: int32

In [141]:
ts4.resample('W').max()

2023-01-08    58
2023-01-15    90
2023-01-22    74
2023-01-29    83
2023-02-05    83
2023-02-12    95
2023-02-19    93
2023-02-26    59
2023-03-05    86
2023-03-12    82
2023-03-19    96
2023-03-26    99
2023-04-02    99
Freq: W-SUN, dtype: int32

In [142]:
ts4.resample('M').ohlc()

            open  high  low  close
2023-01-31    24    90   16     83
2023-02-28    35    95   11     45
2023-03-31    17    99   14     60

In [147]:
ts4.resample('M', closed='left').mean().round(0)
#For downsampling, closed can be set to ‘left’ or ‘right’ to specify which end of the interval is closed:

2023-01-31    49.0
2023-02-28    51.0
2023-03-31    60.0
2023-04-30    60.0
Freq: M, dtype: float64

In [148]:
ts4.resample('M', label='right').mean().round(0)
#Parameters like label are used to manipulate the resulting labels. 
#label specifies whether the result is labeled with the beginning or the end of the interval.
#The default values for label and closed is ‘left’ for all frequency offsets 
#except for ‘M’, ‘A’, ‘Q’, ‘BM’, ‘BA’, ‘BQ’, and ‘W’ which all have a default of ‘right’.

2023-01-31    50.0
2023-02-28    49.0
2023-03-31    60.0
Freq: M, dtype: float64

In [151]:
ts4.resample('H').asfreq().ffill(limit=5)

2023-01-02 00:00:00    24.0
2023-01-02 01:00:00    24.0
2023-01-02 02:00:00    24.0
2023-01-02 03:00:00    24.0
2023-01-02 04:00:00    24.0
                       ...
2023-03-30 20:00:00     NaN
2023-03-30 21:00:00     NaN
2023-03-30 22:00:00     NaN
2023-03-30 23:00:00     NaN
2023-03-31 00:00:00    60.0
Freq: H, Length: 2113, dtype: float64

In [152]:
ts4.mean()

53.66153846153846

In [153]:
ts4.min()

11

In [154]:
ts4.agg([np.sum, np.mean, np.max, np.min])

sum     3488.000000
mean      53.661538
amax      99.000000
amin      11.000000
dtype: float64

In [169]:
## Aggregation
df = pd.DataFrame( np.abs(np.around(100*np.random.randn(100,3))),   index=pd.date_range("1/1/2020", freq="D", periods=100), columns=["A", "B", "C"],
)

In [170]:
df.shape

(100, 3)

In [176]:
df.head(8)

                A      B     C
2020-01-01   25.0  153.0  75.0
2020-01-02  146.0  117.0  42.0
2020-01-03  111.0  110.0  41.0
2020-01-04   52.0   81.0  14.0
2020-01-05  201.0  110.0  75.0
2020-01-06   72.0   17.0   2.0
2020-01-07   83.0  178.0  74.0
2020-01-08   95.0  131.0  11.0

In [177]:
df2 = df.resample('W')

In [175]:
df2.mean()

                     A           B           C
2020-01-05  107.000000  114.200000   49.400000
2020-01-12   86.000000   93.857143   48.857143
2020-01-19  119.285714  115.000000   88.000000
2020-01-26   67.857143   86.285714   44.428571
2020-02-02   71.714286   75.857143  115.714286
2020-02-09   77.857143   64.428571  131.571429
2020-02-16   91.714286   37.000000   73.571429
2020-02-23   86.857143   85.714286  113.714286
2020-03-01   40.714286  140.571429   85.285714
2020-03-08  116.428571  107.428571   92.000000
2020-03-15   85.714286   69.142857   80.000000
2020-03-22  106.571429   61.285714  120.857143
2020-03-29   56.571429  122.000000   85.428571
2020-04-05   83.142857   84.000000   85.857143
2020-04-12   79.500000   44.000000   58.500000

In [178]:
df2['A'].mean()

2020-01-05    107.000000
2020-01-12     86.000000
2020-01-19    119.285714
2020-01-26     67.857143
2020-02-02     71.714286
2020-02-09     77.857143
2020-02-16     91.714286
2020-02-23     86.857143
2020-03-01     40.714286
2020-03-08    116.428571
2020-03-15     85.714286
2020-03-22    106.571429
2020-03-29     56.571429
2020-04-05     83.142857
2020-04-12     79.500000
Freq: W-SUN, Name: A, dtype: float64

In [180]:
df.agg([np.sum, np.mean, np.std])

               A            B            C
sum   8486.00000  8745.000000  8638.000000
mean    84.86000    87.450000    86.380000
std     58.15549    68.845072    64.170351

In [182]:
df2.agg([np.sum, np.mean, np.std])

                A                             B                              C
              sum        mean        std    sum        mean         std    sum        mean        std
2020-01-05  535.0  107.000000  70.926018  571.0  114.200000   25.742960  247.0   49.400000  25.928749
2020-01-12  602.0   86.000000  38.630730  657.0   93.857143   63.549006  342.0   48.857143  44.908903
2020-01-19  835.0  119.285714  73.705980  805.0  115.000000   79.682704  616.0   88.000000  63.126856
2020-01-26  475.0   67.857143  44.442579  604.0   86.285714   70.412391  311.0   44.428571  30.281222
2020-02-02  502.0   71.714286  56.094308  531.0   75.857143   80.914417  810.0  115.714286  87.099013
2020-02-09  545.0   77.857143  44.273501  451.0   64.428571   54.914652  921.0  131.571429  62.822122
2020-02-16  642.0   91.714286  96.760382  259.0   37.000000   37.107951  515.0   73.571429  55.710134
2020-02-23  608.0   86.857143  84.576255  600.0   85.714286   84.442711  796.0  113.714286  66.829919
2020-03-01  285.0   40.714286  36.940106  984.0  140.571429  110.189015  597.0   85.285714  61.486352
2020-03-08  815.0  116.428571  49.742192  752.0  107.428571   60.221417  644.0   92.000000  66.007575
2020-03-15  600.0   85.714286  65.196407  484.0   69.142857   52.676461  560.0   80.000000  57.439824
2020-03-22  746.0  106.571429  56.317129  429.0   61.285714   61.748723  846.0  120.857143  85.317893
2020-03-29  396.0   56.571429  21.149130  854.0  122.000000   84.443275  598.0   85.428571  87.013135
2020-04-05  582.0   83.142857  42.978400  588.0   84.000000   32.644550  601.0   85.857143  56.534440
2020-04-12  318.0   79.500000  44.290706  176.0   44.000000   42.473521  234.0   58.500000  37.704995

In [185]:
df.agg({'A':[np.sum, np.mean], 'B':['sum']})

            A       B
sum   8486.00  8745.0
mean    84.86     NaN

In [186]:
df2.agg({'A':[np.sum, np.mean], 'B':['sum']})

                A                  B
              sum        mean    sum
2020-01-05  535.0  107.000000  571.0
2020-01-12  602.0   86.000000  657.0
2020-01-19  835.0  119.285714  805.0
2020-01-26  475.0   67.857143  604.0
2020-02-02  502.0   71.714286  531.0
2020-02-09  545.0   77.857143  451.0
2020-02-16  642.0   91.714286  259.0
2020-02-23  608.0   86.857143  600.0
2020-03-01  285.0   40.714286  984.0
2020-03-08  815.0  116.428571  752.0
2020-03-15  600.0   85.714286  484.0
2020-03-22  746.0  106.571429  429.0
2020-03-29  396.0   56.571429  854.0
2020-04-05  582.0   83.142857  588.0
2020-04-12  318.0   79.500000  176.0

In [ ]:
#