# Date Time
Date in python is not a data type of its own, but we can import a module name dateime to work with dates as date objects
pandas also has library for maninpulating dates in python

## library datetime

In [ ]:
import datetime
x = datetime.datetime.now()  #now time
print(x)

In [2]:
print(x.year)

2022

In [6]:
print(x.strftime('%A %B'))

Wednesday October

In [4]:
# explore other options of datetime

In [5]:
# Create Date
x = datetime.datetime(2022, 10, 26)
print(x)

2022-10-26 00:00:00

In [11]:
# add hour, min, sec
x = datetime.datetime(2022, 10, 26, 17, 10, 15, 0) #(Y, M, D), (H, M, S), zone
print(x)

2022-10-26 17:10:15

In [17]:
print(x.strftime('%d-%B-%Y %H:%M:%S %p  %x %X %w %W'))

26-October-2022 17:10:15 PM  10/26/22 17:10:15 3 43

### formatting date output

%a  - weekday :  wed
%A  - weekday :  Wednesday
%w  - weekday :  3

%d  - day of month : 22

%b  - month    : Oct
%B  - month   : October
%m  - month   : 10

%y  - year    : 22
%Y  - year    : 2022

%H  - Hours(00-23) - 17
%I  - Hour(00-12) - 05

%p  - AM/PM   - PM

%M  - minute(00-59) : 10
%S  - second(00-59) : 15


%U  - weeknumber
%x - local version of date
%X - local version of time

## Pandas Date Time

In [19]:
import pandas as pd
import numpy as np
import datetime

In [47]:
df = pd.DataFrame({ 'classDate': ['01/12/2022','22/12/2022', '30/11/2022'], 'students' :[10,15,12]})
df

    classDate  students
0  01/12/2022        10
1  22/12/2022        15
2  30/11/2022        12

In [48]:
df.dtypes

classDate    object
students      int64
dtype: object

In [49]:
#convert to datetime
df['classDate'] = pd.to_datetime(df['classDate'], format='%d/%m/%Y') # format='%d%b%Y:%H:%M:%S.%f'
df.dtypes

classDate    datetime64[ns]
students              int64
dtype: object

In [50]:
#convert integer number to date
pd.to_datetime(19000, unit='D', origin='unix') #unit = days, start at 1970-01-01(unix)
#19000 days from reference point

Timestamp('2022-01-08 00:00:00')

In [43]:
# Duration TimeDelta Function
from datetime import datetime
date = datetime.now()
print(date)

2022-10-25 17:23:56.837840

In [44]:
print(date + pd.to_timedelta(1, unit='D'))  #one day after

2022-10-26 17:23:56.837840

In [45]:
print(date + pd.to_timedelta(1, unit='W')) #one week later

2022-11-01 17:23:56.837840

In [53]:
#display day first
df1 = pd.DataFrame({ 'classDate': ['01/12/2022','22/12/2022', '30/11/2022'], 'students' :[10,15,12]})
df1

    classDate  students
0  01/12/2022        10
1  22/12/2022        15
2  30/11/2022        12

In [54]:
df1['classDate'] = pd.to_datetime(df['classDate'], format='%d/%m/%Y', dayfirst=True) 
df.dtypes
df1

   classDate  students
0 2022-12-01        10
1 2022-12-22        15
2 2022-11-30        12

In [57]:
df1['year'] = df1['classDate'].dt.year
df1['month'] = df1['classDate'].dt.month
df1['day'] = df1['classDate'].dt.day
df1

   classDate  students  year  month  day
0 2022-12-01        10  2022     12    1
1 2022-12-22        15  2022     12   22
2 2022-11-30        12  2022     11   30

### Range of Dates

In [60]:
pd.date_range(start='01-11-2022', end='15-01-2023')

DatetimeIndex(['2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14',
               '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20',
               ...
               '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09',
               '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13',
               '2023-01-14', '2023-01-15'],
              dtype='datetime64[ns]', length=370, freq='D')

In [68]:
pd.date_range(start=datetime.today(), periods=10, freq='D')

DatetimeIndex(['2022-10-25 17:39:56.574817', '2022-10-26 17:39:56.574817',
               '2022-10-27 17:39:56.574817', '2022-10-28 17:39:56.574817',
               '2022-10-29 17:39:56.574817', '2022-10-30 17:39:56.574817',
               '2022-10-31 17:39:56.574817', '2022-11-01 17:39:56.574817',
               '2022-11-02 17:39:56.574817', '2022-11-03 17:39:56.574817'],
              dtype='datetime64[ns]', freq='D')