In [ ]:
# Create Dates data and Date Summary

In [ ]:
## Libraries

In [1]:
from datetime import datetime  #datetime
from dateutil import parser # Parser
import numpy as np #Numpy datetime np.datetime64
import pandas as pd  # Pandas Datetime pd.to_datetime

In [2]:
## Create Attendance of Students on each Date, index by time
np.random.seed(1234)
attendance = np.random.randint(25,50, size=180)
print(attendance)
print(np.mean(attendance)) #37.63

[40 44 31 46 37 45 49 40 42 48 34 36 37 47 49 41 30 41 34 47 40 43 41 37
 30 27 31 28 32 36 25 34 36 41 28 27 44 37 26 36 44 36 42 39 44 32 35 36
 39 42 48 38 45 25 37 30 42 30 45 38 41 34 33 49 37 31 49 47 37 44 40 42
 43 46 39 27 30 38 31 32 29 28 30 39 40 47 45 47 40 40 27 35 29 43 32 48
 36 39 48 43 48 45 34 25 27 26 43 42 46 32 29 48 32 42 45 25 46 45 34 43
 34 26 39 28 37 46 34 38 44 25 29 29 25 47 49 45 33 37 42 49 34 40 33 27
 41 36 27 43 40 28 39 27 48 29 49 26 35 27 48 38 45 28 43 37 30 46 42 41
 33 38 36 40 45 41 25 42 25 44 42 44]
37.63333333333333

In [4]:
## Create Dates
startDate = pd.to_datetime('01 Aug 2022')
print(startDate)
indexValues = startDate + pd.to_timedelta(np.arange(180), unit='D')
print(indexValues)

2022-08-01 00:00:00
DatetimeIndex(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08',
               '2022-08-09', '2022-08-10',
               ...
               '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-21',
               '2023-01-22', '2023-01-23', '2023-01-24', '2023-01-25',
               '2023-01-26', '2023-01-27'],
              dtype='datetime64[ns]', length=180, freq=None)

In [13]:
## Create a data frame/ Series
data1 = pd.Series(attendance, index=indexValues)
print(data1.head())
#print(data1.head(2).append(data1.tail(3)))  #heads-2, tails-3
#df.apply(lambda x: pd.concat([x.head(2), x.tail(2)]))

2022-08-01    40
2022-08-02    44
2022-08-03    31
2022-08-04    46
2022-08-05    37
dtype: int32

## Filter on date series

In [14]:
data1['2022']  #filter

2022-08-01    40
2022-08-02    44
2022-08-03    31
2022-08-04    46
2022-08-05    37
              ..
2022-12-27    40
2022-12-28    28
2022-12-29    39
2022-12-30    27
2022-12-31    48
Length: 153, dtype: int32

In [ ]:
data1['2019-10']  # year and month

In [17]:
data1['2022-11-15':'2022-12-01']  #between certain dates

2022-11-15    43
2022-11-16    42
2022-11-17    46
2022-11-18    32
2022-11-19    29
2022-11-20    48
2022-11-21    32
2022-11-22    42
2022-11-23    45
2022-11-24    25
2022-11-25    46
2022-11-26    45
2022-11-27    34
2022-11-28    43
2022-11-29    34
2022-11-30    26
2022-12-01    39
dtype: int32

In [18]:
data1[data1.index.dayofweek == 2] #2nd day of week

2022-08-03    31
2022-08-10    48
2022-08-17    30
2022-08-24    37
2022-08-31    25
2022-09-07    37
2022-09-14    44
2022-09-21    38
2022-09-28    45
2022-10-05    31
2022-10-12    43
2022-10-19    32
2022-10-26    45
2022-11-02    43
2022-11-09    48
2022-11-16    42
2022-11-23    45
2022-11-30    26
2022-12-07    44
2022-12-14    45
2022-12-21    33
2022-12-28    28
2023-01-04    35
2023-01-11    37
2023-01-18    36
2023-01-25    44
dtype: int32

In [20]:
data1.to_period('D')

2022-08-01    40
2022-08-02    44
2022-08-03    31
2022-08-04    46
2022-08-05    37
              ..
2023-01-23    42
2023-01-24    25
2023-01-25    44
2023-01-26    42
2023-01-27    44
Freq: D, Length: 180, dtype: int32

In [22]:
data1.to_period('M')  # remove date, and show month

2022-08    40
2022-08    44
2022-08    31
2022-08    46
2022-08    37
           ..
2023-01    42
2023-01    25
2023-01    44
2023-01    42
2023-01    44
Freq: M, Length: 180, dtype: int32

In [23]:
data1.to_period('Y')  # remove date & month, show year

2022    40
2022    44
2022    31
2022    46
2022    37
        ..
2023    42
2023    25
2023    44
2023    42
2023    44
Freq: A-DEC, Length: 180, dtype: int32

In [27]:
# Difference from today, with index
datetime.today() - data1.index[0]

Timedelta('94 days 08:23:40.909075')

## Resampling

In [29]:
index = pd.date_range('1/1/2022', periods=9, freq='T')
series = pd.Series(range(9), index=index)
print(series)

2022-01-01 00:00:00    0
2022-01-01 00:01:00    1
2022-01-01 00:02:00    2
2022-01-01 00:03:00    3
2022-01-01 00:04:00    4
2022-01-01 00:05:00    5
2022-01-01 00:06:00    6
2022-01-01 00:07:00    7
2022-01-01 00:08:00    8
Freq: T, dtype: int64

In [30]:
series.resample('3T').sum()
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html
#Downsample the series into 3 minute bins and sum the values of the timestamps falling into a bin.

2022-01-01 00:00:00     3
2022-01-01 00:03:00    12
2022-01-01 00:06:00    21
Freq: 3T, dtype: int64