In [ ]:
# date practise

In [3]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from dateutil.parser import parse

#date in string, no day; set default day

In [2]:
ser1 = pd.Series(['Jan 2022', 'Feb 2022', 'Mar 2022'])
ser1

0    Jan 2022
1    Feb 2022
2    Mar 2022
dtype: object

In [8]:
#parse(ser1)   #it should be string.. use loop functions like map
ser1_ts = ser1.map(lambda x: parse(x))
ser1_ts   # here default is today day

0   2022-01-17
1   2022-02-17
2   2022-03-17
dtype: datetime64[ns]

In [12]:
#conver to string : get year, month and concatenate with 4
ser1_ts.dt.year.astype('str') + '-' + ser1_ts.dt.month.astype('str')

0    2022-1
1    2022-2
2    2022-3
dtype: object

In [15]:
ser1_datestr = ser1_ts.dt.year.astype('str') + '-' + ser1_ts.dt.month.astype('str') + '-' + '4'
ser1_datestr

0    2022-1-4
1    2022-2-4
2    2022-3-4
dtype: object

In [17]:
[parse(i).strftime(format='%Y-%m-%d') for i in ser1_datestr]

['2022-01-04', '2022-02-04', '2022-03-04']

In [20]:
'4' + ser1

0    4Jan 2022
1    4Feb 2022
2    4Mar 2022
dtype: object

In [18]:
#1 line soln
ser1.map(lambda x: parse('4' + x))   #date time , parse selects the format

0   2022-01-04
1   2022-02-04
2   2022-03-04
dtype: datetime64[ns]