# Dates Formats

# Libraries

In [13]:
from datetime import datetime  #datetime
from dateutil import parser # Parser
import numpy as np #Numpy datetime np.datetime64
import pandas as pd  # Pandas Datetime pd.to_datetime

In [3]:
# Date components
d1= datetime(year=2022, month=11, day=3)
print(d1)

2022-11-03 00:00:00

In [5]:
# Date in String form
d2=parser.parse('3rd November 2022 0730 am')
print(d2)

2022-11-03 07:30:00

In [16]:
# Create date from numpy library
d3 = np.array('2022-11-03', dtype=np.datetime64) #format in which written
print(d3)

print(np.datetime64('2022-11-03'))
print(np.datetime64('2022-11-03 08:00'))

2022-11-03
2022-11-03
2022-11-03T08:00

In [9]:
# Date Arithmetic
print(d3 + 1)
print(d3 + [1,2,3])
print(d3 + np.array([5,10,11]))
print(d3 + np.arange(12))

2022-11-04
['2022-11-04' '2022-11-05' '2022-11-06']

## Pandas Date Time

In [15]:
d4 = pd.to_datetime('1st Nov 2022')
print(d4)

2022-11-01 00:00:00

In [ ]:
# Date Arithmetic - Pandas
d4 + 1  #will not work , not numpy format

In [18]:
# Vectorised Operations
#print(d4 + np.arange(12)) #this will also not work
#print(d4 + pd.to_timedelta(np.arange(12)))  #not correct

In [23]:
# Correct way
print(d4 + pd.to_timedelta(np.arange(12), unit='D')) # daily interval
# other units - W, D, h, m, s
# https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
               '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08',
               '2022-11-09', '2022-11-10', '2022-11-11', '2022-11-12'],
              dtype='datetime64[ns]', freq=None)

In [25]:
#Parsing a series of Dates with different dates 
dates3 = pd.to_datetime([ datetime(2019,7,10), '11th July 2019','2019-7-15',
                         '2019-07-20', '18-07-2019'], infer_datetime_format=True) 
dates3
# Warning : https://github.com/pandas-dev/pandas/issues/46210

C:\Users\du\AppData\Local\Temp\ipykernel_7544\1772294174.py:2: UserWarning: Parsing '18-07-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  dates3 = pd.to_datetime([ datetime(2019,7,10), '11th July 2019','2019-7-15', '2019-07-20', '18-07-2019'], infer_datetime_format=True)

DatetimeIndex(['2019-07-10', '2019-07-11', '2019-07-15', '2019-07-20',
               '2019-07-18'],
              dtype='datetime64[ns]', freq=None)

In [36]:
datetime.today() - dates3[0]

Timedelta('1212 days 08:22:57.918068')

In [27]:
#pandas sequence
pd.date_range('2022-07-01', '2022-10-30')

DatetimeIndex(['2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04',
               '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08',
               '2022-07-09', '2022-07-10',
               ...
               '2022-10-21', '2022-10-22', '2022-10-23', '2022-10-24',
               '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28',
               '2022-10-29', '2022-10-30'],
              dtype='datetime64[ns]', length=122, freq='D')

In [28]:
#pandas periods from a date
pd.date_range('2022-07-01', periods=45)

DatetimeIndex(['2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04',
               '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08',
               '2022-07-09', '2022-07-10', '2022-07-11', '2022-07-12',
               '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-16',
               '2022-07-17', '2022-07-18', '2022-07-19', '2022-07-20',
               '2022-07-21', '2022-07-22', '2022-07-23', '2022-07-24',
               '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28',
               '2022-07-29', '2022-07-30', '2022-07-31', '2022-08-01',
               '2022-08-02', '2022-08-03', '2022-08-04', '2022-08-05',
               '2022-08-06', '2022-08-07', '2022-08-08', '2022-08-09',
               '2022-08-10', '2022-08-11', '2022-08-12', '2022-08-13',
               '2022-08-14'],
              dtype='datetime64[ns]', freq='D')

In [30]:
#periods from date with a freq
pd.date_range('2022-07-01', periods=3, freq='M')

DatetimeIndex(['2022-07-31', '2022-08-31', '2022-09-30'], dtype='datetime64[ns]', freq='M')

In [31]:
pd.date_range('2022-07-01', periods=5, freq='H')

DatetimeIndex(['2022-07-01 00:00:00', '2022-07-01 01:00:00',
               '2022-07-01 02:00:00', '2022-07-01 03:00:00',
               '2022-07-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [33]:
# in difference of days and time 
pd.timedelta_range(0, periods=9, freq='4H20T')   #2 hours, 10 minutes

TimedeltaIndex(['0 days 00:00:00', '0 days 04:20:00', '0 days 08:40:00',
                '0 days 13:00:00', '0 days 17:20:00', '0 days 21:40:00',
                '1 days 02:00:00', '1 days 06:20:00', '1 days 10:40:00'],
               dtype='timedelta64[ns]', freq='260T')

In [35]:
#business day offser
from pandas.tseries.offsets import BDay
pd.date_range('2022-11-01', periods=9, freq=BDay())
#see the gap in days - Sat & Sun

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
               '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10',
               '2022-11-11'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
datetime.today() - dates3[0]

##  links
https://pandas.pydata.org/docs/user_guide/timedeltas.html