# Data import / export CSV
https://stackoverflow.com/questions/16923281/writing-a-pandas-dataframe-to-csv-file

In [1]:
#libraries
import pandas as pd
import os

In [3]:
print(os.getcwd())

E:\analytics\projects\pyJupyter\02-basics

In [21]:
#print(os.listdir())

In [22]:
#print(os.listdir(os.getcwd()))

In [11]:
selectDir = 'E:/analytics/projects/pyJupyter/data/'  #data folder
#change this is according to your folder in laptop
print(os.listdir(selectDir))

['.ipynb_checkpoints', 'mtcars.csv', 'mtcars1.csv', 'sbi.csv', 'stats', 'Superstore_orders.csv', 'Superstore_orders.xlsx']

In [12]:
selectFile = 'mtcars.csv'
fileFolder = selectDir + selectFile
print(fileFolder)
#E:/analytics/projects/pyJupyter/data/mtcars.csv

E:/analytics/projects/pyJupyter/data/mtcars.csv

## Read CSV
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
pandas.read_csv(filepath_or_buffer, *, sep=_NoDefault.no_default, delimiter=None, header='infer', names=_NoDefault.no_default, index_col=None, usecols=None, squeeze=None, prefix=_NoDefault.no_default, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None)[source]

## OS Folder

In [13]:
#when using fwd slash use single
df1 = pd.read_csv(fileFolder)
df1.head()

,carname,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## Absolute Path

In [25]:
# if you know the exact location in laptop
df2 = pd.read_csv('E:/analytics/projects/pyJupyter/data/mtcars.csv')
print('DF2')
df2.head()

DF2

,carname,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## Relative Path

In [24]:
#when reverse slash use two back slash
df3 = pd.read_csv('..\\data\\mtcars.csv')
print('DF3')
df3.head()

DF3

,carname,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [23]:
## Online Path
url ='https://raw.githubusercontent.com/DUanalytics/datasets/master/csv/mtcars.csv'
df4 = pd.read_csv(url)
print('DF4 - URL')
df4.head()

DF4 - URL

,carname,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

#  Write to CSV
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
DataFrame.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)

In [ ]:
import os  
os.makedirs('..\\data\\csv', exist_ok=False)  #create only if does not exist
df4.to_csv('..\\data\\csv\\mtcarsOUT.csv')

In [32]:
os.listdir('..\\data\\csv')

['mtcarsOUT.csv']

In [ ]:
#df.to_csv(file_name, sep='\t', encoding='utf-8') # sometimes used

change default separator  : df.to_csv(...sep=';')
write without index : index=False
write without headers : header=False
write subset of columns : columns=['x', 'y']
file format encoding : encoding ='urf-8'
compression ='gzip'
date_format ='%d/%m/%Y'
save NANs as N/A : na_rep='N/A' or blank : na_rep=''