# Category
https://pandas.pydata.org/docs/user_guide/categorical.html

In [17]:
# Libraries
import numpy as np
import pandas as pd

In [ ]:
## Series

In [4]:
s1 = pd.Series(['a','b','c','d'])
print(s1, s1.dtype)
print(s1.describe())

0    a
1    b
2    c
3    d
dtype: object object
count     4
unique    4
top       a
freq      1
dtype: object

In [7]:
s2 = pd.Series(['a','b','c','d'], dtype='category')
print(s2, s2.dtype)
print(s2.describe())

0    a
1    b
2    c
3    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd'] category
count     4
unique    4
top       a
freq      1
dtype: object

In [ ]:
# DF

In [9]:
df = pd.DataFrame({'course': ['BBA','MBA','PHD','BBA']})
print(df)
print(df.dtypes)
print(df.describe())

  course
0    BBA
1    MBA
2    PHD
3    BBA
course    object
dtype: object
       course
count       4
unique      3
top       BBA
freq        2

In [13]:
df['courseCat'] = df['course'].astype('category')
print(df, '\n', df.dtypes, '\n')
print(df.describe())

  course courseCat
0    BBA       BBA
1    MBA       MBA
2    PHD       PHD
3    BBA       BBA
 course         object
courseCat    category
dtype: object

       course courseCat
count       4         4
unique      3         3
top       BBA       BBA
freq        2         2

### other tasks
Order, Reorder

## Dummies
Dummy variable is a variable created to assign numerical value to level of categorical variables

In [18]:
con = pd.Series(list('abcba'))
print(con)

0    a
1    b
2    c
3    b
4    a
dtype: object

In [19]:
print(pd.get_dummies(con))

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  0  1  0
4  1  0  0

In [20]:
## from list
li = ['s','a','t', np.nan]
print(pd.get_dummies(li, dummy_na=True))

   a  s  t  NaN
0  0  1  0    0
1  1  0  0    0
2  0  0  1    0
3  0  0  0    1

In [21]:
## DF
students = pd.DataFrame({'level':['UG','UG','PG','PG','PHD'], 
                         'course': ['BBA','BSc', 'MBA','MCA', 'PHDIT'], 
                         'count': [10, 20, 30, 40, 50]})
students

  level course  count
0    UG    BBA     10
1    UG    BSc     20
2    PG    MBA     30
3    PG    MCA     40
4   PHD  PHDIT     50

In [22]:
pd.get_dummies(students, prefix=['C1', 'C2'])
# 10 student in BBA which is UG

   count  C1_PG  C1_PHD  C1_UG  C2_BBA  C2_BSc  C2_MBA  C2_MCA  C2_PHDIT
0     10      0       0      1       1       0       0       0         0
1     20      0       0      1       0       1       0       0         0
2     30      1       0      0       0       0       1       0         0
3     40      1       0      0       0       0       0       1         0
4     50      0       1      0       0       0       0       0         1