# For Loop
it is used for iterating over a sequence (list, tuple, dictionary, set or string)
we can execute a set of statmements for each item in a list, tuple, set etc
it does not require an indexing variable to be set before hand( int i = 0 not required)

## Looping through list

In [2]:
#list
names = ['Dhiraj', 'Kounal', 'Sumit']
type(names)

list

In [3]:
for i in names : print(i)

Dhiraj
Kounal
Sumit

## Looping through a String

In [4]:
#string
name = 'Dhiraj Upadhyaya'
type(name)

str

In [8]:
for i in name : print(i , end = ', ')

D, h, i, r, a, j,  , U, p, a, d, h, y, a, y, a,

## Using Break to end the loop with condition

In [12]:
for i in name : 
    print( i , end = ', ')
    if i == 'U' :
        break

D, h, i, r, a, j,  , U,

In [13]:
for i in names : 
    print(i)
    if i == 'Dhiraj' :
        break

Dhiraj

## Using Continue to skip to next iteration

In [15]:
for i in names : 
    if i == 'Dhiraj' :
       continue
    print(i)
#this will not print Dhiraj whenever it occurs

Kounal
Sumit

## Using range() to iterate over a specified number of times

In [18]:
for x in range(6):
    print(x, end =', ')
# range(6) is not the values of 0 to 6, but values from 0 to 5
# range() has default starting value as 0, however new value can be specified  eg range(2,6) = 2,3,4,5
# increment number can also be specified : range(0,6,2)

0, 1, 2, 3, 4, 5,

In [19]:
for x in range(0,10,2):
    print(x, end =', ')

0, 2, 4, 6, 8,

## Using Else to execute a code when loop is over

In [21]:
for x in range(6):
    print(x, end ='\t')
else:
        print('Loop Over')

0	1	2	3	4	5	Loop Over

## Nested Loops

In [22]:
x = ['a', 'b', 'c']
y = ['z', 'y', 'x', 'w']
print(x, y)

['a', 'b', 'c'] ['z', 'y', 'x', 'w']

In [24]:
for i in x:
    for j in y :
        print( i, j, sep=':', end=', ')

a:z, a:y, a:x, a:w, b:z, b:y, b:x, b:w, c:z, c:y, c:x, c:w,

### conditions in the loop

In [2]:
list1 = ['a','b', 'c','d','e']
list2 = ['a', 'B', 'E']

In [ ]:
[x.upper() for x in list1]

In [4]:
[x.upper() for x in list1 if x not in list2]
#checks if list1 is not in list2

['B', 'C', 'D', 'E']

In [5]:
[x.upper() for x in list1 if x.upper() not in list2]
#checks if upper(list1) is not in list2

['A', 'C', 'D']

In [6]:
[len(x) for x in list1 if x.upper() not in list2]

[1, 1, 1]

In [11]:
list(map(lambda x:x.lower(), list2))

['a', 'b', 'e']

In [12]:
[x.upper() for x in list1 if x.upper() not in map(lambda x:x.lower(), list2)]
#checks if upper(list1) is not in lower(list2)

['A', 'B', 'C', 'D', 'E']

In [13]:
import re

In [21]:
re.search('^a', list2[0])

In [36]:
list(filter(lambda v: re.match('^a', v), list2))
#filter elements in list2 which start with a
#if such elements exist in list1 and list2, print

['a']

In [38]:
[x for x in list1 if x in list(filter(lambda v: re.match('^a', v), list2))]

['a']

Iterator can be used to traverse any collection irrespective of the type of collection. List iterator can only be used to iterate only List collection implemented classes like arraylist,linkedlist etc

In [43]:
print(set(list1), set(list2))
set1 = set(list1) ; set2 = set(list2)
print(set1, set2)

{'b', 'c', 'a', 'd', 'e'} {'B', 'E', 'a'}
{'b', 'c', 'a', 'd', 'e'} {'B', 'E', 'a'}

In [44]:
set1.intersection(set2)

{'a'}

In [45]:
set1.union(set2)

{'B', 'E', 'a', 'b', 'c', 'd', 'e'}