In [ ]:
#Pandas Merge
https://www.skytowner.com/explore/pandas_dataframe_merge_method

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_products = pd.DataFrame({"product": ["computer", "smartphone", "headphones"],
                            "bought_by": [1, 3, np.NaN]},
                             index=["A","B","C"])
df_products

      product  bought_by
A    computer        1.0
B  smartphone        3.0
C  headphones        NaN

In [4]:
df_customers = pd.DataFrame({"name": ["alex", "bob", "cathy"],
                             "age": [10, 20, 30]},
                             index=[1,2,3])
df_customers

    name  age
1   alex   10
2    bob   20
3  cathy   30

In [5]:
df_products.merge(df_customers, how="inner", left_on="bought_by", right_index=True)

      product  bought_by   name  age
A    computer        1.0   alex   10
B  smartphone        3.0  cathy   30

In [6]:
df_products.merge(df_customers, how="left", left_on="bought_by", right_index=True)

      product  bought_by   name   age
A    computer        1.0   alex  10.0
B  smartphone        3.0  cathy  30.0
C  headphones        NaN    NaN   NaN

In [7]:
df_products.merge(df_customers, how="right", left_on="bought_by", right_index=True)

        product  bought_by   name  age
A      computer        1.0   alex   10
NaN         NaN        2.0    bob   20
B    smartphone        3.0  cathy   30

In [8]:
# full join
df_products.merge(df_customers, how="outer", left_on="bought_by", right_index=True)

        product  bought_by   name   age
A      computer        1.0   alex  10.0
B    smartphone        3.0  cathy  30.0
C    headphones        NaN    NaN   NaN
NaN         NaN        2.0    bob  20.0

In [9]:
#sort
df_products.merge(df_customers, how="left", left_on="bought_by", right_index=True, sort=True)

      product  bought_by   name   age
A    computer        1.0   alex  10.0
B  smartphone        3.0  cathy  30.0
C  headphones        NaN    NaN   NaN

In [10]:
#indicator
df_products.merge(df_customers, how="left", left_on="bought_by", right_index=True, indicator=True)

      product  bought_by   name   age     _merge
A    computer        1.0   alex  10.0       both
B  smartphone        3.0  cathy  30.0       both
C  headphones        NaN    NaN   NaN  left_only