In [ ]:
#outliers in python
#outlier is an extreme value An Outlier is a data-item/object that deviates significantly from the rest of the (so-called normal)objects. They can be caused by measurement or execution errors. The analysis for outlier detection is referred to as outlier mining. There are many ways to detect the outliers, and the removal process is the data frame same as removing a data item from the pandaâ€™s data frame

In [17]:
#import libraries
import sklearn
#from sklearn.datasets import load_boston  #ethical issue
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
# Load the dataset
housing
 
# Create the dataframe
column_name = housing.feature_names
column_name
df_housing = pd.DataFrame(housing.data)
df_housing.columns = column_name
df_housing.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [ ]:
#method1 : Visualisation

In [10]:
# Box Plot
import seaborn as sns
#sns.boxplot(df_housing.HouseAge)

In [15]:
#range of values
df_housing.max(), df_housing.min()

(MedInc           15.000100
 HouseAge         52.000000
 AveRooms        141.909091
 AveBedrms        34.066667
 Population    35682.000000
 AveOccup       1243.333333
 Latitude         41.950000
 Longitude      -114.310000
 dtype: float64,
 MedInc          0.499900
 HouseAge        1.000000
 AveRooms        0.846154
 AveBedrms       0.333333
 Population      3.000000
 AveOccup        0.692308
 Latitude       32.540000
 Longitude    -124.350000
 dtype: float64)

In [20]:
# Position of the Outlier
print(np.where(df_housing['HouseAge'] > 49))

(array([    2,     3,     4, ..., 20237, 20443, 20592], dtype=int64),)

In [21]:
# Z score
from scipy import stats
import numpy as np

In [22]:
z = np.abs(stats.zscore(df_housing['HouseAge']))
print(z)

0        0.982143
1        0.607019
2        1.856182
3        1.856182
4        1.856182
           ...
20635    0.289187
20636    0.845393
20637    0.924851
20638    0.845393
20639    1.004309
Name: HouseAge, Length: 20640, dtype: float64

In [28]:
threshold = 2.1
 
# Position of the outlier
print(np.where(z > threshold))

(array([   59,   854,  1565,  1566,  1648,  2206,  2339,  2774,  3130,
        3140,  9109,  9132,  9168,  9187,  9378, 10336, 10376, 10391,
       10410, 10416, 10513, 10519, 10524, 10529, 12006, 12077, 12084,
       12123, 12142, 12143, 12156, 12171, 12201, 12203, 12204, 12285,
       12286, 12868, 13041, 13102, 13177, 13367, 13373, 13374, 13659,
       13713, 15444, 15464, 15736, 16383, 16566, 16593, 17824, 18725,
       18942, 18972, 18989, 19001, 19046, 19536, 19561, 19650],
      dtype=int64),)