# QCUT

In [2]:
#library
import pandas as pd

In [3]:
raw_grades = [3,6,8,7,3,5]
students = ["alex", "bob", "cathy", "doge", "eric", "fred"]
df = pd.DataFrame({"name":students,"raw_grade":raw_grades})
df

    name  raw_grade
0   alex          3
1    bob          6
2  cathy          8
3   doge          7
4   eric          3
5   fred          5

In [5]:
df["grade"] = pd.qcut(df["raw_grade"], q=4)
df  #into 4 equal partitions
#(2.995, 3.5] just means that the 2.999 < raw_grade <= 3.5.

    name  raw_grade         grade
0   alex          3  (2.999, 3.5]
1    bob          6   (5.5, 6.75]
2  cathy          8   (6.75, 8.0]
3   doge          7   (6.75, 8.0]
4   eric          3  (2.999, 3.5]
5   fred          5    (3.5, 5.5]

In [6]:
df["grade"] = pd.qcut(df["raw_grade"], q=[0, .4, .8, 1])
df  #custom partitions

    name  raw_grade         grade
0   alex          3  (2.999, 5.0]
1    bob          6    (5.0, 7.0]
2  cathy          8    (7.0, 8.0]
3   doge          7    (5.0, 7.0]
4   eric          3  (2.999, 5.0]
5   fred          5  (2.999, 5.0]

In [7]:
# labels
df["grade"] = pd.qcut(df["raw_grade"], q=4, labels=["D","C","B","A"])
df
#length of the labels array must equal the specified number of quartiles.

    name  raw_grade grade
0   alex          3     D
1    bob          6     B
2  cathy          8     A
3   doge          7     A
4   eric          3     D
5   fred          5     C

In [8]:
# retbins
x = [3,6,8,7,4,5]
res = pd.cut(x, bins=2, retbins=True)
print("Categories: ", res[0])
print("Bin egdes: ", res[1])

Categories:  [(2.995, 5.5], (5.5, 8.0], (5.5, 8.0], (5.5, 8.0], (2.995, 5.5], (2.995, 5.5]]
Categories (2, interval[float64, right]): [(2.995, 5.5] < (5.5, 8.0]]
Bin egdes:  [2.995 5.5   8.   ]

In [9]:
res[0]

[(2.995, 5.5], (5.5, 8.0], (5.5, 8.0], (5.5, 8.0], (2.995, 5.5], (2.995, 5.5]]
Categories (2, interval[float64, right]): [(2.995, 5.5] < (5.5, 8.0]]

In [10]:
res[1]

array([2.995, 5.5  , 8.   ])

In [11]:
#Specifying precision
#In order to control how many decimal places are displayed, set the precision parameter:

x = [3,6,8,7,4,5]
bins = pd.qcut(x, q=4, precision=2)
print(bins)

[(2.99, 4.25], (5.5, 6.75], (6.75, 8.0], (6.75, 8.0], (2.99, 4.25], (4.25, 5.5]]
Categories (4, interval[float64, right]): [(2.99, 4.25] < (4.25, 5.5] < (5.5, 6.75] < (6.75, 8.0]]

In [ ]:
#Specifying duplicates
#By default, the bin edges must be unique, otherwise an error will be thrown. For instance:

In [13]:
x = [3,6,8,7,3,5]
#pd.qcut(x, q=5)   # duplicates="raise"
#ValueError: Bin edges must be unique: array([ 3.,  3.,  5.,  6.,  7.,  8.]).filter_none
#Here, we ended up with two bin edges of value 3, so that's why we get an error.

In [15]:
#In order to drop (remove) redundant bin edges, set duplicates="drop", like so:
x = [3,6,8,7,3,5]
binsX = pd.qcut(x, q=5, duplicates="drop")

In [16]:
binsX

[(2.999, 5.0], (5.0, 6.0], (7.0, 8.0], (6.0, 7.0], (2.999, 5.0], (2.999, 5.0]]
Categories (4, interval[float64, right]): [(2.999, 5.0] < (5.0, 6.0] < (6.0, 7.0] < (7.0, 8.0]]

In [18]:
binsX[0]

Interval(2.999, 5.0, closed='right')