In [ ]:
# String Management

In [1]:
# Libraries

In [2]:
import numpy as np
import pandas as pd

In [9]:
# Series
s = pd.Series(['Dhiraj', 'Tanvi Tiwari', '  Sumit', 'Sushma@hcl', np.nan, '1234','ShaktiRaj'])
print(s)

0          Dhiraj
1    Tanvi Tiwari
2           Sumit
3      Sushma@hcl
4             NaN
5            1234
6       ShaktiRaj
dtype: object

In [4]:
print(s.str.lower())

0          dhiraj
1    tanvi tiwari
2           sumit
3      sushma@hcl
4             NaN
5            1234
6       shaktiraj
dtype: object

In [5]:
print(s.str.upper())

0          DHIRAJ
1    TANVI TIWARI
2           SUMIT
3      SUSHMA@HCL
4             NaN
5            1234
6       SHAKTIRAJ
dtype: object

In [6]:
print(s.str.len())

0     6.0
1    12.0
2     5.0
3    10.0
4     NaN
5     4.0
6     9.0
dtype: float64

In [12]:
print(s, '\n', s.str.strip(' '))

0          Dhiraj
1    Tanvi Tiwari
2           Sumit
3      Sushma@hcl
4             NaN
5            1234
6       ShaktiRaj
dtype: object
 0          Dhiraj
1    Tanvi Tiwari
2           Sumit
3      Sushma@hcl
4             NaN
5            1234
6       ShaktiRaj
dtype: object

In [13]:
print(s.str.cat(sep='_'))

Dhiraj_Tanvi Tiwari_  Sumit_Sushma@hcl_1234_ShaktiRaj

In [14]:
print(s.str.contains(' '))

0    False
1     True
2     True
3    False
4      NaN
5    False
6    False
dtype: object

In [17]:
print(s.str.contains('@'))

0    False
1    False
2    False
3     True
4      NaN
5    False
6    False
dtype: object

In [19]:
print(s.str.replace('@','$'))

0          Dhiraj
1    Tanvi Tiwari
2           Sumit
3      Sushma$hcl
4             NaN
5            1234
6       ShaktiRaj
dtype: object

In [20]:
print(s.str.repeat(2))

0                DhirajDhiraj
1    Tanvi TiwariTanvi Tiwari
2                Sumit  Sumit
3        Sushma@hclSushma@hcl
4                         NaN
5                    12341234
6          ShaktiRajShaktiRaj
dtype: object

In [21]:
print(s.str.count('a'))

0    1.0
1    2.0
2    0.0
3    1.0
4    NaN
5    0.0
6    2.0
dtype: float64

In [23]:
print(s.str. startswith ('S'))

0    False
1    False
2    False
3     True
4      NaN
5    False
6     True
dtype: object

In [24]:
print(s.str.endswith('j'))

0     True
1    False
2    False
3    False
4      NaN
5    False
6     True
dtype: object

In [28]:
print(s.str.find('t'))
#"-1" indicates that there no such pattern available in the element.
#other wise position is told

0   -1.0
1   -1.0
2    6.0
3   -1.0
4    NaN
5   -1.0
6    4.0
dtype: float64

In [30]:
print(s.str.findall('a'))
#Null list([ ]) indicates that there is no such pattern available in the element.

0       [a]
1    [a, a]
2        []
3       [a]
4       NaN
5        []
6    [a, a]
dtype: object

In [31]:
print(s.str.findall('Dh'))

0    [Dh]
1      []
2      []
3      []
4     NaN
5      []
6      []
dtype: object

In [32]:
print(s.str.swapcase())

0          dHIRAJ
1    tANVI tIWARI
2           sUMIT
3      sUSHMA@HCL
4             NaN
5            1234
6       sHAKTIrAJ
dtype: object

In [34]:
print(s.str.islower())
print(s.str.isupper())
print(s.str.isnumeric())

0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object
0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object
0    False
1    False
2    False
3    False
4      NaN
5     True
6    False
dtype: object

## Links
https://towardsdatascience.com/5-must-know-pandas-operations-on-strings-4f88ca6b8e25
https://stackoverflow.com/questions/29081530/string-column-manipulation-in-data-frame-in-pandas
https://pandas.pydata.org/docs/user_guide/text.html
https://note.nkmk.me/en/python-pandas-str-replace-strip-etc/
https://www.gresearch.co.uk/blog/article/faster-string-processing-in-pandas/