# Association Rule Analysis
Association Rule - simple I1, I2, I3, I4, I5

## Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns',None)

### AR Libraries

In [4]:
#pip install mlxtend   #install this from anaconda prompt as Admin
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import time
import logging

## Create Transactional Data

In [7]:
# this is list type, each [] represents 1 transaction with set of items
transactions = [['I1','I2','I5'],
                ['I2','I4'],
                ['I2','I3'] ,
                ['I1','I2','I4'],
                ['I1','I3'], 
                ['I2','I3'],
                ['I1','I3'], 
                ['I1','I2','I3','I5'],
                ['I1','I2','I3']]
transactions

[['I1', 'I2', 'I5'],
 ['I2', 'I4'],
 ['I2', 'I3'],
 ['I1', 'I2', 'I4'],
 ['I1', 'I3'],
 ['I2', 'I3'],
 ['I1', 'I3'],
 ['I1', 'I2', 'I3', 'I5'],
 ['I1', 'I2', 'I3']]

In [8]:
### Convert to transaction format
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
te_ary  # this produces no of colums as there are number of times
#with True stating item was present

array([[ True,  True, False, False,  True],
       [False,  True, False,  True, False],
       [False,  True,  True, False, False],
       [ True,  True, False,  True, False],
       [ True, False,  True, False, False],
       [False,  True,  True, False, False],
       [ True, False,  True, False, False],
       [ True,  True,  True, False,  True],
       [ True,  True,  True, False, False]])

In [9]:
te.columns_  #column order

['I1', 'I2', 'I3', 'I4', 'I5']

In [10]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

      I1     I2     I3     I4     I5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [11]:
#this matrix of transactions : T/ F indicate their presence in each Trans ID
df.shape

(9, 5)

In [12]:
#get back orginal transactions
orgtrans1 = te_ary[:]
te.inverse_transform(orgtrans1)

[['I1', 'I2', 'I5'],
 ['I2', 'I4'],
 ['I2', 'I3'],
 ['I1', 'I2', 'I4'],
 ['I1', 'I3'],
 ['I2', 'I3'],
 ['I1', 'I3'],
 ['I1', 'I2', 'I3', 'I5'],
 ['I1', 'I2', 'I3']]

## Frequent Item Set

In [13]:
#%%% #frequent itemsets - Most Imp Step
support_threshold = 0.01 #.01
.1 * 100
.1 * 9
#https://github.com/rasbt/mlxtend/blob/master/mlxtend/frequent_patterns/apriori.py
frequent_itemsets = apriori(df, min_support= support_threshold, use_colnames = True)
frequent_itemsets
#itemset and its support value with condition of min support value

     support          itemsets
0   0.666667              (I1)
1   0.777778              (I2)
2   0.666667              (I3)
3   0.222222              (I4)
4   0.222222              (I5)
5   0.444444          (I2, I1)
6   0.444444          (I3, I1)
7   0.111111          (I4, I1)
8   0.222222          (I5, I1)
9   0.444444          (I2, I3)
10  0.222222          (I2, I4)
11  0.222222          (I2, I5)
12  0.111111          (I3, I5)
13  0.222222      (I3, I2, I1)
14  0.111111      (I2, I4, I1)
15  0.222222      (I5, I2, I1)
16  0.111111      (I5, I3, I1)
17  0.111111      (I5, I2, I3)
18  0.111111  (I3, I2, I5, I1)

In [14]:
print(frequent_itemsets) #dataframe with the itemsets

     support          itemsets
0   0.666667              (I1)
1   0.777778              (I2)
2   0.666667              (I3)
3   0.222222              (I4)
4   0.222222              (I5)
5   0.444444          (I2, I1)
6   0.444444          (I3, I1)
7   0.111111          (I4, I1)
8   0.222222          (I5, I1)
9   0.444444          (I2, I3)
10  0.222222          (I2, I4)
11  0.222222          (I2, I5)
12  0.111111          (I3, I5)
13  0.222222      (I3, I2, I1)
14  0.111111      (I2, I4, I1)
15  0.222222      (I5, I2, I1)
16  0.111111      (I5, I3, I1)
17  0.111111      (I5, I2, I3)
18  0.111111  (I3, I2, I5, I1)

In [16]:
#help(association_rules)

## Association Rules

### Support

In [17]:
#output - DF with antecedents -> consequent
supportRules3 = association_rules(frequent_itemsets, metric="support", min_threshold = .4)
print(supportRules3)

  antecedents consequents  antecedent support  consequent support   support  \
0        (I2)        (I1)            0.777778            0.666667  0.444444
1        (I1)        (I2)            0.666667            0.777778  0.444444
2        (I3)        (I1)            0.666667            0.666667  0.444444
3        (I1)        (I3)            0.666667            0.666667  0.444444
4        (I2)        (I3)            0.777778            0.666667  0.444444
5        (I3)        (I2)            0.666667            0.777778  0.444444

   confidence      lift  leverage  conviction
0    0.571429  0.857143 -0.074074    0.777778
1    0.666667  0.857143 -0.074074    0.666667
2    0.666667  1.000000  0.000000    1.000000
3    0.666667  1.000000  0.000000    1.000000
4    0.571429  0.857143 -0.074074    0.777778
5    0.666667  0.857143 -0.074074    0.666667

In [18]:
supportRules3.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(I2),(I1),0.777778,0.666667,0.444444,0.571429,0.857143,-0.074074,0.777778
1,(I1),(I2),0.666667,0.777778,0.444444,0.666667,0.857143,-0.074074,0.666667
2,(I3),(I1),0.666667,0.666667,0.444444,0.666667,1.000000,0.000000,1.000000
3,(I1),(I3),0.666667,0.666667,0.444444,0.666667,1.000000,0.000000,1.000000
4,(I2),(I3),0.777778,0.666667,0.444444,0.571429,0.857143,-0.074074,0.777778

In [19]:
print(supportRules3[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

  antecedents consequents   support  confidence      lift
0        (I2)        (I1)  0.444444    0.571429  0.857143
1        (I1)        (I2)  0.444444    0.666667  0.857143
2        (I3)        (I1)  0.444444    0.666667  1.000000
3        (I1)        (I3)  0.444444    0.666667  1.000000
4        (I2)        (I3)  0.444444    0.571429  0.857143
5        (I3)        (I2)  0.444444    0.666667  0.857143

In [ ]:
### Support with different threshold values

In [20]:
supportRules2 = association_rules(frequent_itemsets, metric="support", min_threshold = .2)
print(supportRules2[['antecedents', 'consequents', 'support', 'confidence','lift']])

   antecedents consequents   support  confidence      lift
0         (I2)        (I1)  0.444444    0.571429  0.857143
1         (I1)        (I2)  0.444444    0.666667  0.857143
2         (I3)        (I1)  0.444444    0.666667  1.000000
3         (I1)        (I3)  0.444444    0.666667  1.000000
4         (I5)        (I1)  0.222222    1.000000  1.500000
5         (I1)        (I5)  0.222222    0.333333  1.500000
6         (I2)        (I3)  0.444444    0.571429  0.857143
7         (I3)        (I2)  0.444444    0.666667  0.857143
8         (I2)        (I4)  0.222222    0.285714  1.285714
9         (I4)        (I2)  0.222222    1.000000  1.285714
10        (I2)        (I5)  0.222222    0.285714  1.285714
11        (I5)        (I2)  0.222222    1.000000  1.285714
12    (I2, I3)        (I1)  0.222222    0.500000  0.750000
13    (I3, I1)        (I2)  0.222222    0.500000  0.642857
14    (I2, I1)        (I3)  0.222222    0.500000  0.750000
15        (I3)    (I2, I1)  0.222222    0.333333  0.750000
16        (I2)    (I3, I1)  0.222222    0.285714  0.642857
17        (I1)    (I2, I3)  0.222222    0.333333  0.750000
18    (I2, I5)        (I1)  0.222222    1.000000  1.500000
19    (I1, I5)        (I2)  0.222222    1.000000  1.285714
20    (I2, I1)        (I5)  0.222222    0.500000  2.250000
21        (I5)    (I2, I1)  0.222222    1.000000  2.250000
22        (I2)    (I1, I5)  0.222222    0.285714  1.285714
23        (I1)    (I2, I5)  0.222222    0.333333  1.500000

### Confidence

In [24]:
#%%%% Confidence
confidence6 = association_rules(frequent_itemsets, metric="confidence", min_threshold=.6)
#print(confidence6)
print(confidence6[['antecedents', 'consequents', 'support','confidence']])

     antecedents consequents   support  confidence
0           (I1)        (I2)  0.444444    0.666667
1           (I3)        (I1)  0.444444    0.666667
2           (I1)        (I3)  0.444444    0.666667
3           (I5)        (I1)  0.222222    1.000000
4           (I3)        (I2)  0.444444    0.666667
5           (I4)        (I2)  0.222222    1.000000
6           (I5)        (I2)  0.222222    1.000000
7       (I4, I1)        (I2)  0.111111    1.000000
8       (I2, I5)        (I1)  0.222222    1.000000
9       (I1, I5)        (I2)  0.222222    1.000000
10          (I5)    (I2, I1)  0.222222    1.000000
11      (I3, I5)        (I1)  0.111111    1.000000
12      (I3, I5)        (I2)  0.111111    1.000000
13  (I2, I3, I5)        (I1)  0.111111    1.000000
14  (I1, I3, I5)        (I2)  0.111111    1.000000
15      (I3, I5)    (I2, I1)  0.111111    1.000000

### Lift

In [27]:
#%%%% Lift  : generally > 1 for strong associations
lift1 = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
#print(lift1)
print(lift1[['antecedents', 'consequents', 'support', 'lift', 'confidence']])

     antecedents   consequents   support      lift  confidence
0           (I3)          (I1)  0.444444  1.000000    0.666667
1           (I1)          (I3)  0.444444  1.000000    0.666667
2           (I5)          (I1)  0.222222  1.500000    1.000000
3           (I1)          (I5)  0.222222  1.500000    0.333333
4           (I2)          (I4)  0.222222  1.285714    0.285714
5           (I4)          (I2)  0.222222  1.285714    1.000000
6           (I2)          (I5)  0.222222  1.285714    0.285714
7           (I5)          (I2)  0.222222  1.285714    1.000000
8       (I2, I1)          (I4)  0.111111  1.125000    0.250000
9       (I4, I1)          (I2)  0.111111  1.285714    1.000000
10          (I2)      (I4, I1)  0.111111  1.285714    0.142857
11          (I4)      (I2, I1)  0.111111  1.125000    0.500000
12      (I2, I5)          (I1)  0.222222  1.500000    1.000000
13      (I1, I5)          (I2)  0.222222  1.285714    1.000000
14      (I2, I1)          (I5)  0.222222  2.250000    0.500000
15          (I5)      (I2, I1)  0.222222  2.250000    1.000000
16          (I2)      (I1, I5)  0.222222  1.285714    0.285714
17          (I1)      (I2, I5)  0.222222  1.500000    0.333333
18      (I3, I5)          (I1)  0.111111  1.500000    1.000000
19      (I3, I1)          (I5)  0.111111  1.125000    0.250000
20          (I5)      (I3, I1)  0.111111  1.125000    0.500000
21          (I1)      (I3, I5)  0.111111  1.500000    0.166667
22      (I3, I5)          (I2)  0.111111  1.285714    1.000000
23      (I2, I3)          (I5)  0.111111  1.125000    0.250000
24          (I5)      (I2, I3)  0.111111  1.125000    0.500000
25          (I2)      (I3, I5)  0.111111  1.285714    0.142857
26  (I2, I3, I5)          (I1)  0.111111  1.500000    1.000000
27  (I2, I3, I1)          (I5)  0.111111  2.250000    0.500000
28  (I1, I3, I5)          (I2)  0.111111  1.285714    1.000000
29      (I2, I3)      (I1, I5)  0.111111  1.125000    0.250000
30      (I3, I5)      (I2, I1)  0.111111  2.250000    1.000000
31      (I3, I1)      (I2, I5)  0.111111  1.125000    0.250000
32      (I2, I5)      (I3, I1)  0.111111  1.125000    0.500000
33      (I2, I1)      (I3, I5)  0.111111  2.250000    0.250000
34      (I1, I5)      (I2, I3)  0.111111  1.125000    0.500000
35          (I2)  (I1, I3, I5)  0.111111  1.285714    0.142857
36          (I5)  (I2, I3, I1)  0.111111  2.250000    0.500000
37          (I1)  (I2, I3, I5)  0.111111  1.500000    0.166667

In [26]:
# Lift with different threshold
lift2 = association_rules(frequent_itemsets, metric="lift", min_threshold=2)
#print(lift2)  #high positive correlation
print(lift2[['antecedents', 'consequents', 'support', 'lift', 'confidence']])

    antecedents   consequents   support  lift  confidence
0      (I2, I1)          (I5)  0.222222  2.25        0.50
1          (I5)      (I2, I1)  0.222222  2.25        1.00
2  (I2, I3, I1)          (I5)  0.111111  2.25        0.50
3      (I3, I5)      (I2, I1)  0.111111  2.25        1.00
4      (I2, I1)      (I3, I5)  0.111111  2.25        0.25
5          (I5)  (I2, I3, I1)  0.111111  2.25        0.50

In [ ]:
#Confidence and Support Threshold Combined
#twin condition : lift> 2;  confidence > .5, support > .2
lift2[(lift2.confidence > .5) & (lift2.support > .2)]

#### Different Threshold Values

In [28]:
#min support =.3
association_rules(frequent_itemsets, metric="support", min_threshold = .3)[[ 'antecedents','consequents','support', 'confidence','lift']]

  antecedents consequents   support  confidence      lift
0        (I2)        (I1)  0.444444    0.571429  0.857143
1        (I1)        (I2)  0.444444    0.666667  0.857143
2        (I3)        (I1)  0.444444    0.666667  1.000000
3        (I1)        (I3)  0.444444    0.666667  1.000000
4        (I2)        (I3)  0.444444    0.571429  0.857143
5        (I3)        (I2)  0.444444    0.666667  0.857143

In [ ]:
#min lift =1 
association_rules(frequent_itemsets, metric="lift", min_threshold = 1)[[ 'antecedents','consequents','support', 'confidence','lift']]

In [ ]:
#min confidence =.6 
association_rules(frequent_itemsets, metric="confidence", min_threshold = .6)[['antecedents','consequents','support', 'confidence','lift']]

### Part-1 Over : Interpret the results

In [ ]:
### Analysis

In [29]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames = True)
frequent_itemsets

     support      itemsets
0   0.666667          (I1)
1   0.777778          (I2)
2   0.666667          (I3)
3   0.222222          (I4)
4   0.222222          (I5)
5   0.444444      (I2, I1)
6   0.444444      (I3, I1)
7   0.222222      (I5, I1)
8   0.444444      (I2, I3)
9   0.222222      (I2, I4)
10  0.222222      (I2, I5)
11  0.222222  (I3, I2, I1)
12  0.222222  (I5, I2, I1)

In [31]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'I1', 'I2'} ]

    support  itemsets  length
5  0.444444  (I2, I1)       2

In [ ]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'I1'} ]

In [32]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support      itemsets  length
0   0.666667          (I1)       1
1   0.777778          (I2)       1
2   0.666667          (I3)       1
3   0.222222          (I4)       1
4   0.222222          (I5)       1
5   0.444444      (I2, I1)       2
6   0.444444      (I3, I1)       2
7   0.222222      (I5, I1)       2
8   0.444444      (I2, I3)       2
9   0.222222      (I2, I4)       2
10  0.222222      (I2, I5)       2
11  0.222222  (I3, I2, I1)       3
12  0.222222  (I5, I2, I1)       3

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] >= 1) & (frequent_itemsets[ 'support'] >= 0.3) ]

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) & (frequent_itemsets[ 'support'] >= 0.3) ]

##  Another Example with Item Names

#%%% Links
#http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
#https://www.kaggle.com/datatheque/association-rules-mining-market-basket-analysis
#http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

#summary
#metric - support, confidence, lift
#frequent item set, rule (threshold - sp, conf, lift)
#X->Y   : which rules interesting
#Combo plan, relayout, discount, ad, recommendation system

transactions = [['Bread','Butter','Jam'],['Butter','Cheese'],['Butter','Egg'] ,['Bread','Butter','Cheese'],['Bread','Egg'], ['Butter','Egg'],['Bread','Egg'], ['Bread','Butter','Egg','Jam'],['Bread','Butter','Egg']]
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
te_ary
te.columns_
df = pd.DataFrame(te_ary, columns=te.columns_)
df

#https://pypi.org/project/efficient-apriori/
#https://stackabuse.com/association-rule-mining-via-apriori-algorithm-in-python
#pip install apyori
from apyori import apriori
association_rules = apriori(df, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)
association_results
print(len(association_results))
print(association_results[0])
for item in association_results:
    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

    

#%%%method3  : under draft
#https://pypi.org/project/efficient-apriori/
#pip install efficient_apriori
from efficient_apriori import apriori
transactions = [('eggs', 'bacon', 'soup'),   ('eggs', 'bacon', 'apple'), ('soup', 'bacon', 'banana')]
transactions
itemsets, rules = apriori(transactions, min_support=0.5, min_confidence=1)
print(rules)  # [{eggs} -> {bacon}, {soup} -> {bacon}]

itemsets, rules = apriori(transactions, min_support=0.2, min_confidence=1)
# Print out every rule with 2 items on the left hand side,
# 1 item on the right hand side, sorted by lift
rules_rhs = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

#with ids
from efficient_apriori import apriori
transactions = [('eggs', 'bacon', 'soup'),   ('eggs', 'bacon', 'apple'), ('soup', 'bacon', 'banana')]
itemsets, rules = apriori(transactions, output_transaction_ids=True)
print(itemsets)

transactions
help(apriori)
itemsets2, rules2 = apriori(transactions, min_support=0.2, min_confidence = .3)
itemsets2
rules2

# Print out every rule with 1 items on the left hand side,1 item on the right hand side, sorted by lift
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules2)
rules_rhs
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):  print(rule) 
# Prints the rule and its confidence, support, lift, ...
# Print out every rule with 2 items on the left hand side,

#%%%

transactions = [['I1','I2','I5'],['I2','I4'],['I2','I3'] ,['I1','I2','I4'],['I1','I3'], ['I2','I3'],['I1','I3'], ['I1','I2','I3','I5'],['I1','I2','I3']]
transactions
#----
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
te_ary
te.columns_
df = pd.DataFrame(te_ary, columns=te.columns_)
df
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori
support_threshold = 0.01
frequent_itemsets = apriori(df, min_support= support_threshold, use_colnames = True)
frequent_itemsets
rules4 = association_rules(frequent_itemsets, metric="lift", min_threshold =1.2)
rules4
#no of items - left and right side
rules4["ant_len"] = rules4["antecedents"].apply(lambda x: len(x))
rules4
rules4["con_len"] = rules4["consequents"].apply(lambda x: len(x))
rules4
rules4[(rules4['ant_len'] >= 1) & (rules4['confidence'] > 0.75) & (rules4['lift'] > 1.2) ]
rules4[rules4['antecedents'] == {'I1','I2'}]

#%%%
transactions = [['I1','I2','I5'],['I2','I4'],['I2','I3'] ,['I1','I2','I4'],['I1','I3'], ['I2','I3'],['I1','I3'], ['I1','I2','I3','I5'],['I1','I2','I3']]
transactions

from efficient_apriori import apriori
#transactions = [('eggs', 'bacon', 'soup'),   ('eggs', 'bacon', 'apple'), ('soup', 'bacon', 'banana')]
itemsets, rules = apriori(transactions, output_transaction_ids=True)
print(itemsets)
itemsets, rules = apriori(transactions, min_support=0.4, min_confidence=.6)
print(rules)