# D07 Train/Test/ Sampling/ Random Nos
Overfitting happens when the machine learning model memorizes the pattern in the training data to such an extent that it fails to classify unseen data. The noise or fluctuations in the training data is seen as features and learned by the model. This leads to the model outperforming in the training set but poor performance in the validation and testing sets.
Train & Test Set
- Training set—a subset to train a model.
- Test set—a subset to test accuracy of the trained model. Never train on test data. 
- Generall 75% for training, and 25% for testing.

- Sampling
- Random numbers

In [1]:
# libraries
import pandas as pd
import numpy as np
from pydataset import data

In [2]:
import random
print(random.random())

0.640791121050464

In [3]:
string = "Dhiraj Upadhyaya"
print(random.choice(string))
#random character from string

i

In [4]:
courses = ['BBA','BA','BCom', 'MBA', 'MTech', 'Phd']
numbers = [1, 4, 8, 10, 3]

In [5]:
random.choice(courses)

'MTech'

In [6]:
random.choice(numbers)

10

In [7]:
random.shuffle(courses)
courses

['MTech', 'BA', 'MBA', 'BCom', 'BBA', 'Phd']

In [8]:
random.seed(5)
random.randrange(20, 50)
#random number between 20 & 50

39

In [9]:
random.seed(5)
random.randrange(20, 50, 3)
#random number between 20 & 50 & skip 3 numbers when selecting
#random.randrange(start, stop[, step])

47

In [10]:
random.sample(courses,2)

['MBA', 'Phd']

In [11]:
# using seed() to seed a random number
random.seed(5)
random.random() #always fixed no  with seed

0.6229016948897019

In [12]:
#Generate 5 random numbers between 10 and 30
random.sample(range(10, 30), 5)

[21, 26, 10, 24, 17]

In [48]:
mylist = ["apple", "banana", "cherry"]
print(random.choices(mylist, weights = [3, 2, 1], k = 10))
#method returns a list with the randomly selected element from the specified sequence.
#You can weigh the possibility of each result with the weights parameter or the cum_weights parameter.
#The sequence can be a string, a range, a list, a tuple or any other kind of sequence.

['cherry', 'apple', 'banana', 'cherry', 'cherry', 'apple', 'apple', 'banana', 'banana', 'apple']

In [50]:
print(random.choices(mylist, cum_weights = [3, 5, 6], k = 10))
#eq to 3, 3+2, 3+2+1

['cherry', 'banana', 'apple', 'apple', 'apple', 'apple', 'apple', 'banana', 'cherry', 'apple']

In [54]:
randChoice1 = random.choices(mylist, cum_weights = [3, 5, 6], k = 10)
print(randChoice1)
import collections
elements_count = collections.Counter(randChoice1)
for key, value in elements_count.items():    print(f"{key}: {value}")
#not every time the values will be same

['banana', 'apple', 'apple', 'apple', 'apple', 'apple', 'cherry', 'cherry', 'banana', 'apple']
banana: 2
apple: 6
cherry: 2

### numpy - random

In [15]:
np.random.rand(10)
#10 values between 0 and 1

array([0.55651631, 0.92834547, 0.28381007, 0.88585477, 0.90665076,
       0.42137041, 0.64760468, 0.93945577, 0.09760939, 0.60302803])

In [16]:
np.random.randint(0,100,20)
#20 random integers between 0 and 100

array([86, 21, 95, 30, 84, 47,  6,  2, 26, 33, 70, 13, 79, 88, 94, 92, 49,
       81, 22, 87])

In [17]:
np.random.normal(loc=25, scale=2, size=20)
#normally distributed numbers : mean = 25, std 2, n=2

array([24.75373474, 22.0875269 , 28.56546792, 23.82675564, 25.43892339,
       26.70610925, 24.82527885, 23.40217288, 24.95217768, 25.3156713 ,
       24.35300238, 27.51583616, 24.09294827, 28.03416791, 30.41823059,
       24.8984813 , 28.56596023, 27.07328917, 22.72591181, 26.5631727 ])

In [18]:
# random choices
courses = ['BBA','BA','BCom', 'MBA', 'MTech', 'Phd']
np.random.choice(courses, size=20, replace=True, p = [.2, .1, .2, .3, .1,.1])

array(['Phd', 'MBA', 'BA', 'BBA', 'MBA', 'BA', 'MBA', 'Phd', 'BBA', 'MBA',
       'BCom', 'BBA', 'BA', 'BBA', 'MBA', 'BBA', 'BBA', 'BCom', 'BA',
       'BCom'], dtype='<U5')

### Train and Test Set for ML
IV as features (X)
DV as labels (y)
Data gets divided in X_train, y_train, X_test, y_test

In [19]:
from sklearn.model_selection import train_test_split
# options
# test _size, train_size, random_state = int value, shuffle, stratify

In [20]:
df = data('mtcars')
print('Few Rows ', df.head(4))
print('Shape of Data ', df.shape)
print('Info ', df.info())

Few Rows                   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710      22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
Shape of Data  (32, 11)
<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 3.0+ KB
Info  None

In [21]:
df1 = df[['mpg','wt', 'hp','gear']]
df1.head()

                    mpg     wt   hp  gear
Mazda RX4          21.0  2.620  110     4
Mazda RX4 Wag      21.0  2.875  110     4
Datsun 710         22.8  2.320   93     4
Hornet 4 Drive     21.4  3.215  110     3
Hornet Sportabout  18.7  3.440  175     3

In [22]:
X = df1[['wt','hp','gear']]
y = df1['mpg']
print(pd.concat([X.head(), y.head()], axis=1))

                      wt   hp  gear   mpg
Mazda RX4          2.620  110     4  21.0
Mazda RX4 Wag      2.875  110     4  21.0
Datsun 710         2.320   93     4  22.8
Hornet 4 Drive     3.215  110     3  21.4
Hornet Sportabout  3.440  175     3  18.7

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y , random_state=104,  test_size=0.25, shuffle=True)

In [24]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(24, 3) (24,)
(8, 3) (8,)

# Sampling
Population to Sample

In [25]:
df.sample(5)   #sample rows

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3

## Stratefied sampling
Proportionate stratified random sampling is a type of sampling in which the size of the random sample obtained from each stratum is proportionate to the size of the entire stratum's population
eg . picking up 30% of each gear type

In [26]:
mtc = data('mtcars')
mtc.shape

(32, 11)

In [27]:
mtc.groupby('gear').size()

gear
3    15
4    12
5     5
dtype: int64

In [28]:
mtc_s1 = mtc.groupby('gear', group_keys=False).apply(lambda x:x.sample(frac = .3))

group_keys parameter in groupby comes handy during apply operations that creates an additional index column corresponding to the grouped columns (group_keys=True) and eliminates in the case (group_keys=False) especially during the case when trying to perform operations on individual columns.

In [29]:
mtc_s1

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2

In [30]:
mtc_s1.groupby('gear').size()

gear
3    4
4    4
5    2
dtype: int64

In [31]:
print(pd.concat([mtc.groupby('gear').size().to_frame('original'), 
                 mtc_s1.groupby('gear').size().to_frame('sample')], axis=1))

      original  sample
gear
3           15       4
4           12       4
5            5       2

In [32]:
print(pd.concat([mtc['gear'].value_counts(normalize=True).round(2), 
                 mtc_s1['gear'].value_counts(normalize=True).round(2)], axis=1))

   gear  gear
3  0.47   0.4
4  0.38   0.4
5  0.16   0.2

Disproportionate stratified random sampling, on the other hand, involves randomly selecting strata without regard for proportion. In other words, sampling is done based on a specified number.
Applications
https://www.freecodecamp.org/news/what-is-stratified-random-sampling-definition-and-python-example/

In [33]:
mtc_s2 = mtc.groupby('gear', group_keys=False).apply(lambda x:x.sample(n = 2))

In [34]:
print(pd.concat([mtc.groupby('gear').size().to_frame('original'), 
                 mtc_s2.groupby('gear').size().to_frame('sample')], axis=1))

      original  sample
gear
3           15       2
4           12       2
5            5       2

In [35]:
print(pd.concat([mtc['gear'].value_counts(normalize=True).round(2), 
                 mtc_s2['gear'].value_counts(normalize=True).round(2)], axis=1))

   gear  gear
3  0.47  0.33
4  0.38  0.33
5  0.16  0.33

###  Imbalanced Dataset
An imbalanced dataset is a ML classification problem in which the two class labels in the target variable are not proportional to one another. In other words, one class has a higher count than the other, resulting in an imbalance.
No of persons having diabetes(1) and not having diabetes is different(0)
stratified sampling is also used to obtain the same sample proportion for a train and test set if there is an imbalance in the dataset.

In [36]:
dataLink = 'https://raw.githubusercontent.com/DUanalytics/datasets/master/csv/diabetes.csv'
kidney = pd.read_csv(dataLink)
print(kidney.shape)
print(kidney.columns)

(768, 9)
Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [37]:
kidney['Outcome'].value_counts(normalize=True)
#there are more non-diabetes(0) than diabetes (1)

0    0.651042
1    0.348958
Name: Outcome, dtype: float64

In [38]:
kidney.sample(frac=.4).Outcome.value_counts(normalize=True)
#everytime we run this line, different proportions

0    0.635179
1    0.364821
Name: Outcome, dtype: float64

we want to split the train and test set using simple random sampling. We won't achieve the same proportion for the train and test set as the population proportion.

In [39]:
from sklearn.model_selection import train_test_split
X = kidney.drop(columns = ["Outcome"])
y = kidney["Outcome"]
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

In [40]:
y_train.value_counts(normalize=True)

0    0.642361
1    0.357639
Name: Outcome, dtype: float64

In [41]:
y_test.value_counts(normalize=True)

0    0.677083
1    0.322917
Name: Outcome, dtype: float64

again not same in both train and test - outcome values
we have to use stratify=y, so ensure dataset was stratified on the label. So with that we will achieve the same proportion as the population proportion

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, stratify=y)

In [43]:
y_train.value_counts(normalize=True)

0    0.651042
1    0.348958
Name: Outcome, dtype: float64

In [44]:
y_test.value_counts(normalize=True)

0    0.651042
1    0.348958
Name: Outcome, dtype: float64

## End of Topic