In [ ]:
# Dates and Time in Python

In [2]:
import pandas as pd
import datetime as dt
import random
import numpy as np

In [3]:
#random numbers
random.randrange(5)

0

In [4]:
random.randrange(1,10)

7

In [5]:
random.randrange(50,100,3)

95

In [8]:
#pandas - pd.date_range with periods
datelist = pd.date_range(dt.datetime.today(), periods=100).tolist()
datelist[1:5]

[Timestamp('2023-03-19 17:58:25.940428', freq='D'),
 Timestamp('2023-03-20 17:58:25.940428', freq='D'),
 Timestamp('2023-03-21 17:58:25.940428', freq='D'),
 Timestamp('2023-03-22 17:58:25.940428', freq='D')]

In [12]:
start_dt = dt.date(2023, 1, 1)  #from datetime library
end_dt = dt.date(2023, 3, 31)
time_between_dates = end_dt - start_dt
print(start_dt, ' and ', end_dt, ':date difference:' ,time_between_dates)

2023-01-01  and  2023-03-31 :date difference: 89 days, 0:00:00

In [18]:
print('Days :', time_between_dates.days,' Month : ', np.around(time_between_dates.days/30))

Days : 89  Month :  3.0

In [20]:
#timedelta
random_number_of_days = random.randrange(days_between_dates)
random_date = start_dt + dt.timedelta(days=random_number_of_days)
print(random_number_of_days, 'after', start_dt, ' is \t', random_date)

4 after 2023-01-01  is 	 2023-01-05

In [21]:
datelist[1:5]

[Timestamp('2023-03-19 17:58:25.940428', freq='D'),
 Timestamp('2023-03-20 17:58:25.940428', freq='D'),
 Timestamp('2023-03-21 17:58:25.940428', freq='D'),
 Timestamp('2023-03-22 17:58:25.940428', freq='D')]

In [28]:
#pandas - pd.date_range with start and end
pdr1 = pd.date_range(start="2023-03-01", end="2023-04-01")
print(' 5 dates in the range with daily freq by default \n ', pdr1[1:5], ' \n Length ', len(pdr1))

 5 dates in the range with daily freq by default
  DatetimeIndex(['2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05'], dtype='datetime64[ns]', freq='D')
 Length  32

In [37]:
# String to Date : str p time
start = dt.datetime.strptime("18-03-2023", "%d-%m-%Y")
end = dt.datetime.strptime("30-05-2023", "%d-%m-%Y")
print('Start - ', start, ' : End : ', end)
date_generated = [start + dt.timedelta(days=x) for x in range(0, (end-start).days)]
print('Find Difference between the start and end and create dates (5 only listed here', range(0, (end - start).days), len(date_generated))

Start -  2023-03-18 00:00:00  : End :  2023-05-30 00:00:00
Find Difference between the start and end and create dates (5 only listed here range(0, 73) 73

In [35]:
date_generated[1:5]

[datetime.datetime(2023, 3, 19, 0, 0),
 datetime.datetime(2023, 3, 20, 0, 0),
 datetime.datetime(2023, 3, 21, 0, 0),
 datetime.datetime(2023, 3, 22, 0, 0)]

### learn more techniques to generate dates

In [13]:
import itertools
#dates = itertools.islice(date_generator(), 3)
date_generator = (dt.datetime.today() - dt.timedelta(days=i) for i in itertools.count())
date_generator
dates = itertools.islice(date_generator, 3)
print(list(dates))

[datetime.datetime(2023, 3, 15, 9, 59, 4, 359198), datetime.datetime(2023, 3, 14, 9, 59, 4, 359198), datetime.datetime(2023, 3, 13, 9, 59, 4, 359198)]

In [14]:
from dateutil import rrule
from datetime import datetime
list(rrule.rrule(rrule.DAILY,count=100,dtstart=datetime.now()))[1:5]

[datetime.datetime(2023, 3, 16, 9, 59, 4),
 datetime.datetime(2023, 3, 17, 9, 59, 4),
 datetime.datetime(2023, 3, 18, 9, 59, 4),
 datetime.datetime(2023, 3, 19, 9, 59, 4)]

In [15]:
# random dates
random.randint(1, 31)

15

In [16]:
dt.date(2023, 3,15)

datetime.date(2023, 3, 15)

In [17]:
random.randint
random_date = dt.date(2023, random.randint(1,12), random.randint(1,31) )
random_date

datetime.date(2023, 11, 3)

In [42]:
date_list = []
for _ in range(10):
    date = dt.date(2023, random.randint(1,12), random.randint(1,31))
    date_list.append(date)
date_list

[datetime.date(2023, 9, 4),
 datetime.date(2023, 3, 20),
 datetime.date(2023, 2, 7),
 datetime.date(2023, 10, 30),
 datetime.date(2023, 1, 29),
 datetime.date(2023, 3, 23),
 datetime.date(2023, 10, 19),
 datetime.date(2023, 4, 8),
 datetime.date(2023, 10, 9),
 datetime.date(2023, 10, 14)]

In [48]:
d1 = dt.datetime.strptime('1/1/2023 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = dt.datetime.strptime('1/3/2023 4:50 AM', '%m/%d/%Y %I:%M %p')
print(d1, d2)
#print(random_date(d1, d2))

2023-01-01 13:30:00 2023-01-03 04:50:00

In [52]:
#!pip install radar
#!pip install faker

In [53]:
import radar
radar.random_datetime(start='2023-01-01', stop='2023-03-31')

datetime.datetime(2023, 3, 28, 22, 48, 42)

In [73]:
#faker
from faker import Faker
fake = Faker()
fake.date_between(start_date='today', end_date='+30y')

datetime.date(2038, 10, 2)

In [74]:
fake.date_time_between(start_date='-30y', end_date='now')

datetime.datetime(2017, 6, 29, 1, 54, 5)

In [75]:
start_date = dt.datetime(2023,1,1)
end_date = dt.datetime(2023,3,31)
fake.date_between(start_date=start_date, end_date='+30y')

datetime.date(2048, 7, 27)

In [78]:
fake.date_between(start_date=start_date, end_date=end_date)

datetime.date(2023, 1, 24)

In [62]:
# Generate random datetime from datetime.datetime values
radar.random_datetime( start = dt.datetime(year=2023, month=1, day=1), stop = dt.datetime(year=2023, month=3, day=31))

datetime.datetime(2023, 2, 23, 21, 7, 2)

In [63]:
radar.random_datetime()

datetime.datetime(1988, 5, 25, 7, 23, 11)

In [71]:
# Initialize
start = '2023-01-01' # Specify start date
end = '2023-03-31' # Specify end date
n = 10 # Specify number of dates needed

# Get random dates
x = np.random.randint(low=pd.Timestamp(start).value, high= pd.Timestamp(end).value, size= n, dtype='int64')
print(x)
#int to date : 
random_dates = [pd.to_datetime((i/10**9)/(60*60)/24, unit='D').strftime('%Y-%m-%d')  for i in x]
print(random_dates)

[1674850076468118521 1674972867087937812 1675524742655282260
 1678172542091478913 1679679749881016266 1679065714498410497
 1673399889620914638 1675314580658933153 1679002103577324186
 1672947954309615881]
['2023-01-27', '2023-01-29', '2023-02-04', '2023-03-07', '2023-03-24', '2023-03-17', '2023-01-11', '2023-02-02', '2023-03-16', '2023-01-05']

In [96]:
#pandas dates

In [103]:
pd.to_datetime(["12-01-2023 10:00"], dayfirst=True)

DatetimeIndex(['2023-01-12 10:00:00'], dtype='datetime64[ns]', freq=None)

In [104]:
pd.to_datetime(["12-01-2023", "01-12-2023"], dayfirst=True)

DatetimeIndex(['2023-01-12', '2023-12-01'], dtype='datetime64[ns]', freq=None)

In [105]:
pd.to_datetime("2023/01/12", format="%Y/%m/%d")

Timestamp('2023-01-12 00:00:00')

In [107]:
pd.to_datetime(["12-01-2023", "01-12-2023"], dayfirst=True, format="%d-%m-%Y")

DatetimeIndex(['2023-01-12', '2023-12-01'], dtype='datetime64[ns]', freq=None)

In [109]:
pd.to_datetime(["14-01-2023", "01-14-2023"])

C:\Users\du\AppData\Local\Temp\ipykernel_22388\1726360744.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(["14-01-2023", "01-14-2023"])

DatetimeIndex(['2023-01-14', '2023-01-14'], dtype='datetime64[ns]', freq=None)

In [100]:
pd.to_datetime(["2023-01-04 10:00"], dayfirst=False)

DatetimeIndex(['2023-01-04 10:00:00'], dtype='datetime64[ns]', freq=None)

In [110]:
# origin
pd.to_datetime([1, 2, 3], unit="D", origin=pd.Timestamp("1960-01-01"))

DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)

In [111]:
pd.to_datetime([1, 2, 3], unit="D")

DatetimeIndex(['1970-01-02', '1970-01-03', '1970-01-04'], dtype='datetime64[ns]', freq=None)