# Date Time
Date in python is not a data type of its own, but we can import a module name dateime to work with dates as date objects
pandas also has library for maninpulating dates in python
https://www.programiz.com/python-programming/datetime
https://www.programiz.com/python-programming/datetime/strftime
https://www.dataquest.io/blog/python-datetime/
Pythonâ€™s datetime module provides functions that handle many complex functionalities involving the date and time. Import datetime class using a from datetime import datetime statement.
Use datetime.strftime(format) to convert a datetime object into a string as per the corresponding format.The format codes are standard directives for mentioning in which format you want to represent datetime. For example, the %d-%m-%Y %H:%M:%S codes convert date to dd-mm-yyyy hh:mm:ss format.![strftime_convert_datetime_to_string_format.webp](attachment:strftime_convert_datetime_to_string_format.webp)
Use strftime() function of a time module : Use this step if you want to convert a time object to string format. like, hours minutes seconds (hh:mm:ss). Use the time.strptime(string[, format]) function to convert a time object to a string format.

## library datetime

In [ ]:
import datetime
x = datetime.datetime.now()  #now time
print(x)

In [2]:
print(x.year)

2022

In [6]:
print(x.strftime('%A %B'))

Wednesday October

In [4]:
# explore other options of datetime

In [5]:
# Create Date
x = datetime.datetime(2022, 10, 26)
print(x)

2022-10-26 00:00:00

In [11]:
# add hour, min, sec
x = datetime.datetime(2022, 10, 26, 17, 10, 15, 0) #(Y, M, D), (H, M, S), zone
print(x)

2022-10-26 17:10:15

In [17]:
print(x.strftime('%d-%B-%Y %H:%M:%S %p  %x %X %w %W'))

26-October-2022 17:10:15 PM  10/26/22 17:10:15 3 43

### Formatting date output

%a  - weekday :  wed
%A  - weekday :  Wednesday
%w  - weekday :  3
%d  - day of month : 22
%b  - month    : Oct
%B  - month   : October
%m  - month   : 10
%y  - year    : 22
%Y  - year    : 2022
%H  - Hours(00-23) - 17
%I  - Hour(00-12) - 05
%p  - AM/PM   - PM
%M  - minute(00-59) : 10
%S  - second(00-59) : 15
%U  - weeknumber
%x - local version of date
%X - local version of time

## Pandas Date Time

In [19]:
import pandas as pd
import numpy as np
import datetime

In [47]:
df = pd.DataFrame({ 'classDate': ['01/12/2022','22/12/2022', '30/11/2022'], 'students' :[10,15,12]})
df

    classDate  students
0  01/12/2022        10
1  22/12/2022        15
2  30/11/2022        12

In [48]:
df.dtypes

classDate    object
students      int64
dtype: object

In [49]:
#convert to datetime
df['classDate'] = pd.to_datetime(df['classDate'], format='%d/%m/%Y') # format='%d%b%Y:%H:%M:%S.%f'
df.dtypes

classDate    datetime64[ns]
students              int64
dtype: object

In [50]:
#convert integer number to date
pd.to_datetime(19000, unit='D', origin='unix') #unit = days, start at 1970-01-01(unix)
#19000 days from reference point

Timestamp('2022-01-08 00:00:00')

In [43]:
# Duration TimeDelta Function
from datetime import datetime
date = datetime.now()
print(date)

2022-10-25 17:23:56.837840

In [44]:
print(date + pd.to_timedelta(1, unit='D'))  #one day after

2022-10-26 17:23:56.837840

In [45]:
print(date + pd.to_timedelta(1, unit='W')) #one week later

2022-11-01 17:23:56.837840

In [53]:
#display day first
df1 = pd.DataFrame({ 'classDate': ['01/12/2022','22/12/2022', '30/11/2022'], 'students' :[10,15,12]})
df1

    classDate  students
0  01/12/2022        10
1  22/12/2022        15
2  30/11/2022        12

In [54]:
df1['classDate'] = pd.to_datetime(df['classDate'], format='%d/%m/%Y', dayfirst=True) 
df.dtypes
df1

   classDate  students
0 2022-12-01        10
1 2022-12-22        15
2 2022-11-30        12

In [57]:
df1['year'] = df1['classDate'].dt.year
df1['month'] = df1['classDate'].dt.month
df1['day'] = df1['classDate'].dt.day
df1

   classDate  students  year  month  day
0 2022-12-01        10  2022     12    1
1 2022-12-22        15  2022     12   22
2 2022-11-30        12  2022     11   30

### Range of Dates

In [60]:
pd.date_range(start='01-11-2022', end='15-01-2023')

DatetimeIndex(['2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14',
               '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20',
               ...
               '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09',
               '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13',
               '2023-01-14', '2023-01-15'],
              dtype='datetime64[ns]', length=370, freq='D')

In [68]:
pd.date_range(start=datetime.today(), periods=10, freq='D')

DatetimeIndex(['2022-10-25 17:39:56.574817', '2022-10-26 17:39:56.574817',
               '2022-10-27 17:39:56.574817', '2022-10-28 17:39:56.574817',
               '2022-10-29 17:39:56.574817', '2022-10-30 17:39:56.574817',
               '2022-10-31 17:39:56.574817', '2022-11-01 17:39:56.574817',
               '2022-11-02 17:39:56.574817', '2022-11-03 17:39:56.574817'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Float to date
#!pip install pyxlsb
from pyxlsb import convert_date
value = 43111
#convert_date(value)
format(convert_date(value), '%m/%d/%Y')

In [1]:
## Data Time in Float
#"floating time" or a "floating date" is a time value that isn't tied to a specific time zone
import datetime
your_timestamp = 1659362740.5430346
date = datetime.datetime.fromtimestamp(your_timestamp)
print(date)

2022-08-01 19:35:40.543035

In [4]:
##date to a float in Python
from datetime import datetime
import time
dt = datetime.now()
timestamp = time.mktime(dt. timetuple()) + dt.microsecond/1e6
print(dt, "\t Float Value- ", timestamp)

2022-11-02 21:21:50.552309 	 Float Value-  1667404310.552309

In [5]:
## Create Date Series
import pandas as pd 
times = pd.date_range('2012-10-01', periods=10, freq='1D')
times

DatetimeIndex(['2012-10-01', '2012-10-02', '2012-10-03', '2012-10-04',
               '2012-10-05', '2012-10-06', '2012-10-07', '2012-10-08',
               '2012-10-09', '2012-10-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
## Date Time from Offset
dateoffset = 693594
import datetime, time
datetime.date.fromordinal(dateoffset + 43111)
#datetime.date(2018, 1, 11)

In [8]:
## change date format
from datetime import datetime
date_time_str = '02/11/22 01:55:19'
date_time_obj = datetime.strptime(date_time_str, '%d/%m/%y %H:%M:%S')
print (date_time_str, "The type of the date is now", date_time_obj, type(date_time_obj))

02/11/22 01:55:19 The type of the date is now 2022-11-02 01:55:19 <class 'datetime.datetime'>

In [ ]:
## Current Date and Time

In [10]:
import datetime
# using now() to get current time
current_time = datetime.datetime.now()
# Printing attributes of now().
print("The attributes of now() are :")
print("Year :", current_time.year)
print("Month : ", current_time.month)
print("Day : ", current_time.day)
print("Hour : ", current_time.hour)
print("Minute : ", current_time.minute)
print("Second :", current_time.second)
print("Microsecond :", current_time.microsecond)

The attributes of now() are :
Year : 2022
Month :  11
Day :  2
Hour :  21
Minute :  28
Second : 39
Microsecond : 249379

## Extract date values from datetime
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month

In [11]:
a='2022-11-01'
a.split('-')
year, month, date=a.split('-')
print(year, month, date)

2022 11 01

In [16]:
from datetime import datetime, date, time, timedelta, timezone
print('Now = ', datetime.now(), ' : Date -', datetime.now().date(), ' : Month- ', datetime.now().date().month)

Now =  2022-11-02 21:35:43.182825  : Date - 2022-11-02  : Month-  11

## Links
https://pynative.com/python-datetime-format-strftime/