# Data Import Export Excel
https://sparkbyexamples.com/pandas/pandas-write-to-excel-with-examples/
https://pythonbasics.org/write-excel/

In [12]:
import pandas as pd

In [1]:
#import data
from pydataset import data
data

In [4]:
iris = data('iris')
print(iris.describe(), '\n \n')
print(iris.head())

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000


   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [7]:
# save to Excel in same repository in data folder
import os
# Directory
directory = "data"
# Parent Directory path
parent_dir = "E:/analytics/projects/pyJupyter/"
path = os.path.join(parent_dir, directory)
print(path)
#os.mkdir(path):
try: 
    os.mkdir(path) 
except OSError as error: 
    print(error)

E:/analytics/projects/pyJupyter/data
[WinError 183] Cannot create a file when that file already exists: 'E:/analytics/projects/pyJupyter/data'

## Save to Excel
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html
DataFrame.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=_NoDefault.no_default, inf_rep='inf', verbose=_NoDefault.no_default, freeze_panes=None, storage_options=None)[source]

In [ ]:
iris.to_excel(os.path.join(parent_dir,'/data/','excelIRIS.xlsx'))

In [10]:
os.listdir(os.path.join(parent_dir,'/data'))  #check for files in the data director

['analytics',
 'au',
 'excelIRIS.xlsx',
 'misc',
 'phd',
 'pm',
 'students',
 'vimal.xlsx']

## Import from Excel
https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
pandas.read_excel(io, sheet_name=0, *, header=0, names=None, index_col=None, usecols=None, squeeze=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, decimal='.', comment=None, skipfooter=0, convert_float=None, mangle_dupe_cols=True, storage_options=None)[source]

In [15]:
irisExcelIn = pd.read_excel(io=os.path.join(parent_dir,'/data/','excelIRIS.xlsx'), sheet_name=0, index_col=0)
irisExcelIn.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa