# Tableau Prep Exercise
This is practise exercise of what Tableau Prep Builder does and how we can do it in Python
https://help.tableau.com/current/prep/en-us/prep_get_started.htm

In [151]:
## Links to Data
# Excel Data
returnReasons = 'https://mkt.tableau.com/PrepTutorials/return_reasons_new.xlsx'
ordersEast = 'https://mkt.tableau.com/PrepTutorials/Orders_East.xlsx' 
#  CSV Data
ordersCentral = 'https://mkt.tableau.com/PrepTutorials/Orders_Central.csv'
ordersWest = 'https://mkt.tableau.com/PrepTutorials/Orders_West.csv'

ordersSouth2015  = 'https://mkt.tableau.com/PrepTutorials/orders_south_2015.csv'
ordersSouth2016 = 'https://mkt.tableau.com/PrepTutorials/orders_south_2016.csv'
ordersSouth2017 = 'https://mkt.tableau.com/PrepTutorials/orders_south_2017.csv'
ordersSouth2018 = 'https://mkt.tableau.com/PrepTutorials/orders_south_2018.csv'
print('\n',returnReasons, '\n', ordersEast, '\n', ordersCentral, '\n', ordersWest, '\n',ordersSouth2015, '\n', ordersSouth2016, '\n', ordersSouth2017, '\n', ordersSouth2018)

 https://mkt.tableau.com/PrepTutorials/return_reasons_new.xlsx
 https://mkt.tableau.com/PrepTutorials/Orders_East.xlsx
 https://mkt.tableau.com/PrepTutorials/Orders_Central.csv
 https://mkt.tableau.com/PrepTutorials/Orders_West.csv
 https://mkt.tableau.com/PrepTutorials/orders_south_2015.csv
 https://mkt.tableau.com/PrepTutorials/orders_south_2016.csv
 https://mkt.tableau.com/PrepTutorials/orders_south_2017.csv
 https://mkt.tableau.com/PrepTutorials/orders_south_2018.csv

## Libraries

In [152]:
import numpy as np
import pandas as pd

## Read Data
pandas.read_excel(io, sheet_name=0, *, header=0, names=None, index_col=None, usecols=None, squeeze=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, decimal='.', comment=None, skipfooter=0, convert_float=None, mangle_dupe_cols=True, storage_options=None)[source]

https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

pandas.read_csv(filepath_or_buffer, *, sep=_NoDefault.no_default, delimiter=None, header='infer', names=_NoDefault.no_default, index_col=None, usecols=None, squeeze=None, prefix=_NoDefault.no_default, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None)
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [153]:
returnReasonsDF = pd.read_excel(returnReasons, sheet_name=0)
returnReasonsDF.shape

(275, 9)

In [154]:
ordersEastDF = pd.read_excel(ordersEast, sheet_name=0)
ordersEastDF.shape

(2846, 21)

In [155]:
ordersCentralDF = pd.read_csv(ordersCentral,  encoding='cp1252')
ordersCentralDF.shape

(2323, 24)

In [156]:
ordersWestDF = pd.read_csv(ordersWest, encoding='cp1252')
ordersWestDF.shape

(9553, 41)

In [157]:
ordersSouth2015DF = pd.read_csv(ordersSouth2015, encoding= 'unicode_escape')
ordersSouth2015DF.shape

(349, 21)

In [158]:
ordersSouth2016DF = pd.read_csv(ordersSouth2016,  encoding='cp1252')
ordersSouth2016DF.shape

(340, 21)

In [159]:
ordersSouth2017DF = pd.read_csv(ordersSouth2017, encoding='cp1252')
ordersSouth2017DF.shape

(413, 21)

In [160]:
ordersSouth2018DF = pd.read_csv(ordersSouth2018, encoding='cp1252')
ordersSouth2018DF.shape

(518, 21)

## orders
union of all ordersSouth 2015 to 2018

In [198]:
#union South Sales
orders = pd.concat([ordersSouth2015DF, ordersSouth2016DF, ordersSouth2017DF, ordersSouth2018DF])
print(orders.shape)
print(orders.head())

(1620, 21)
     Sales  Quantity    Profit  Discount Region           State  Row ID  \
0  503.960         4  131.0296       0.0  South       Louisiana     183
1  149.950         5   41.9860       0.0  South       Louisiana     184
2   29.000         2    7.2500       0.0  South       Louisiana     185
3   18.648         7  -12.4320       0.7  South  North Carolina     231
4  178.384         2   22.2980       0.2  South         Florida     315

         Order ID       Order Date        Ship Date  ... Customer ID  \
0  CA-2015-158274  11/19/2015 0:00  11/24/2015 0:00  ...    RM-19675
1  CA-2015-158274  11/19/2015 0:00  11/24/2015 0:00  ...    RM-19675
2  CA-2015-158274  11/19/2015 0:00  11/24/2015 0:00  ...    RM-19675
3  US-2015-156216   9/13/2015 0:00   9/17/2015 0:00  ...    EA-14035
4  CA-2015-167850    8/9/2015 0:00   8/16/2015 0:00  ...    AG-10525

   Customer Name      Segment        Country              City Postal Code  \
0  Robert Marley  Home Office  United States            Monroe       71203
1  Robert Marley  Home Office  United States            Monroe       71203
2  Robert Marley  Home Office  United States            Monroe       71203
3  Erin Ashbrook    Corporate  United States         Charlotte       28205
4   Andy Gerbode    Corporate  United States  Saint Petersburg       33710

        Product ID         Category Sub-Category  \
0  TEC-PH-10003273       Technology       Phones
1  TEC-PH-10004896       Technology       Phones
2  TEC-AC-10002345       Technology  Accessories
3  OFF-BI-10001679  Office Supplies      Binders
4  TEC-PH-10002398       Technology       Phones

                                   Product Name
0                                  AT&T TR1909W
1                    Nokia Lumia 521 (T-Mobile)
2             HP Standard 104 key PS/2 Keyboard
3  GBC Instant Index System for Binding Systems
4                        AT&T 1070 Corded Phone

[5 rows x 21 columns]

## OrdersWestDF
State field has abbreviations for state name
Fields starting with Right are duplicate and have to be removed
df = df[df.columns.drop(list(df.filter(regex='Test')))]
df.loc[:,~df.columns.str.contains('^test', case=False)]

In [164]:
ordersWestDF.filter(regex='Right').head()

,Right_Row ID,Right_Order Date,Right_Ship Date,Right_Ship Mode,Right_Customer ID,Right_Customer Name,Right_Segment,Right_Country,Right_City,Right_State2,Right_Postal Code,Right_Region,Right_Product ID,Right_Category,Right_Sub-Category,Right_Product Name,Right_Sales,Right_Quantity,Right_Discount,Right_Profit
0,3836,2015-04-08 00:00:00,2015-04-15 00:00:00,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,Arizona,85301,West,OFF-FA-10000611,Office Supplies,Fasteners,Binder Clips by OIC,2.368,2,0.2,0.8288
1,3836,2015-04-08 00:00:00,2015-04-15 00:00:00,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,Arizona,85301,West,OFF-FA-10000611,Office Supplies,Fasteners,Binder Clips by OIC,2.368,2,0.2,0.8288
2,3837,2015-04-08 00:00:00,2015-04-15 00:00:00,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,Arizona,85301,West,OFF-PA-10004733,Office Supplies,Paper,Things To Do Today Spiral Book,19.008,3,0.2,6.8904
3,3837,2015-04-08 00:00:00,2015-04-15 00:00:00,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,Arizona,85301,West,OFF-PA-10004733,Office Supplies,Paper,Things To Do Today Spiral Book,19.008,3,0.2,6.8904
4,4565,2015-12-09 00:00:00,2015-12-14 00:00:00,Standard Class,DM-12955,Dario Medina,Corporate,United States,Mesa,Arizona,85204,West,OFF-ST-10004950,Office Supplies,Storage,Acco Perma 3000 Stacking Storage Drawers,100.704,6,0.2,-1.2588

In [165]:
ordersWestDF1 = ordersWestDF[ordersWestDF.columns.drop(list(ordersWestDF.filter(regex='Right')))]

In [166]:
ordersWestDF1.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,State
0,3836,CA-2015-100363,2015-04-08 00:00:00,2015-04-15 00:00:00,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,...,West,OFF-FA-10000611,Office Supplies,Fasteners,Binder Clips by OIC,2.368,2,0.2,0.8288,AZ
1,3837,CA-2015-100363,2015-04-08 00:00:00,2015-04-15 00:00:00,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,...,West,OFF-PA-10004733,Office Supplies,Paper,Things To Do Today Spiral Book,19.008,3,0.2,6.8904,AZ
2,3836,CA-2015-100363,2015-04-08 00:00:00,2015-04-15 00:00:00,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,...,West,OFF-FA-10000611,Office Supplies,Fasteners,Binder Clips by OIC,2.368,2,0.2,0.8288,AZ
3,3837,CA-2015-100363,2015-04-08 00:00:00,2015-04-15 00:00:00,Standard Class,JM-15655,Jim Mitchum,Corporate,United States,Glendale,...,West,OFF-PA-10004733,Office Supplies,Paper,Things To Do Today Spiral Book,19.008,3,0.2,6.8904,AZ
4,4565,CA-2015-101175,2015-12-09 00:00:00,2015-12-14 00:00:00,Standard Class,DM-12955,Dario Medina,Corporate,United States,Mesa,...,West,OFF-ST-10004950,Office Supplies,Storage,Acco Perma 3000 Stacking Storage Drawers,100.704,6,0.2,-1.2588,AZ

## OrdersCentral
The order dates and ship dates are separated out into fields for month, day, and year. Combine day, month, year to date and then remove the day,month, year
(Order, Ship)
Some of the fields have different data types than the same fields in other files.
df[['col.name1', 'col.name2'...]] = df[['col.name1', 'col.name2'..]].astype('data_type')
There is no field for Region.
Drop Columns : DataFrame.drop(labels=None, *, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

In [167]:
ordersCentralDF.head()

,Row ID,Order ID,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,...,Sales,Quantity,Profit,Order Year,Order Month,Order Day,Ship Year,Ship Month,Ship Day,Discounts
0,15,US-2016-118983,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,...,68.810,5,-123.8580,2016,11,22,2016,11,26,0.8
1,16,US-2016-118983,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,...,2.544,3,-3.8160,2016,11,22,2016,11,26,0.8
2,17,CA-2015-105893,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,Wisconsin,53711,...,665.880,6,13.3176,2015,11,11,2015,11,18,None
3,22,CA-2017-137330,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025,...,19.460,7,5.0596,2017,12,9,2017,12,13,None
4,23,CA-2017-137330,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025,...,60.340,7,15.6884,2017,12,9,2017,12,13,None

In [168]:
dtColumns = ['Order Year', 'Order Month', 'Order Day', 'Ship Year', 'Ship Month', 'Ship Day']
ordersCentralDF.loc[:, dtColumns].head()

   Order Year  Order Month  Order Day  Ship Year  Ship Month  Ship Day
0        2016           11         22       2016          11        26
1        2016           11         22       2016          11        26
2        2015           11         11       2015          11        18
3        2017           12          9       2017          12        13
4        2017           12          9       2017          12        13

In [169]:
ordersCentralDF['Order Year'].astype(str) + ordersCentralDF['Order Month'].astype(str) + ordersCentralDF['Order Day'].astype(str)

0       20161122
1       20161122
2       20151111
3        2017129
4        2017129
          ...
2318     2016319
2319     2016319
2320     2017911
2321     2017922
2322     2017922
Length: 2323, dtype: object

In [170]:
from datetime import datetime
ordersCentralDF['Order Date'] = pd.DataFrame({"Datetime": [datetime(y,m,d) for y,m,d in zip(ordersCentralDF['Order Year'],ordersCentralDF['Order Month'],ordersCentralDF['Order Day'])]})
ordersCentralDF['Ship Date'] = pd.DataFrame({"Datetime": [datetime(y,m,d) for y,m,d in zip(ordersCentralDF['Ship Year'],ordersCentralDF['Ship Month'],ordersCentralDF['Ship Day'])]})
ordersCentralDF.drop

<bound method DataFrame.drop of       Row ID        Order ID       Ship Mode Customer ID     Customer Name  \
0         15  US-2016-118983  Standard Class    HP-14815     Harold Pawlan
1         16  US-2016-118983  Standard Class    HP-14815     Harold Pawlan
2         17  CA-2015-105893  Standard Class    PK-19075         Pete Kriz
3         22  CA-2017-137330  Standard Class    KB-16585         Ken Black
4         23  CA-2017-137330  Standard Class    KB-16585         Ken Black
...      ...             ...             ...         ...               ...
2318    9962  CA-2016-168088     First Class    CM-12655  Corinna Mitchell
2319    9963  CA-2016-168088     First Class    CM-12655  Corinna Mitchell
2320    9973  CA-2017-130225  Standard Class    RC-19960        Ryan Crowe
2321    9983  US-2017-157728  Standard Class    RC-19960        Ryan Crowe
2322    9984  US-2017-157728  Standard Class    RC-19960        Ryan Crowe

          Segment        Country          City      State  Postal Code  ...  \
0     Home Office  United States    Fort Worth      Texas        76106  ...
1     Home Office  United States    Fort Worth      Texas        76106  ...
2        Consumer  United States       Madison  Wisconsin        53711  ...
3       Corporate  United States       Fremont   Nebraska        68025  ...
4       Corporate  United States       Fremont   Nebraska        68025  ...
...           ...            ...           ...        ...          ...  ...
2318  Home Office  United States       Houston      Texas        77041  ...
2319  Home Office  United States       Houston      Texas        77041  ...
2320     Consumer  United States       Houston      Texas        77041  ...
2321     Consumer  United States  Grand Rapids   Michigan        49505  ...
2322     Consumer  United States  Grand Rapids   Michigan        49505  ...

        Profit Order Year Order Month Order Day  Ship Year  Ship Month  \
0    -123.8580       2016          11        22       2016          11
1      -3.8160       2016          11        22       2016          11
2      13.3176       2015          11        11       2015          11
3       5.0596       2017          12         9       2017          12
4      15.6884       2017          12         9       2017          12
...        ...        ...         ...       ...        ...         ...
2318   23.7742       2016           3        19       2016           3
2319  -67.6704       2016           3        19       2016           3
2320   33.6042       2017           9        11       2017           9
2321   16.7132       2017           9        22       2017           9
2322   27.4344       2017           9        22       2017           9

      Ship Day  Discounts  Order Date  Ship Date
0           26        0.8  2016-11-22 2016-11-26
1           26        0.8  2016-11-22 2016-11-26
2           18       None  2015-11-11 2015-11-18
3           13       None  2017-12-09 2017-12-13
4           13       None  2017-12-09 2017-12-13
...        ...        ...         ...        ...
2318        22        0.2  2016-03-19 2016-03-22
2319        22       0.32  2016-03-19 2016-03-22
2320        17        0.2  2017-09-11 2017-09-17
2321        28       None  2017-09-22 2017-09-28
2322        28       None  2017-09-22 2017-09-28

[2323 rows x 26 columns]>

In [171]:
ordersCentralDF.head()

,Row ID,Order ID,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,...,Profit,Order Year,Order Month,Order Day,Ship Year,Ship Month,Ship Day,Discounts,Order Date,Ship Date
0,15,US-2016-118983,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,...,-123.8580,2016,11,22,2016,11,26,0.8,2016-11-22,2016-11-26
1,16,US-2016-118983,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,...,-3.8160,2016,11,22,2016,11,26,0.8,2016-11-22,2016-11-26
2,17,CA-2015-105893,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,Wisconsin,53711,...,13.3176,2015,11,11,2015,11,18,None,2015-11-11,2015-11-18
3,22,CA-2017-137330,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025,...,5.0596,2017,12,9,2017,12,13,None,2017-12-09,2017-12-13
4,23,CA-2017-137330,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,Nebraska,68025,...,15.6884,2017,12,9,2017,12,13,None,2017-12-09,2017-12-13

In [172]:
ordersCentralDF.drop(columns=dtColumns, inplace=True)

In [173]:
ordersCentralDF.columns

Index(['Row ID', 'Order ID', 'Ship Mode', 'Customer ID', 'Customer Name',
       'Segment', 'Country', 'City', 'State', 'Postal Code', 'Product ID',
       'Category', 'Sub-Category', 'Product', 'Sales', 'Quantity', 'Profit',
       'Discounts', 'Order Date', 'Ship Date'],
      dtype='object')

In [174]:
# Discounts
ordersCentralDF.Discounts

0        0.8
1        0.8
2       None
3       None
4       None
        ...
2318     0.2
2319    0.32
2320     0.2
2321    None
2322    None
Name: Discounts, Length: 2323, dtype: object

In [175]:
ordersCentralDF.dtypes

Row ID                    int64
Order ID                 object
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Product ID               object
Category                 object
Sub-Category             object
Product                  object
Sales                   float64
Quantity                  int64
Profit                  float64
Discounts                object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
dtype: object

In [176]:
ordersCentralDF.loc[ordersCentralDF['Discounts'] == "None", 'Discounts'] = None

In [177]:
ordersCentralDF[['Discounts']] = ordersCentralDF[['Discounts']].astype('float32')

In [178]:
ordersCentralDF.dtypes

Row ID                    int64
Order ID                 object
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Product ID               object
Category                 object
Sub-Category             object
Product                  object
Sales                   float64
Quantity                  int64
Profit                  float64
Discounts               float32
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
dtype: object

## OrdersEast
Looking at the Sales field you quickly see that the USD currency code has been included with the sales numbers, and Tableau Prep interpreted these field values as a string.
Youll need to remove the currency code from this field and change the data type if you want to get accurate sales data.

In [180]:
ordersEastDF.head()

,Category,City,Country,Customer ID,Customer Name,Discount,Order Date,Order ID,Postal Code,Product ID,...,Profit,Quantity,Region,Row ID,Segment,Ship Date,Ship Mode,State,Sub-Category,Sales
0,Furniture,Philadelphia,United States,SF-20065,Sandra Flanagan,0.3,2018-07-16,US-2018-156909,19140.0,FUR-CH-10002774,...,-1.0196,2.0,East,24.0,Consumer,2018-07-18,Second Class,Pennsylvania,Chairs,USD71.37
1,Office Supplies,Philadelphia,United States,TB-21520,Tracy Blumstein,0.7,2016-09-17,US-2016-150630,19140.0,OFF-BI-10000474,...,-7.0532,2.0,East,29.0,Consumer,2016-09-21,Standard Class,Pennsylvania,Binders,USD9.61
2,Office Supplies,Philadelphia,United States,TB-21520,Tracy Blumstein,0.7,2016-09-17,US-2016-150630,19140.0,OFF-BI-10001525,...,-5.7150,6.0,East,33.0,Consumer,2016-09-21,Standard Class,Pennsylvania,Binders,USD6.85
3,Office Supplies,Philadelphia,United States,FH-14365,Fred Hopkins,0.7,2018-07-06,US-2018-124303,19120.0,OFF-BI-10000343,...,-2.2586,2.0,East,199.0,Corporate,2018-07-13,Standard Class,Pennsylvania,Binders,USD2.94
4,Technology,Medina,United States,VW-21775,Victoria Wilson,0.7,2016-01-02,CA-2016-146262,44256.0,TEC-MA-10000864,...,-950.4000,9.0,East,216.0,Corporate,2016-01-09,Standard Class,Ohio,Machines,USD1188

In [181]:
ordersEastDF['Sales'] = ordersEastDF['Sales'].str.replace(r'[^\d.]+', '')

C:\Users\du\AppData\Local\Temp\ipykernel_17456\3758016878.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  ordersEastDF['Sales'] = ordersEastDF['Sales'].str.replace(r'[^\d.]+', '')

In [182]:
ordersEastDF.head()

,Category,City,Country,Customer ID,Customer Name,Discount,Order Date,Order ID,Postal Code,Product ID,...,Profit,Quantity,Region,Row ID,Segment,Ship Date,Ship Mode,State,Sub-Category,Sales
0,Furniture,Philadelphia,United States,SF-20065,Sandra Flanagan,0.3,2018-07-16,US-2018-156909,19140.0,FUR-CH-10002774,...,-1.0196,2.0,East,24.0,Consumer,2018-07-18,Second Class,Pennsylvania,Chairs,71.37
1,Office Supplies,Philadelphia,United States,TB-21520,Tracy Blumstein,0.7,2016-09-17,US-2016-150630,19140.0,OFF-BI-10000474,...,-7.0532,2.0,East,29.0,Consumer,2016-09-21,Standard Class,Pennsylvania,Binders,9.61
2,Office Supplies,Philadelphia,United States,TB-21520,Tracy Blumstein,0.7,2016-09-17,US-2016-150630,19140.0,OFF-BI-10001525,...,-5.7150,6.0,East,33.0,Consumer,2016-09-21,Standard Class,Pennsylvania,Binders,6.85
3,Office Supplies,Philadelphia,United States,FH-14365,Fred Hopkins,0.7,2018-07-06,US-2018-124303,19120.0,OFF-BI-10000343,...,-2.2586,2.0,East,199.0,Corporate,2018-07-13,Standard Class,Pennsylvania,Binders,2.94
4,Technology,Medina,United States,VW-21775,Victoria Wilson,0.7,2016-01-02,CA-2016-146262,44256.0,TEC-MA-10000864,...,-950.4000,9.0,East,216.0,Corporate,2016-01-09,Standard Class,Ohio,Machines,1188

In [183]:
ordersEastDF['Sales'] = ordersEastDF['Sales'].astype('float32')

## OrdersWest
States field used abbreviations for the values instead of spelling out the state name. To combine this file with the other files, you'll need to fix this
AZ	Arizona
CA	California
CO	Colorado
ID	Idaho
MT	Montana
NM	New Mexico
NV	Nevada
OR	Oregon
UT	Utah
WA	Washington
WY	Wyoming

In [184]:
ordersWestDF.State.value_counts()

CA    5871
WA    1456
AZ     706
CO     660
OR     420
UT     183
NM      87
NV      85
ID      47
MT      37
WY       1
Name: State, dtype: int64

In [185]:
SID = {'AZ': "Arizona", 'CA': "California", 'CO':'Colorado', 'ID':'Idaho', 'MT':'Montana', 'NM':'New Mexico', 'NV':'Nevada', 'OR':'Oregon', 'UT':'Utah', 'WA':'Washington', 'WY':'Wyoming' }
ordersWestDF['State'] = ordersWestDF['State'].map(SID).fillna(ordersWestDF['State'])

In [186]:
ordersWestDF.State.value_counts()

California    5871
Washington    1456
Arizona        706
Colorado       660
Oregon         420
Utah           183
New Mexico      87
Nevada          85
Idaho           47
Montana         37
Wyoming          1
Name: State, dtype: int64

In [187]:
## Combine data

### Union

### Join

In [188]:
orders.columns

Index(['Sales', 'Quantity', 'Profit', 'Discount', 'Region', 'State', 'Row ID',
       'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'Postal Code',
       'Product ID', 'Category', 'Sub-Category', 'Product Name'],
      dtype='object')

In [189]:
ordersCentralDF.columns

Index(['Row ID', 'Order ID', 'Ship Mode', 'Customer ID', 'Customer Name',
       'Segment', 'Country', 'City', 'State', 'Postal Code', 'Product ID',
       'Category', 'Sub-Category', 'Product', 'Sales', 'Quantity', 'Profit',
       'Discounts', 'Order Date', 'Ship Date'],
      dtype='object')

In [191]:
ordersWestDF1.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'State'],
      dtype='object')

In [192]:
ordersEastDF.columns

Index(['Category', 'City', 'Country', 'Customer ID', 'Customer Name',
       'Discount', 'Order Date', 'Order ID', 'Postal Code', 'Product ID',
       'Product Name', 'Profit', 'Quantity', 'Region', 'Row ID', 'Segment',
       'Ship Date', 'Ship Mode', 'State', 'Sub-Category', 'Sales'],
      dtype='object')

In [194]:
ordersCentralDF = ordersCentralDF.reindex(orders.columns, axis=1)

In [195]:
ordersWestDF1 = ordersWestDF1.reindex(orders.columns, axis=1)

In [196]:
ordersEastDF = ordersEastDF.reindex(orders.columns, axis=1)

## orders2
union of orders, ordersCentralDF, ordersWestDF1, ordersEast

In [218]:
orders.columns.values.tolist()
#print(ordersCentralDF.columns)
#print(ordersWestDF1.columns)
pd.DataFrame({'orders': orders.columns.values.tolist(), 'ordersCentralDF': ordersCentralDF.columns.values.tolist(), 'ordersWestDF1': ordersWestDF1.columns.values.tolist(), 'ordersEastDF': ordersEastDF.columns.values.tolist()}).head()

     orders ordersCentralDF ordersWestDF1 ordersEastDF
0     Sales           Sales         Sales        Sales
1  Quantity        Quantity      Quantity     Quantity
2    Profit          Profit        Profit       Profit
3  Discount        Discount      Discount     Discount
4    Region          Region        Region       Region

In [219]:
orders2 = pd.concat([orders, ordersCentralDF, ordersWestDF1, ordersEastDF])
print(orders2.shape)

(16342, 21)
     Sales  Quantity    Profit  Discount Region           State  Row ID  \
0  503.960       4.0  131.0296       0.0  South       Louisiana   183.0
1  149.950       5.0   41.9860       0.0  South       Louisiana   184.0
2   29.000       2.0    7.2500       0.0  South       Louisiana   185.0
3   18.648       7.0  -12.4320       0.7  South  North Carolina   231.0
4  178.384       2.0   22.2980       0.2  South         Florida   315.0

         Order ID       Order Date        Ship Date  ... Customer ID  \
0  CA-2015-158274  11/19/2015 0:00  11/24/2015 0:00  ...    RM-19675
1  CA-2015-158274  11/19/2015 0:00  11/24/2015 0:00  ...    RM-19675
2  CA-2015-158274  11/19/2015 0:00  11/24/2015 0:00  ...    RM-19675
3  US-2015-156216   9/13/2015 0:00   9/17/2015 0:00  ...    EA-14035
4  CA-2015-167850    8/9/2015 0:00   8/16/2015 0:00  ...    AG-10525

   Customer Name      Segment        Country              City Postal Code  \
0  Robert Marley  Home Office  United States            Monroe     71203.0
1  Robert Marley  Home Office  United States            Monroe     71203.0
2  Robert Marley  Home Office  United States            Monroe     71203.0
3  Erin Ashbrook    Corporate  United States         Charlotte     28205.0
4   Andy Gerbode    Corporate  United States  Saint Petersburg     33710.0

        Product ID         Category Sub-Category  \
0  TEC-PH-10003273       Technology       Phones
1  TEC-PH-10004896       Technology       Phones
2  TEC-AC-10002345       Technology  Accessories
3  OFF-BI-10001679  Office Supplies      Binders
4  TEC-PH-10002398       Technology       Phones

                                   Product Name
0                                  AT&T TR1909W
1                    Nokia Lumia 521 (T-Mobile)
2             HP Standard 104 key PS/2 Keyboard
3  GBC Instant Index System for Binding Systems
4                        AT&T 1070 Corded Phone

[5 rows x 21 columns]

In [220]:
orders2.head()

,Sales,Quantity,Profit,Discount,Region,State,Row ID,Order ID,Order Date,Ship Date,...,Customer ID,Customer Name,Segment,Country,City,Postal Code,Product ID,Category,Sub-Category,Product Name
0,503.960,4.0,131.0296,0.0,South,Louisiana,183.0,CA-2015-158274,11/19/2015 0:00,11/24/2015 0:00,...,RM-19675,Robert Marley,Home Office,United States,Monroe,71203.0,TEC-PH-10003273,Technology,Phones,AT&T TR1909W
1,149.950,5.0,41.9860,0.0,South,Louisiana,184.0,CA-2015-158274,11/19/2015 0:00,11/24/2015 0:00,...,RM-19675,Robert Marley,Home Office,United States,Monroe,71203.0,TEC-PH-10004896,Technology,Phones,Nokia Lumia 521 (T-Mobile)
2,29.000,2.0,7.2500,0.0,South,Louisiana,185.0,CA-2015-158274,11/19/2015 0:00,11/24/2015 0:00,...,RM-19675,Robert Marley,Home Office,United States,Monroe,71203.0,TEC-AC-10002345,Technology,Accessories,HP Standard 104 key PS/2 Keyboard
3,18.648,7.0,-12.4320,0.7,South,North Carolina,231.0,US-2015-156216,9/13/2015 0:00,9/17/2015 0:00,...,EA-14035,Erin Ashbrook,Corporate,United States,Charlotte,28205.0,OFF-BI-10001679,Office Supplies,Binders,GBC Instant Index System for Binding Systems
4,178.384,2.0,22.2980,0.2,South,Florida,315.0,CA-2015-167850,8/9/2015 0:00,8/16/2015 0:00,...,AG-10525,Andy Gerbode,Corporate,United States,Saint Petersburg,33710.0,TEC-PH-10002398,Technology,Phones,AT&T 1070 Corded Phone

## returnsDF
keep only 4 columns : Order ID, Product ID, Return Reason and Notes fields

Trim df = df.replace(r"^ +| +$", r"", regex=True)

In [326]:
returnReasonsDF = pd.read_excel(returnReasons, sheet_name=0)
returnReasonsDF.shape
RR = returnReasonsDF.copy()

In [327]:
returnReasonsDF.head()

,Row ID,Order Date,Order ID,Product ID,Sub-Category,Manufacturer,Product Name,Return Reason,Notes
0,9825,"August 15, 2014",US-2015-164406,OFF-BI-10002309,Binders,Avery,Avery Heavy-Duty EZD Binder With Locking Rings,Defective,One ring won't close - E Williams
1,1973,"December 14, 2014",CA-2015-148950,OFF-BI-10001249,Binders,Avery,Avery Heavy-Duty EZD View Binder with Locking ...,Defective,not all rings locked -C Arnold
2,436,"December 19, 2014",US-2015-150574,TEC-AC-10002600,Accessories,Belkin,Belkin QODE FastFit Bluetooth Keyboard,Defective,keyboard didn't connect to computer - L Jenkins
3,5738,"January 20, 2014",CA-2015-148614,FUR-FU-10003194,Furnishings,Eldon,"Eldon Expressions Desk Accessory, Wood Pencil ...",Defective,pencil holder was cracked on delivery - L. Jen...
4,4399,"July 7, 2014",US-2015-138758,FUR-FU-10003039,Furnishings,Howard Miller,"Howard Miller 11-1/2"" Diameter Grantwood Wall ...",Defective,NaN

In [328]:
# remove Spaces - Trim
returnReasonsDF['Notes'] = returnReasonsDF.Notes.str.strip()

In [329]:
returnReasonsDF.head()

,Row ID,Order Date,Order ID,Product ID,Sub-Category,Manufacturer,Product Name,Return Reason,Notes
0,9825,"August 15, 2014",US-2015-164406,OFF-BI-10002309,Binders,Avery,Avery Heavy-Duty EZD Binder With Locking Rings,Defective,One ring won't close - E Williams
1,1973,"December 14, 2014",CA-2015-148950,OFF-BI-10001249,Binders,Avery,Avery Heavy-Duty EZD View Binder with Locking ...,Defective,not all rings locked -C Arnold
2,436,"December 19, 2014",US-2015-150574,TEC-AC-10002600,Accessories,Belkin,Belkin QODE FastFit Bluetooth Keyboard,Defective,keyboard didn't connect to computer - L Jenkins
3,5738,"January 20, 2014",CA-2015-148614,FUR-FU-10003194,Furnishings,Eldon,"Eldon Expressions Desk Accessory, Wood Pencil ...",Defective,pencil holder was cracked on delivery - L. Jen...
4,4399,"July 7, 2014",US-2015-138758,FUR-FU-10003039,Furnishings,Howard Miller,"Howard Miller 11-1/2"" Diameter Grantwood Wall ...",Defective,NaN

In [330]:
# Split string column into two new columns
returnReasonsDF[['Return Notes', 'Approver']] = returnReasonsDF.Notes.str.split("-", expand = True)

In [331]:
returnReasonsDF.head()

,Row ID,Order Date,Order ID,Product ID,Sub-Category,Manufacturer,Product Name,Return Reason,Notes,Return Notes,Approver
0,9825,"August 15, 2014",US-2015-164406,OFF-BI-10002309,Binders,Avery,Avery Heavy-Duty EZD Binder With Locking Rings,Defective,One ring won't close - E Williams,One ring won't close,E Williams
1,1973,"December 14, 2014",CA-2015-148950,OFF-BI-10001249,Binders,Avery,Avery Heavy-Duty EZD View Binder with Locking ...,Defective,not all rings locked -C Arnold,not all rings locked,C Arnold
2,436,"December 19, 2014",US-2015-150574,TEC-AC-10002600,Accessories,Belkin,Belkin QODE FastFit Bluetooth Keyboard,Defective,keyboard didn't connect to computer - L Jenkins,keyboard didn't connect to computer,L Jenkins
3,5738,"January 20, 2014",CA-2015-148614,FUR-FU-10003194,Furnishings,Eldon,"Eldon Expressions Desk Accessory, Wood Pencil ...",Defective,pencil holder was cracked on delivery - L. Jen...,pencil holder was cracked on delivery,L. Jenkins
4,4399,"July 7, 2014",US-2015-138758,FUR-FU-10003039,Furnishings,Howard Miller,"Howard Miller 11-1/2"" Diameter Grantwood Wall ...",Defective,NaN,NaN,NaN

In [332]:
returnReasonsDF.drop(columns = ['Row ID', 'Order Date', 'Sub-Category', 'Manufacturer', 'Product Name', 'Notes'], inplace=True)

In [333]:
returnReasonsDF.head()

,Order ID,Product ID,Return Reason,Return Notes,Approver
0,US-2015-164406,OFF-BI-10002309,Defective,One ring won't close,E Williams
1,CA-2015-148950,OFF-BI-10001249,Defective,not all rings locked,C Arnold
2,US-2015-150574,TEC-AC-10002600,Defective,keyboard didn't connect to computer,L Jenkins
3,CA-2015-148614,FUR-FU-10003194,Defective,pencil holder was cracked on delivery,L. Jenkins
4,US-2015-138758,FUR-FU-10003039,Defective,NaN,NaN

In [334]:
returnReasonsDF['Approver'] = returnReasonsDF.Approver.str.strip()

In [335]:
returnReasonsDF.Approver.value_counts()

L Jenkins       18
S Kelly         18
R Chen          12
M Gomez         12
C Arnold        11
F Azad          10
E Williams       9
L Smith          9
G Lindsay        7
R Duchesne       7
K Lawrence       6
F. Azad          5
S. Kelly         5
L. Jenkins       3
R. Duchesne      3
R. Chen          3
G. Lindsay       2
M. Gomez         2
E   Williams     2
C ARNOLD         1
EWilliams        1
s kelly          1
f azad           1
L. Smith         1
C  Arnold        1
c arnold         1
C.. Arnold       1
M/ Gomez         1
E Wi lliams      1
c. arnold        1
C/ Arnold        1
K. Lawrence      1
Name: Approver, dtype: int64

lst = ['Beer','Alcohol','Beverage','Drink']
pat = r"\b(?:{})\b".format('|'.join(lst))

df = df.replace(pat, 'Drink', regexp=True)

In [336]:
#returnReasonsDF = RR.copy()
returnReasonsDF

,Order ID,Product ID,Return Reason,Return Notes,Approver
0,US-2015-164406,OFF-BI-10002309,Defective,One ring won't close,E Williams
1,CA-2015-148950,OFF-BI-10001249,Defective,not all rings locked,C Arnold
2,US-2015-150574,TEC-AC-10002600,Defective,keyboard didn't connect to computer,L Jenkins
3,CA-2015-148614,FUR-FU-10003194,Defective,pencil holder was cracked on delivery,L. Jenkins
4,US-2015-138758,FUR-FU-10003039,Defective,NaN,NaN
...,...,...,...,...,...
270,CA-2015-160766,OFF-EN-10001099,Product Listed Incorrectly,NaN,NaN
271,CA-2016-143490,TEC-PH-10000576,Product Listed Incorrectly,Website listed cord as 6' and item cord is 5',G Lindsay
272,CA-2016-146486,TEC-AC-10002018,Product Listed Incorrectly,Desc. Listed mouse as rechargable; actual prod...,F Azad
273,CA-2018-101700,OFF-EN-10003134,Product Listed Incorrectly,NaN,NaN
274,CA-2018-166093,OFF-EN-10003134,Product Listed Incorrectly,NaN,NaN

In [337]:
returnReasonsDF.Approver.value_counts()

L Jenkins       18
S Kelly         18
R Chen          12
M Gomez         12
C Arnold        11
F Azad          10
E Williams       9
L Smith          9
G Lindsay        7
R Duchesne       7
K Lawrence       6
F. Azad          5
S. Kelly         5
L. Jenkins       3
R. Duchesne      3
R. Chen          3
G. Lindsay       2
M. Gomez         2
E   Williams     2
C ARNOLD         1
EWilliams        1
s kelly          1
f azad           1
L. Smith         1
C  Arnold        1
c arnold         1
C.. Arnold       1
M/ Gomez         1
E Wi lliams      1
c. arnold        1
C/ Arnold        1
K. Lawrence      1
Name: Approver, dtype: int64

In [343]:
arnold = ['C Arnold', 'C ARNOLD', 'C  Arnold', 'c arnold', 'C.. Arnold', 'c. arnold', 'C/ Arnold' ]
jenkins = ['L Jenkins', 'L. Jenkins']  #'Jenkins'
kelly = ['S Kelly', 'S. Kelly', 's kelly']
gomez = ['M Gomez', 'M. Gomez', 'M/ Gomez']
williams = ['E Williams', 'E   Williams', 'EWilliams', 'E Wi lliams']
azad = ['F Azad', 'F. Azad', 'f azad']
chen = ['R Chen', 'R. Chen']
smith = ['L Smith', 'L. Smith']
lawrence = ['K Lawrence', 'K. Lawrence']
lindsay = ['G Lindsay', 'G. Lindsay']
duchesne = ['R Duchesne', 'R. Duchesne']
returnReasonsDF.Approver.replace(arnold ,'Arnold', inplace=True)
returnReasonsDF.Approver.replace(jenkins ,'Jenkins', inplace=True)
returnReasonsDF.Approver.replace(kelly ,'Kelly', inplace=True)
returnReasonsDF.Approver.replace(gomez ,'Gomez', inplace=True)
returnReasonsDF.Approver.replace(williams ,'Williams', inplace=True)
returnReasonsDF.Approver.replace(azad ,'Azad', inplace=True)
returnReasonsDF.Approver.replace(chen ,'Chen', inplace=True)
returnReasonsDF.Approver.replace(smith ,'Smith', inplace=True)
returnReasonsDF.Approver.replace(lawrence ,'Lawrence', inplace=True)
returnReasonsDF.Approver.replace(lindsay ,'Lindsay', inplace=True)
returnReasonsDF.Approver.replace(duchesne ,'Duchesne', inplace=True)

In [344]:
returnReasonsDF.Approver.value_counts()

Kelly       24
Jenkins     21
Arnold      17
Azad        16
Gomez       15
Chen        15
Williams    13
Smith       10
Duchesne    10
Lindsay      9
Lawrence     7
Name: Approver, dtype: int64

## Merge 2 DFs

In [345]:
print(orders2.columns)
print(returnReasonsDF.columns)

Index(['Sales', 'Quantity', 'Profit', 'Discount', 'Region', 'State', 'Row ID',
       'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'Postal Code',
       'Product ID', 'Category', 'Sub-Category', 'Product Name'],
      dtype='object')
Index(['Order ID', 'Product ID', 'Return Reason', 'Return Notes', 'Approver'], dtype='object')

In [352]:
orders2.loc[:, ['Product ID', 'Order ID']].head()

        Product ID        Order ID
0  TEC-PH-10003273  CA-2015-158274
1  TEC-PH-10004896  CA-2015-158274
2  TEC-AC-10002345  CA-2015-158274
3  OFF-BI-10001679  US-2015-156216
4  TEC-PH-10002398  CA-2015-167850

In [353]:
returnReasonsDF.loc[:, ['Product ID', 'Order ID']].head()

        Product ID        Order ID
0  OFF-BI-10002309  US-2015-164406
1  OFF-BI-10001249  CA-2015-148950
2  TEC-AC-10002600  US-2015-150574
3  FUR-FU-10003194  CA-2015-148614
4  FUR-FU-10003039  US-2015-138758

In [354]:
mergeDF = pd.merge(orders2, returnReasonsDF, how='left', left_on=['Product ID', 'Order ID'], right_on = ['Product ID', 'Order ID'])

In [355]:
mergeDF.shape

(16342, 24)

In [356]:
mergeDF.columns

Index(['Sales', 'Quantity', 'Profit', 'Discount', 'Region', 'State', 'Row ID',
       'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'Postal Code',
       'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Return Reason', 'Return Notes', 'Approver'],
      dtype='object')

In [359]:
## if Return Reasons is NULL then Yes otherwise NO
#mergeDF['returnReasonsYN'] = mergeDF
mergeDF.isna().sum()

Sales               40
Quantity            40
Profit              40
Discount          2363
Region            2363
State               40
Row ID              40
Order ID            40
Order Date          40
Ship Date           40
Ship Mode           40
Customer ID         40
Customer Name       40
Segment             40
Country             40
City                40
Postal Code         51
Product ID          40
Category            40
Sub-Category        40
Product Name      2363
Return Reason    15721
Return Notes     15993
Approver         15994
dtype: int64

In [362]:
#mergeDF['Return Reason'].isnull()
mergeDF['Return Reason'].isna()

0        True
1        True
2        True
3        True
4        True
         ...
16337    True
16338    True
16339    True
16340    True
16341    True
Name: Return Reason, Length: 16342, dtype: bool

In [363]:
mergeDF.loc[mergeDF['Return Reason'].isna()]

,Sales,Quantity,Profit,Discount,Region,State,Row ID,Order ID,Order Date,Ship Date,...,Country,City,Postal Code,Product ID,Category,Sub-Category,Product Name,Return Reason,Return Notes,Approver
0,503.960000,4.0,131.0296,0.0,South,Louisiana,183.0,CA-2015-158274,11/19/2015 0:00,11/24/2015 0:00,...,United States,Monroe,71203.0,TEC-PH-10003273,Technology,Phones,AT&T TR1909W,NaN,NaN,NaN
1,149.950000,5.0,41.9860,0.0,South,Louisiana,184.0,CA-2015-158274,11/19/2015 0:00,11/24/2015 0:00,...,United States,Monroe,71203.0,TEC-PH-10004896,Technology,Phones,Nokia Lumia 521 (T-Mobile),NaN,NaN,NaN
2,29.000000,2.0,7.2500,0.0,South,Louisiana,185.0,CA-2015-158274,11/19/2015 0:00,11/24/2015 0:00,...,United States,Monroe,71203.0,TEC-AC-10002345,Technology,Accessories,HP Standard 104 key PS/2 Keyboard,NaN,NaN,NaN
3,18.648000,7.0,-12.4320,0.7,South,North Carolina,231.0,US-2015-156216,9/13/2015 0:00,9/17/2015 0:00,...,United States,Charlotte,28205.0,OFF-BI-10001679,Office Supplies,Binders,GBC Instant Index System for Binding Systems,NaN,NaN,NaN
4,178.384000,2.0,22.2980,0.2,South,Florida,315.0,CA-2015-167850,8/9/2015 0:00,8/16/2015 0:00,...,United States,Saint Petersburg,33710.0,TEC-PH-10002398,Technology,Phones,AT&T 1070 Corded Phone,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16337,40.200001,5.0,18.0900,0.0,East,New Jersey,9968.0,CA-2018-153871,2018-12-11 00:00:00,2018-12-17 00:00:00,...,United States,Plainfield,7060.0,OFF-BI-10004209,Office Supplies,Binders,"Fellowes Twister Kit, Gray/Clear, 3/pkg",NaN,NaN,NaN
16338,735.979980,2.0,331.1910,0.0,East,New Jersey,9969.0,CA-2018-153871,2018-12-11 00:00:00,2018-12-17 00:00:00,...,United States,Plainfield,7060.0,OFF-BI-10004600,Office Supplies,Binders,Ibico Ibimaster 300 Manual Binding System,NaN,NaN,NaN
16339,22.750000,7.0,6.5975,0.0,East,New Jersey,9970.0,CA-2018-153871,2018-12-11 00:00:00,2018-12-17 00:00:00,...,United States,Plainfield,7060.0,OFF-AP-10003622,Office Supplies,Appliances,"Bravo II Megaboss 12-Amp Hard Body Upright, Re...",NaN,NaN,NaN
16340,31.500000,10.0,15.1200,0.0,East,New York,9985.0,CA-2016-100251,2016-05-17 00:00:00,2016-05-23 00:00:00,...,United States,Long Beach,11561.0,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,NaN,NaN,NaN
16341,55.599998,4.0,16.1240,0.0,East,New York,9986.0,CA-2016-100251,2016-05-17 00:00:00,2016-05-23 00:00:00,...,United States,Long Beach,11561.0,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,NaN,NaN,NaN

In [ ]:
mergeDF['RR'] = np.where(np.any(np.isnan(df[['Return Reason']])), 1, 0)