# styles
https://github.com/khuyentran1401/Efficient_Python_tricks_and_tools_for_data_scientists/tree/master/Chapter1

In [1]:
import pandas as pd

In [5]:
comparisons = pd.DataFrame(
{'p1' : [1,1,1,0,1],
 'p2' : [0,1,0,0,0],
 'p3' : [0,1,0,0,1]
})

In [6]:
comparisons

   p1  p2  p3
0   1   0   0
1   1   1   1
2   1   0   0
3   0   0   0
4   1   0   1

In [8]:
def highlight_cell(row):
    return [
        'background-color:red'
        if cell == 0
        else 'background-color:green'
        for cell in row
    ]

In [9]:
comparisons.style.apply(highlight_cell)